@import "imports";

::ng-deep {
  .__wrapper {
    @include elevation(4);
    @include border();

    position: relative;
    width: 100%;
    margin: 0 auto;
    background: $theme-shadow;
    padding: 0.75rem;
    font-size: 14px;
    color: white;
    opacity: 0.95;

    &:hover {
      z-index: 1;
    }
  }

  .row {
    display: flex;

    span {
      white-space: nowrap;
    }
  }

  .row.--header {
    justify-content: space-between;
  }

  .__rarity {
    text-transform: capitalize;

    &:focus {
      &.--epic {
        color: #b04bdf;
      }
      &.--rare {
        color: #3b8fff;
      }
      &.--uncommon {
        color: #45ff5e;
      }
      &.--legendary {
        color: #ffa500;
      }
    }
  }

  .row.--name {
    margin: 0.75rem 0;
  }

  .__name {
    margin-left: 0.25rem;
    padding: 0.25rem;
    font-size: 18px;
    font-weight: 700;
    flex: 1;
  }

  .row.--level {
    margin-top: 1rem;
  }

  .row.--source {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    flex-wrap: wrap;
  }

  .row.--materials {
    margin-left: 0.5rem;
    font-size: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto 1fr;
    grid-column-gap: 0.375rem;
    grid-row-gap: 0.125rem;
    align-items: center;
    cursor: text;

    + .row.--materials {
      margin-top: 0.1rem;
    }

    .icon-materials-container {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
    }

    .icon--materials {
      width: 64px;
      min-width: 64px;
      height: 64px;
      min-height: 64px;
      transform: scale(37.5%);
      transform-origin: top left;
    }
  }

  .row.--loot-table {
    margin-top: 1rem;
    font-size: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto 1fr;
    grid-column-gap: 0.375rem;
    grid-row-gap: 0.125rem;
    align-items: center;
    cursor: text;

    .icon-materials-container {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
    }

    .icon--materials {
      width: 64px;
      min-width: 64px;
      height: 64px;
      min-height: 64px;
      transform: scale(37.5%);
      transform-origin: top left;
    }
  }

  .row.--description {
    white-space: pre-line;
  }

  .__mat-amount {
    text-align: right;
  }
}
