@import "~@material/elevation/mixins";

$theme-primary: #488489;
$theme-secondary: #9cc6c9;
$theme-primary--hover: mix(#488489, #b7d6d8, 50%);
$theme-text: #ffffff;
$theme-shadow: #192b33;
$theme-border: #768376;

$border-radius: 0.75rem;
$spacing-viewport: 6vmin;

@mixin elevation($z) {
  @include mdc-elevation($z, $theme-shadow, 0);
}

@mixin border() {
  border: 0.2rem solid $theme-border;
  border-radius: $border-radius;
}

@mixin text-shadow() {
  text-shadow: 1px 0 1px $theme-shadow;
}

@mixin on-mobile() {
  @media (max-width: 992px) {
    @content;
  }
}
