@import "imports";

body {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $theme-primary;
  background-image: url("/assets/bg/bg-2048-1152.webp");

  @media (max-width: 1774px) and (max-height: 998px) {
    background-image: url("/assets/bg/bg-1774-998.webp");
  }

  @media (max-width: 1536px) and (max-height: 864px) {
    background-image: url("/assets/bg/bg-1536-864.webp");
  }

  @media (max-width: 1152px) and (max-height: 648px) {
    background-image: url("/assets/bg/bg-1152-648.webp");
  }

  @media (max-aspect-ratio: 1/1) and (max-height: 1152px) {
    background-image: url("/assets/bg/bg-1152.webp");
  }

  @media (max-aspect-ratio: 1/1) and (max-height: 998px) {
    background-image: url("/assets/bg/bg-998.webp");
  }

  @media (max-aspect-ratio: 1/1) and (max-height: 864px) {
    background-image: url("/assets/bg/bg-864.webp");
  }

  @media (max-aspect-ratio: 1/1) and (max-height: 648px) {
    background-image: url("/assets/bg/bg-648.webp");
  }
}
