:host {
  display: block;
}

.row.--name {
  position: relative;
}

.__icon {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 0;
  top: 40px;
  left: 40px;
  transform: scale(50%) translate(-50%, -50%);
}
