.icon--advisors {
  display: block;
  background-image: url("/assets/sprites/advisors.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--advisors--jqUgDC6h { background-position: 0 0; }
.icon--advisors--06CX7odt { background-position: 0 0.241546%; }
.icon--advisors--0ItYoTru { background-position: 0 0.483092%; }
.icon--advisors--0jmtTxrZ { background-position: 0 0.724638%; }
.icon--advisors--0KNK5gco { background-position: 0 0.966184%; }
.icon--advisors--0x4a6eeC { background-position: 0 1.207729%; }
.icon--advisors--1JCZYIsV { background-position: 0 1.449275%; }
.icon--advisors--1jOrzttE { background-position: 0 1.690821%; }
.icon--advisors--1RVZXsoS { background-position: 0 1.932367%; }
.icon--advisors--2beTD8V0 { background-position: 0 2.173913%; }
.icon--advisors--2e7cyGWc { background-position: 0 2.415459%; }
.icon--advisors--2gxzjDrI { background-position: 0 2.657005%; }
.icon--advisors--2MBBLuIN { background-position: 0 2.898551%; }
.icon--advisors--2sFtRvIe { background-position: 0 3.140097%; }
.icon--advisors--2WB4V20s { background-position: 0 3.381643%; }
.icon--advisors--36nJeMYb { background-position: 0 3.623188%; }
.icon--advisors--39xL3Xx0 { background-position: 0 3.864734%; }
.icon--advisors--3BqxOtkF { background-position: 0 4.10628%; }
.icon--advisors--3Ddx1MSp { background-position: 0 4.347826%; }
.icon--advisors--3eNycyOZ { background-position: 0 4.589372%; }
.icon--advisors--3htIQlO2 { background-position: 0 4.830918%; }
.icon--advisors--3ocBYWpi { background-position: 0 5.072464%; }
.icon--advisors--3rYRIFzS { background-position: 0 5.31401%; }
.icon--advisors--3uUH18qN { background-position: 0 5.555556%; }
.icon--advisors--4C0TCz8g { background-position: 0 5.797101%; }
.icon--advisors--4inopVnA { background-position: 0 6.038647%; }
.icon--advisors--4KoCKPYE { background-position: 0 6.280193%; }
.icon--advisors--4lBBJJMg { background-position: 0 6.521739%; }
.icon--advisors--4o63yeaC { background-position: 0 6.763285%; }
.icon--advisors--5B8fm4vr { background-position: 0 7.004831%; }
.icon--advisors--5DH0mrH7 { background-position: 0 7.246377%; }
.icon--advisors--5dYMtkxe { background-position: 0 7.487923%; }
.icon--advisors--5eAQ80gI { background-position: 0 7.729469%; }
.icon--advisors--5fJHkAOO { background-position: 0 7.971014%; }
.icon--advisors--5hNN1BL3 { background-position: 0 8.21256%; }
.icon--advisors--5IHYXJAN { background-position: 0 8.454106%; }
.icon--advisors--5l1NcuGv { background-position: 0 8.695652%; }
.icon--advisors--5ronNKpB { background-position: 0 8.937198%; }
.icon--advisors--5YotKTdR { background-position: 0 9.178744%; }
.icon--advisors--5z2mMMJv { background-position: 0 9.42029%; }
.icon--advisors--6Ck454nZ { background-position: 0 9.661836%; }
.icon--advisors--6lIlklXs { background-position: 0 9.903382%; }
.icon--advisors--6so56p6B { background-position: 0 10.144928%; }
.icon--advisors--6TNlRmiO { background-position: 0 10.386473%; }
.icon--advisors--71fGZcYS { background-position: 0 10.628019%; }
.icon--advisors--75N982EP { background-position: 0 10.869565%; }
.icon--advisors--77aJWKzH { background-position: 0 11.111111%; }
.icon--advisors--7bQ8wG3f { background-position: 0 11.352657%; }
.icon--advisors--7CGQpo8j { background-position: 0 11.594203%; }
.icon--advisors--7hR1dGHb { background-position: 0 11.835749%; }
.icon--advisors--7iFJOaWi { background-position: 0 12.077295%; }
.icon--advisors--7knOKHfl { background-position: 0 12.318841%; }
.icon--advisors--7mDu9tJM { background-position: 0 12.560386%; }
.icon--advisors--7nRzmtRF { background-position: 0 12.801932%; }
.icon--advisors--7qDLgmYH { background-position: 0 13.043478%; }
.icon--advisors--7qIiZqW4 { background-position: 0 13.285024%; }
.icon--advisors--878FAaWZ { background-position: 0 13.52657%; }
.icon--advisors--87gD7pbp { background-position: 0 13.768116%; }
.icon--advisors--891gW6hz { background-position: 0 14.009662%; }
.icon--advisors--8fZVxiuC { background-position: 0 14.251208%; }
.icon--advisors--8ImgijLG { background-position: 0 14.492754%; }
.icon--advisors--8iTXpUpv { background-position: 0 14.7343%; }
.icon--advisors--8uZDdKsU { background-position: 0 14.975845%; }
.icon--advisors--8Z4TEeRe { background-position: 0 15.217391%; }
.icon--advisors--924KpKTC { background-position: 0 15.458937%; }
.icon--advisors--92hC7Qep { background-position: 0 15.700483%; }
.icon--advisors--9CtsSjwO { background-position: 0 15.942029%; }
.icon--advisors--9NIsa2UC { background-position: 0 16.183575%; }
.icon--advisors--9pLaQBuo { background-position: 0 16.425121%; }
.icon--advisors--9RVkBYOe { background-position: 0 16.666667%; }
.icon--advisors--9sILOquM { background-position: 0 16.908213%; }
.icon--advisors--9w2VpXZp { background-position: 0 17.149758%; }
.icon--advisors--a1NcvqM7 { background-position: 0 17.391304%; }
.icon--advisors--A1RfyYog { background-position: 0 17.63285%; }
.icon--advisors--a8jSRujO { background-position: 0 17.874396%; }
.icon--advisors--ac7Ayxk6 { background-position: 0 18.115942%; }
.icon--advisors--AEXoU3Cd { background-position: 0 18.357488%; }
.icon--advisors--Af9uhlB7 { background-position: 0 18.599034%; }
.icon--advisors--AfFNvPZ0 { background-position: 0 18.84058%; }
.icon--advisors--ahnIET4p { background-position: 0 19.082126%; }
.icon--advisors--aJnAvqCP { background-position: 0 19.323671%; }
.icon--advisors--AL5eTDSe { background-position: 0 19.565217%; }
.icon--advisors--alYxA6gW { background-position: 0 19.806763%; }
.icon--advisors--AOB7vo1F { background-position: 0 20.048309%; }
.icon--advisors--ap0Tbn5L { background-position: 0 20.289855%; }
.icon--advisors--aYzIl6EE { background-position: 0 20.531401%; }
.icon--advisors--AZiCCm8z { background-position: 0 20.772947%; }
.icon--advisors--aZsGco35 { background-position: 0 21.014493%; }
.icon--advisors--b9o6YUPO { background-position: 0 21.256039%; }
.icon--advisors--Bc3Iiq5t { background-position: 0 21.497585%; }
.icon--advisors--biTlbnVD { background-position: 0 21.73913%; }
.icon--advisors--bkGzCr3Z { background-position: 0 21.980676%; }
.icon--advisors--BnpWoJmO { background-position: 0 22.222222%; }
.icon--advisors--Bo7oQaxO { background-position: 0 22.463768%; }
.icon--advisors--BPebT9Rc { background-position: 0 22.705314%; }
.icon--advisors--BrXVYfSR { background-position: 0 22.94686%; }
.icon--advisors--bvGqXOi5 { background-position: 0 23.188406%; }
.icon--advisors--BWb2dEuR { background-position: 0 23.429952%; }
.icon--advisors--BWslba72 { background-position: 0 23.671498%; }
.icon--advisors--c0yTzFLy { background-position: 0 23.913043%; }
.icon--advisors--c2b8mPlo { background-position: 0 24.154589%; }
.icon--advisors--C4Llr4Ul { background-position: 0 24.396135%; }
.icon--advisors--C9eejP76 { background-position: 0 24.637681%; }
.icon--advisors--CbhgQDgx { background-position: 0 24.879227%; }
.icon--advisors--CEjiGFK1 { background-position: 0 25.120773%; }
.icon--advisors--cembpOe3 { background-position: 0 25.362319%; }
.icon--advisors--cEUfEbI1 { background-position: 0 25.603865%; }
.icon--advisors--cJ6RZ30b { background-position: 0 25.845411%; }
.icon--advisors--CrqoJxVh { background-position: 0 26.086957%; }
.icon--advisors--CSV69AA0 { background-position: 0 26.328502%; }
.icon--advisors--CvNIAOCd { background-position: 0 26.570048%; }
.icon--advisors--cX60zVpE { background-position: 0 26.811594%; }
.icon--advisors--cxQ1b7Z5 { background-position: 0 27.05314%; }
.icon--advisors--CxsWN9Z6 { background-position: 0 27.294686%; }
.icon--advisors--cxvnr6MO { background-position: 0 27.536232%; }
.icon--advisors--czjjzudl { background-position: 0 27.777778%; }
.icon--advisors--d3PwO02l { background-position: 0 28.019324%; }
.icon--advisors--DBF9Zp45 { background-position: 0 28.26087%; }
.icon--advisors--dcmj5xhl { background-position: 0 28.502415%; }
.icon--advisors--dGKGoFqG { background-position: 0 28.743961%; }
.icon--advisors--DjGDu07a { background-position: 0 28.985507%; }
.icon--advisors--dJJwPlWb { background-position: 0 29.227053%; }
.icon--advisors--DN1rzeP3 { background-position: 0 29.468599%; }
.icon--advisors--dnLb7zit { background-position: 0 29.710145%; }
.icon--advisors--DnzlYLwy { background-position: 0 29.951691%; }
.icon--advisors--DPt4vSMW { background-position: 0 30.193237%; }
.icon--advisors--dsJZB8K2 { background-position: 0 30.434783%; }
.icon--advisors--DsOHKTbf { background-position: 0 30.676329%; }
.icon--advisors--dvM80tGq { background-position: 0 30.917874%; }
.icon--advisors--Dw6c3kg8 { background-position: 0 31.15942%; }
.icon--advisors--E1139xXW { background-position: 0 31.400966%; }
.icon--advisors--E1Mqvisn { background-position: 0 31.642512%; }
.icon--advisors--E3XtrqSW { background-position: 0 31.884058%; }
.icon--advisors--E5ejkt4i { background-position: 0 32.125604%; }
.icon--advisors--EAU8VLWj { background-position: 0 32.36715%; }
.icon--advisors--EBXK9yKT { background-position: 0 32.608696%; }
.icon--advisors--EDHwstRH { background-position: 0 32.850242%; }
.icon--advisors--EgAkHULb { background-position: 0 33.091787%; }
.icon--advisors--eGwEt6SC { background-position: 0 33.333333%; }
.icon--advisors--ehHuFuQq { background-position: 0 33.574879%; }
.icon--advisors--Ej4HzIHJ { background-position: 0 33.816425%; }
.icon--advisors--Ek43vvZd { background-position: 0 34.057971%; }
.icon--advisors--eKBF7xW6 { background-position: 0 34.299517%; }
.icon--advisors--eMH0FFsV { background-position: 0 34.541063%; }
.icon--advisors--en7xHF6Z { background-position: 0 34.782609%; }
.icon--advisors--EQ2afXGp { background-position: 0 35.024155%; }
.icon--advisors--ERWEuitb { background-position: 0 35.2657%; }
.icon--advisors--euynSbAq { background-position: 0 35.507246%; }
.icon--advisors--ewa6mrq2 { background-position: 0 35.748792%; }
.icon--advisors--EXBaVmsc { background-position: 0 35.990338%; }
.icon--advisors--f1S8iNqO { background-position: 0 36.231884%; }
.icon--advisors--F334ZWYM { background-position: 0 36.47343%; }
.icon--advisors--f89E4iUd { background-position: 0 36.714976%; }
.icon--advisors--FAkHXwXr { background-position: 0 36.956522%; }
.icon--advisors--FfOndV1I { background-position: 0 37.198068%; }
.icon--advisors--fHw9JOzh { background-position: 0 37.439614%; }
.icon--advisors--fJ3I24En { background-position: 0 37.681159%; }
.icon--advisors--FjeQdLK4 { background-position: 0 37.922705%; }
.icon--advisors--fKB8LQYo { background-position: 0 38.164251%; }
.icon--advisors--FlAQqAEB { background-position: 0 38.405797%; }
.icon--advisors--fqb2YgQ1 { background-position: 0 38.647343%; }
.icon--advisors--fR0P2jPB { background-position: 0 38.888889%; }
.icon--advisors--fVJhGaAT { background-position: 0 39.130435%; }
.icon--advisors--fXuaXBuG { background-position: 0 39.371981%; }
.icon--advisors--g8esINDH { background-position: 0 39.613527%; }
.icon--advisors--gBxfsOB6 { background-position: 0 39.855072%; }
.icon--advisors--gLlJYRcJ { background-position: 0 40.096618%; }
.icon--advisors--Gq2H0d9O { background-position: 0 40.338164%; }
.icon--advisors--GR1T8c1y { background-position: 0 40.57971%; }
.icon--advisors--gvnLupxC { background-position: 0 40.821256%; }
.icon--advisors--GwBx9oMW { background-position: 0 41.062802%; }
.icon--advisors--H12xVAA8 { background-position: 0 41.304348%; }
.icon--advisors--H37TrRIk { background-position: 0 41.545894%; }
.icon--advisors--h38w0wV9 { background-position: 0 41.78744%; }
.icon--advisors--h6GpwgmR { background-position: 0 42.028986%; }
.icon--advisors--h6Pl1Wgq { background-position: 0 42.270531%; }
.icon--advisors--HBwkSbX8 { background-position: 0 42.512077%; }
.icon--advisors--HBxKKzKV { background-position: 0 42.753623%; }
.icon--advisors--HDg3I2Gg { background-position: 0 42.995169%; }
.icon--advisors--hk8s4nyQ { background-position: 0 43.236715%; }
.icon--advisors--HLTcAgJn { background-position: 0 43.478261%; }
.icon--advisors--hnc0AdrE { background-position: 0 43.719807%; }
.icon--advisors--hR2ZIP9i { background-position: 0 43.961353%; }
.icon--advisors--HROqUS9H { background-position: 0 44.202899%; }
.icon--advisors--HuYnY2s0 { background-position: 0 44.444444%; }
.icon--advisors--HvfpSPOp { background-position: 0 44.68599%; }
.icon--advisors--I0JFrtPC { background-position: 0 44.927536%; }
.icon--advisors--IBTXP67Y { background-position: 0 45.169082%; }
.icon--advisors--iCLm7v76 { background-position: 0 45.410628%; }
.icon--advisors--IEAGsu1a { background-position: 0 45.652174%; }
.icon--advisors--imZjlT77 { background-position: 0 45.89372%; }
.icon--advisors--Inyj1YHg { background-position: 0 46.135266%; }
.icon--advisors--iQD3L7DI { background-position: 0 46.376812%; }
.icon--advisors--IufRNoqj { background-position: 0 46.618357%; }
.icon--advisors--iWa9wSqN { background-position: 0 46.859903%; }
.icon--advisors--iY1Sf5xj { background-position: 0 47.101449%; }
.icon--advisors--J1JlrEFh { background-position: 0 47.342995%; }
.icon--advisors--j601i7xG { background-position: 0 47.584541%; }
.icon--advisors--jb6mSfG9 { background-position: 0 47.826087%; }
.icon--advisors--JcNJwezo { background-position: 0 48.067633%; }
.icon--advisors--JdwjJkNH { background-position: 0 48.309179%; }
.icon--advisors--jh8wiXhP { background-position: 0 48.550725%; }
.icon--advisors--JIlIfEzj { background-position: 0 48.792271%; }
.icon--advisors--JjE3UeKh { background-position: 0 49.033816%; }
.icon--advisors--JjsVaBIa { background-position: 0 49.275362%; }
.icon--advisors--jkhzduHu { background-position: 0 49.516908%; }
.icon--advisors--JmMfotQR { background-position: 0 49.758454%; }
.icon--advisors--0b7lSvLL { background-position: 0 50%; }
.icon--advisors--JT6I4Apo { background-position: 0 50.241546%; }
.icon--advisors--JtToxY9x { background-position: 0 50.483092%; }
.icon--advisors--juI7ZhZC { background-position: 0 50.724638%; }
.icon--advisors--jUXi4wk1 { background-position: 0 50.966184%; }
.icon--advisors--jWzZ5p5r { background-position: 0 51.207729%; }
.icon--advisors--jYCmCzWS { background-position: 0 51.449275%; }
.icon--advisors--Jyr3Fcdt { background-position: 0 51.690821%; }
.icon--advisors--k2ei3WVS { background-position: 0 51.932367%; }
.icon--advisors--K3cIcepj { background-position: 0 52.173913%; }
.icon--advisors--K3jgbjfE { background-position: 0 52.415459%; }
.icon--advisors--kBW435T5 { background-position: 0 52.657005%; }
.icon--advisors--KE0AsMEn { background-position: 0 52.898551%; }
.icon--advisors--KEOT2TXA { background-position: 0 53.140097%; }
.icon--advisors--Kfp3NENB { background-position: 0 53.381643%; }
.icon--advisors--kGYdGxLu { background-position: 0 53.623188%; }
.icon--advisors--kGzxNAIZ { background-position: 0 53.864734%; }
.icon--advisors--kILx4gjX { background-position: 0 54.10628%; }
.icon--advisors--kmc5iJHC { background-position: 0 54.347826%; }
.icon--advisors--KQG6iQiE { background-position: 0 54.589372%; }
.icon--advisors--KrR8ZKej { background-position: 0 54.830918%; }
.icon--advisors--Kt2NlO7w { background-position: 0 55.072464%; }
.icon--advisors--kXNxiFV1 { background-position: 0 55.31401%; }
.icon--advisors--kygYt8wd { background-position: 0 55.555556%; }
.icon--advisors--kzycu6DA { background-position: 0 55.797101%; }
.icon--advisors--L9Fi9jUW { background-position: 0 56.038647%; }
.icon--advisors--LG3r3BjK { background-position: 0 56.280193%; }
.icon--advisors--LGF8Yfjy { background-position: 0 56.521739%; }
.icon--advisors--lgRTVFdo { background-position: 0 56.763285%; }
.icon--advisors--lK8EhEN3 { background-position: 0 57.004831%; }
.icon--advisors--LKWFmR6R { background-position: 0 57.246377%; }
.icon--advisors--lMmWMzS4 { background-position: 0 57.487923%; }
.icon--advisors--LNenI6GC { background-position: 0 57.729469%; }
.icon--advisors--lqZuLEW8 { background-position: 0 57.971014%; }
.icon--advisors--lvuJ38xZ { background-position: 0 58.21256%; }
.icon--advisors--LyTdy3GY { background-position: 0 58.454106%; }
.icon--advisors--m18O9epm { background-position: 0 58.695652%; }
.icon--advisors--m3NEkInN { background-position: 0 58.937198%; }
.icon--advisors--M7PFw0gF { background-position: 0 59.178744%; }
.icon--advisors--MfnhCDuM { background-position: 0 59.42029%; }
.icon--advisors--MHigAPZ0 { background-position: 0 59.661836%; }
.icon--advisors--mjVPw5xq { background-position: 0 59.903382%; }
.icon--advisors--MlT9EpYE { background-position: 0 60.144928%; }
.icon--advisors--MmMw0Jxs { background-position: 0 60.386473%; }
.icon--advisors--MPo8MCvA { background-position: 0 60.628019%; }
.icon--advisors--MQ2XN9Ef { background-position: 0 60.869565%; }
.icon--advisors--mu3q2k2K { background-position: 0 61.111111%; }
.icon--advisors--N0OZ0DPf { background-position: 0 61.352657%; }
.icon--advisors--N3Vn12FW { background-position: 0 61.594203%; }
.icon--advisors--N4VlChJt { background-position: 0 61.835749%; }
.icon--advisors--NEkP15cq { background-position: 0 62.077295%; }
.icon--advisors--NfF4h9OG { background-position: 0 62.318841%; }
.icon--advisors--NgyThKjO { background-position: 0 62.560386%; }
.icon--advisors--nhfRmNT1 { background-position: 0 62.801932%; }
.icon--advisors--NI8hRWbS { background-position: 0 63.043478%; }
.icon--advisors--nQ7SQsOV { background-position: 0 63.285024%; }
.icon--advisors--NQStSIUX { background-position: 0 63.52657%; }
.icon--advisors--NTJZEELB { background-position: 0 63.768116%; }
.icon--advisors--nX3zv9d9 { background-position: 0 64.009662%; }
.icon--advisors--nXn0P8gx { background-position: 0 64.251208%; }
.icon--advisors--nZ2Apvig { background-position: 0 64.492754%; }
.icon--advisors--nzqN2UXR { background-position: 0 64.7343%; }
.icon--advisors--o2fEmnT7 { background-position: 0 64.975845%; }
.icon--advisors--O5QLcojq { background-position: 0 65.217391%; }
.icon--advisors--O5zVlhoY { background-position: 0 65.458937%; }
.icon--advisors--OC88nO7p { background-position: 0 65.700483%; }
.icon--advisors--occE7EjZ { background-position: 0 65.942029%; }
.icon--advisors--oEbrUusV { background-position: 0 66.183575%; }
.icon--advisors--OlNbY0yA { background-position: 0 66.425121%; }
.icon--advisors--Or9VD4AN { background-position: 0 66.666667%; }
.icon--advisors--OsQ41mPy { background-position: 0 66.908213%; }
.icon--advisors--Ot9AEPYv { background-position: 0 67.149758%; }
.icon--advisors--OUAGSL25 { background-position: 0 67.391304%; }
.icon--advisors--oVQF4eKQ { background-position: 0 67.63285%; }
.icon--advisors--oW2m9Zme { background-position: 0 67.874396%; }
.icon--advisors--oWCpki3E { background-position: 0 68.115942%; }
.icon--advisors--owNCVB2N { background-position: 0 68.357488%; }
.icon--advisors--p26ZftEV { background-position: 0 68.599034%; }
.icon--advisors--P4lBNL6G { background-position: 0 68.84058%; }
.icon--advisors--p9ZDvk2J { background-position: 0 69.082126%; }
.icon--advisors--PbxVW2nW { background-position: 0 69.323671%; }
.icon--advisors--pDsoXRq5 { background-position: 0 69.565217%; }
.icon--advisors--pDZiyv9u { background-position: 0 69.806763%; }
.icon--advisors--Pezpub1x { background-position: 0 70.048309%; }
.icon--advisors--pF6s7CN6 { background-position: 0 70.289855%; }
.icon--advisors--PKuS1WFC { background-position: 0 70.531401%; }
.icon--advisors--pM0Acb21 { background-position: 0 70.772947%; }
.icon--advisors--pMGRpJ92 { background-position: 0 71.014493%; }
.icon--advisors--pMnIMFl0 { background-position: 0 71.256039%; }
.icon--advisors--PmZBR5AZ { background-position: 0 71.497585%; }
.icon--advisors--pnfOIFWa { background-position: 0 71.73913%; }
.icon--advisors--pr4LL69y { background-position: 0 71.980676%; }
.icon--advisors--pSQ5TCss { background-position: 0 72.222222%; }
.icon--advisors--ptRRIyDQ { background-position: 0 72.463768%; }
.icon--advisors--pWTCx4Zf { background-position: 0 72.705314%; }
.icon--advisors--q0KE6RtR { background-position: 0 72.94686%; }
.icon--advisors--Q7e83X2o { background-position: 0 73.188406%; }
.icon--advisors--QatsehwE { background-position: 0 73.429952%; }
.icon--advisors--Qd1b8UVP { background-position: 0 73.671498%; }
.icon--advisors--qJl3AQ1I { background-position: 0 73.913043%; }
.icon--advisors--QMY3JkQI { background-position: 0 74.154589%; }
.icon--advisors--qnJAe6JQ { background-position: 0 74.396135%; }
.icon--advisors--QTRkDxgR { background-position: 0 74.637681%; }
.icon--advisors--qylbUGBb { background-position: 0 74.879227%; }
.icon--advisors--r1YzL6IT { background-position: 0 75.120773%; }
.icon--advisors--r2wCnkT0 { background-position: 0 75.362319%; }
.icon--advisors--R5HvyagE { background-position: 0 75.603865%; }
.icon--advisors--rAAELFhK { background-position: 0 75.845411%; }
.icon--advisors--RcDcn4K3 { background-position: 0 76.086957%; }
.icon--advisors--rDTeulql { background-position: 0 76.328502%; }
.icon--advisors--rDXVAV7q { background-position: 0 76.570048%; }
.icon--advisors--rgxZJGEx { background-position: 0 76.811594%; }
.icon--advisors--rNUxPipI { background-position: 0 77.05314%; }
.icon--advisors--rpJQfiPt { background-position: 0 77.294686%; }
.icon--advisors--RQLclEOV { background-position: 0 77.536232%; }
.icon--advisors--RRFCms8N { background-position: 0 77.777778%; }
.icon--advisors--rSHY9rGn { background-position: 0 78.019324%; }
.icon--advisors--rwrwiUKE { background-position: 0 78.26087%; }
.icon--advisors--RZEMRHml { background-position: 0 78.502415%; }
.icon--advisors--S6m4SpZi { background-position: 0 78.743961%; }
.icon--advisors--s82nfgNN { background-position: 0 78.985507%; }
.icon--advisors--sdBghkte { background-position: 0 79.227053%; }
.icon--advisors--Sf9KLUMM { background-position: 0 79.468599%; }
.icon--advisors--SI1WSvo9 { background-position: 0 79.710145%; }
.icon--advisors--SMyepqW6 { background-position: 0 79.951691%; }
.icon--advisors--sTX1zpLx { background-position: 0 80.193237%; }
.icon--advisors--SzQ1tPE0 { background-position: 0 80.434783%; }
.icon--advisors--t77VEYZx { background-position: 0 80.676329%; }
.icon--advisors--t7fBbceU { background-position: 0 80.917874%; }
.icon--advisors--tAR4G9LQ { background-position: 0 81.15942%; }
.icon--advisors--tfsFV2LU { background-position: 0 81.400966%; }
.icon--advisors--tMDlejtT { background-position: 0 81.642512%; }
.icon--advisors--TodlLIKC { background-position: 0 81.884058%; }
.icon--advisors--tOdZ7YTM { background-position: 0 82.125604%; }
.icon--advisors--ToHd3EUu { background-position: 0 82.36715%; }
.icon--advisors--TpYIKYnL { background-position: 0 82.608696%; }
.icon--advisors--tq2grS9Z { background-position: 0 82.850242%; }
.icon--advisors--trUNq5hw { background-position: 0 83.091787%; }
.icon--advisors--TwoAZgHb { background-position: 0 83.333333%; }
.icon--advisors--tXj7zXjG { background-position: 0 83.574879%; }
.icon--advisors--tzcMHDJR { background-position: 0 83.816425%; }
.icon--advisors--u2uXoZgk { background-position: 0 84.057971%; }
.icon--advisors--UADtZUrs { background-position: 0 84.299517%; }
.icon--advisors--UAEdAJnB { background-position: 0 84.541063%; }
.icon--advisors--UAeEEcoo { background-position: 0 84.782609%; }
.icon--advisors--UEEV4O5n { background-position: 0 85.024155%; }
.icon--advisors--uMec8t2M { background-position: 0 85.2657%; }
.icon--advisors--unt3DU8T { background-position: 0 85.507246%; }
.icon--advisors--UOANs3Sz { background-position: 0 85.748792%; }
.icon--advisors--UQKZd4le { background-position: 0 85.990338%; }
.icon--advisors--vBh32Y7R { background-position: 0 86.231884%; }
.icon--advisors--VBUxZsFC { background-position: 0 86.47343%; }
.icon--advisors--vDRpvQZY { background-position: 0 86.714976%; }
.icon--advisors--VEUlenbh { background-position: 0 86.956522%; }
.icon--advisors--VgnI2Imc { background-position: 0 87.198068%; }
.icon--advisors--VHfMCgPv { background-position: 0 87.439614%; }
.icon--advisors--VnbKIUGL { background-position: 0 87.681159%; }
.icon--advisors--vonHhLwW { background-position: 0 87.922705%; }
.icon--advisors--VpD1LTCo { background-position: 0 88.164251%; }
.icon--advisors--VQPXbqzt { background-position: 0 88.405797%; }
.icon--advisors--VSHKlCrt { background-position: 0 88.647343%; }
.icon--advisors--VtujFBY8 { background-position: 0 88.888889%; }
.icon--advisors--vUY2YlED { background-position: 0 89.130435%; }
.icon--advisors--vVv2npks { background-position: 0 89.371981%; }
.icon--advisors--VwW0sRmK { background-position: 0 89.613527%; }
.icon--advisors--Vz07htIo { background-position: 0 89.855072%; }
.icon--advisors--w1XLMZ7Q { background-position: 0 90.096618%; }
.icon--advisors--w6TOQ1J8 { background-position: 0 90.338164%; }
.icon--advisors--wfATZnRG { background-position: 0 90.57971%; }
.icon--advisors--WfIMDWVw { background-position: 0 90.821256%; }
.icon--advisors--WFiPSJm8 { background-position: 0 91.062802%; }
.icon--advisors--wgkazoAE { background-position: 0 91.304348%; }
.icon--advisors--wOH7dYzm { background-position: 0 91.545894%; }
.icon--advisors--wSLeyXAp { background-position: 0 91.78744%; }
.icon--advisors--wTkepKuu { background-position: 0 92.028986%; }
.icon--advisors--wvKaZho2 { background-position: 0 92.270531%; }
.icon--advisors--X3TE0dGc { background-position: 0 92.512077%; }
.icon--advisors--x3wHdfjh { background-position: 0 92.753623%; }
.icon--advisors--X3x6urcK { background-position: 0 92.995169%; }
.icon--advisors--X6pk3ZrR { background-position: 0 93.236715%; }
.icon--advisors--XaPIJenV { background-position: 0 93.478261%; }
.icon--advisors--xBkcFykJ { background-position: 0 93.719807%; }
.icon--advisors--XdRrG2wg { background-position: 0 93.961353%; }
.icon--advisors--xfON36iX { background-position: 0 94.202899%; }
.icon--advisors--Xg7jWzlY { background-position: 0 94.444444%; }
.icon--advisors--xryyghEl { background-position: 0 94.68599%; }
.icon--advisors--XsL8TVpY { background-position: 0 94.927536%; }
.icon--advisors--XyhDBTdn { background-position: 0 95.169082%; }
.icon--advisors--XzfCAxAj { background-position: 0 95.410628%; }
.icon--advisors--y1NdGjZ0 { background-position: 0 95.652174%; }
.icon--advisors--ycmH85Jo { background-position: 0 95.89372%; }
.icon--advisors--ymFERxOv { background-position: 0 96.135266%; }
.icon--advisors--YpbePQla { background-position: 0 96.376812%; }
.icon--advisors--yQMsupue { background-position: 0 96.618357%; }
.icon--advisors--yril32X6 { background-position: 0 96.859903%; }
.icon--advisors--ySoFcM6g { background-position: 0 97.101449%; }
.icon--advisors--Yxi769cn { background-position: 0 97.342995%; }
.icon--advisors--YYEU3p6r { background-position: 0 97.584541%; }
.icon--advisors--YzG5UWMd { background-position: 0 97.826087%; }
.icon--advisors--Z472CCIb { background-position: 0 98.067633%; }
.icon--advisors--Z4SPAtGd { background-position: 0 98.309179%; }
.icon--advisors--Z5NFGH86 { background-position: 0 98.550725%; }
.icon--advisors--Z6oMMoZU { background-position: 0 98.792271%; }
.icon--advisors--zNP9iUhF { background-position: 0 99.033816%; }
.icon--advisors--ZoZlQ5or { background-position: 0 99.275362%; }
.icon--advisors--ZReomIb0 { background-position: 0 99.516908%; }
.icon--advisors--zSSDmOfQ { background-position: 0 99.758454%; }
.icon--advisors--zSsl8uVp { background-position: 0 100%; }
