.icon--blueprints {
  display: block;
  background-image: url("/assets/sprites/blueprints.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--blueprints--062iB11Q { background-position: 0 0; }
.icon--blueprints--0XxQUULs { background-position: 0 5.263158%; }
.icon--blueprints--1rmYvcWx { background-position: 0 10.526316%; }
.icon--blueprints--2LL8wWPo { background-position: 0 15.789474%; }
.icon--blueprints--3VIrdaD6 { background-position: 0 21.052632%; }
.icon--blueprints--62Spn6Jr { background-position: 0 26.315789%; }
.icon--blueprints--7HZecWpk { background-position: 0 31.578947%; }
.icon--blueprints--9MAqncOX { background-position: 0 36.842105%; }
.icon--blueprints--AUDIUDSZ { background-position: 0 42.105263%; }
.icon--blueprints--CBkU8YQT { background-position: 0 47.368421%; }
.icon--blueprints--DxmmI5A7 { background-position: 0 52.631579%; }
.icon--blueprints--fEwrWFo7 { background-position: 0 57.894737%; }
.icon--blueprints--hODHOfPY { background-position: 0 63.157895%; }
.icon--blueprints--jtF3kqCb { background-position: 0 68.421053%; }
.icon--blueprints--mf8pApzu { background-position: 0 73.684211%; }
.icon--blueprints--oclRzeYs { background-position: 0 78.947368%; }
.icon--blueprints--q5AxvYHS { background-position: 0 84.210526%; }
.icon--blueprints--T0jnqwBi { background-position: 0 89.473684%; }
.icon--blueprints--vJf4oBxo { background-position: 0 94.736842%; }
.icon--blueprints--YOM8j1V2 { background-position: 0 100%; }
.icon--blueprints--0PgZQ2HJ { background-position: 5.263158% 0; }
.icon--blueprints--1iAzxXZC { background-position: 5.263158% 5.263158%; }
.icon--blueprints--1S4JCfA9 { background-position: 5.263158% 10.526316%; }
.icon--blueprints--2Oo1YpvV { background-position: 5.263158% 15.789474%; }
.icon--blueprints--3XY0cA08 { background-position: 5.263158% 21.052632%; }
.icon--blueprints--6i4tVdAm { background-position: 5.263158% 26.315789%; }
.icon--blueprints--7rBG9J31 { background-position: 5.263158% 31.578947%; }
.icon--blueprints--9Plo5oNk { background-position: 5.263158% 36.842105%; }
.icon--blueprints--AXn6GCvz { background-position: 5.263158% 42.105263%; }
.icon--blueprints--CBoGrl4i { background-position: 5.263158% 47.368421%; }
.icon--blueprints--dYAgxG0y { background-position: 5.263158% 52.631579%; }
.icon--blueprints--FgbHM5SA { background-position: 5.263158% 57.894737%; }
.icon--blueprints--HOPAOUBu { background-position: 5.263158% 63.157895%; }
.icon--blueprints--Jv1D8lJO { background-position: 5.263158% 68.421053%; }
.icon--blueprints--mfMitN7c { background-position: 5.263158% 73.684211%; }
.icon--blueprints--odbYQMWA { background-position: 5.263158% 78.947368%; }
.icon--blueprints--Q9JOGn2H { background-position: 5.263158% 84.210526%; }
.icon--blueprints--t6zujFzc { background-position: 5.263158% 89.473684%; }
.icon--blueprints--vkkOFsxX { background-position: 5.263158% 94.736842%; }
.icon--blueprints--YQ9GB0dg { background-position: 5.263158% 100%; }
.icon--blueprints--1JO7Xuua { background-position: 10.526316% 0; }
.icon--blueprints--1QPT1sWy { background-position: 10.526316% 5.263158%; }
.icon--blueprints--1sLfjVr6 { background-position: 10.526316% 10.526316%; }
.icon--blueprints--2synZD6m { background-position: 10.526316% 15.789474%; }
.icon--blueprints--3XZ9pa34 { background-position: 10.526316% 21.052632%; }
.icon--blueprints--6J5YTewA { background-position: 10.526316% 26.315789%; }
.icon--blueprints--7xg2v5qx { background-position: 10.526316% 31.578947%; }
.icon--blueprints--9UEBGkiF { background-position: 10.526316% 36.842105%; }
.icon--blueprints--Axn8byHz { background-position: 10.526316% 42.105263%; }
.icon--blueprints--cDAaG5cy { background-position: 10.526316% 47.368421%; }
.icon--blueprints--DyKgL8sp { background-position: 10.526316% 52.631579%; }
.icon--blueprints--FGc2Xwin { background-position: 10.526316% 57.894737%; }
.icon--blueprints--HoTPUkVl { background-position: 10.526316% 63.157895%; }
.icon--blueprints--JW1v0cTq { background-position: 10.526316% 68.421053%; }
.icon--blueprints--MKDlzYat { background-position: 10.526316% 73.684211%; }
.icon--blueprints--odLZtf1t { background-position: 10.526316% 78.947368%; }
.icon--blueprints--qbuttlNc { background-position: 10.526316% 84.210526%; }
.icon--blueprints--T8JlbJAH { background-position: 10.526316% 89.473684%; }
.icon--blueprints--VpJcEIUC { background-position: 10.526316% 94.736842%; }
.icon--blueprints--yRZmanID { background-position: 10.526316% 100%; }
.icon--blueprints--1UbIHM6c { background-position: 15.789474% 0; }
.icon--blueprints--1YoeVFKi { background-position: 15.789474% 5.263158%; }
.icon--blueprints--239YNHW8 { background-position: 15.789474% 10.526316%; }
.icon--blueprints--2ubfB9TG { background-position: 15.789474% 15.789474%; }
.icon--blueprints--419yjKEf { background-position: 15.789474% 21.052632%; }
.icon--blueprints--6lxgYTDo { background-position: 15.789474% 26.315789%; }
.icon--blueprints--7Y2ECjh2 { background-position: 15.789474% 31.578947%; }
.icon--blueprints--9UtwUN8n { background-position: 15.789474% 36.842105%; }
.icon--blueprints--B1GiBVqZ { background-position: 15.789474% 42.105263%; }
.icon--blueprints--cgQM9cHk { background-position: 15.789474% 47.368421%; }
.icon--blueprints--e0MEBRDk { background-position: 15.789474% 52.631579%; }
.icon--blueprints--FhDv6BMi { background-position: 15.789474% 57.894737%; }
.icon--blueprints--hrzRjMcm { background-position: 15.789474% 63.157895%; }
.icon--blueprints--jzTGM3SV { background-position: 15.789474% 68.421053%; }
.icon--blueprints--MlbDPGvT { background-position: 15.789474% 73.684211%; }
.icon--blueprints--okDA2WFr { background-position: 15.789474% 78.947368%; }
.icon--blueprints--qCsc6HgP { background-position: 15.789474% 84.210526%; }
.icon--blueprints--TcbyfO4w { background-position: 15.789474% 89.473684%; }
.icon--blueprints--vQ5vEJ2f { background-position: 15.789474% 94.736842%; }
.icon--blueprints--ys7d6U8O { background-position: 15.789474% 100%; }
.icon--blueprints--2uVqy2dC { background-position: 21.052632% 0; }
.icon--blueprints--2WkrfD9U { background-position: 21.052632% 5.263158%; }
.icon--blueprints--3BmwHrM1 { background-position: 21.052632% 10.526316%; }
.icon--blueprints--3mLOyVNO { background-position: 21.052632% 15.789474%; }
.icon--blueprints--4fxo3AH5 { background-position: 21.052632% 21.052632%; }
.icon--blueprints--6pwE1lwx { background-position: 21.052632% 26.315789%; }
.icon--blueprints--7ZL4TdMa { background-position: 21.052632% 31.578947%; }
.icon--blueprints--ACUoIvQX { background-position: 21.052632% 36.842105%; }
.icon--blueprints--b3qzXrn3 { background-position: 21.052632% 42.105263%; }
.icon--blueprints--cIzBGtww { background-position: 21.052632% 47.368421%; }
.icon--blueprints--E0ziq1Kd { background-position: 21.052632% 52.631579%; }
.icon--blueprints--flTvdvAS { background-position: 21.052632% 57.894737%; }
.icon--blueprints--HUcqReUx { background-position: 21.052632% 63.157895%; }
.icon--blueprints--kbtfmWAr { background-position: 21.052632% 68.421053%; }
.icon--blueprints--MoTlqjk9 { background-position: 21.052632% 73.684211%; }
.icon--blueprints--OM9wIYWX { background-position: 21.052632% 78.947368%; }
.icon--blueprints--qDdGpT8k { background-position: 21.052632% 84.210526%; }
.icon--blueprints--tFyremjs { background-position: 21.052632% 89.473684%; }
.icon--blueprints--VqkVDDQa { background-position: 21.052632% 94.736842%; }
.icon--blueprints--yvplDhSe { background-position: 21.052632% 100%; }
.icon--blueprints--5BMH0XNU { background-position: 26.315789% 0; }
.icon--blueprints--5bpiEryi { background-position: 26.315789% 5.263158%; }
.icon--blueprints--5bTcRso5 { background-position: 26.315789% 10.526316%; }
.icon--blueprints--5hs0RkrP { background-position: 26.315789% 15.789474%; }
.icon--blueprints--5WMesXxe { background-position: 26.315789% 21.052632%; }
.icon--blueprints--6qKHxQHE { background-position: 26.315789% 26.315789%; }
.icon--blueprints--83Ym5Pbt { background-position: 26.315789% 31.578947%; }
.icon--blueprints--aG6XfgTt { background-position: 26.315789% 36.842105%; }
.icon--blueprints--B5m7fd9T { background-position: 26.315789% 42.105263%; }
.icon--blueprints--CqzKEO1o { background-position: 26.315789% 47.368421%; }
.icon--blueprints--eAMh1moC { background-position: 26.315789% 52.631579%; }
.icon--blueprints--Fva12CGo { background-position: 26.315789% 57.894737%; }
.icon--blueprints--hUTg4mks { background-position: 26.315789% 63.157895%; }
.icon--blueprints--kc1mJR2T { background-position: 26.315789% 68.421053%; }
.icon--blueprints--Mp45YB2s { background-position: 26.315789% 73.684211%; }
.icon--blueprints--OPAlxlXb { background-position: 26.315789% 78.947368%; }
.icon--blueprints--qeL0Y2aN { background-position: 26.315789% 84.210526%; }
.icon--blueprints--tGG9x5Uz { background-position: 26.315789% 89.473684%; }
.icon--blueprints--VVXC35ok { background-position: 26.315789% 94.736842%; }
.icon--blueprints--YxBlBItM { background-position: 26.315789% 100%; }
.icon--blueprints--6qnds80c { background-position: 31.578947% 0; }
.icon--blueprints--6r8sm53U { background-position: 31.578947% 5.263158%; }
.icon--blueprints--6rbjS6so { background-position: 31.578947% 10.526316%; }
.icon--blueprints--6SwZDmjq { background-position: 31.578947% 15.789474%; }
.icon--blueprints--6UsfupXQ { background-position: 31.578947% 21.052632%; }
.icon--blueprints--6ys8bmHF { background-position: 31.578947% 26.315789%; }
.icon--blueprints--8aFNt9Ee { background-position: 31.578947% 31.578947%; }
.icon--blueprints--ag7ZcINM { background-position: 31.578947% 36.842105%; }
.icon--blueprints--BdCy970c { background-position: 31.578947% 42.105263%; }
.icon--blueprints--CWEioVtV { background-position: 31.578947% 47.368421%; }
.icon--blueprints--ebaqyEMK { background-position: 31.578947% 52.631579%; }
.icon--blueprints--FWQzRgq5 { background-position: 31.578947% 57.894737%; }
.icon--blueprints--HvbNxc7a { background-position: 31.578947% 63.157895%; }
.icon--blueprints--kcgk5ut5 { background-position: 31.578947% 68.421053%; }
.icon--blueprints--mTPOYDUr { background-position: 31.578947% 73.684211%; }
.icon--blueprints--oPPSd2VB { background-position: 31.578947% 78.947368%; }
.icon--blueprints--QGzs6E0U { background-position: 31.578947% 84.210526%; }
.icon--blueprints--tGKBMHbJ { background-position: 31.578947% 89.473684%; }
.icon--blueprints--w2dL03Nt { background-position: 31.578947% 94.736842%; }
.icon--blueprints--yyh44Crz { background-position: 31.578947% 100%; }
.icon--blueprints--8B29n8Yx { background-position: 36.842105% 0; }
.icon--blueprints--8krr66fM { background-position: 36.842105% 5.263158%; }
.icon--blueprints--8qHoIcZO { background-position: 36.842105% 10.526316%; }
.icon--blueprints--8Rx1fr0Z { background-position: 36.842105% 15.789474%; }
.icon--blueprints--8SMV4LLg { background-position: 36.842105% 21.052632%; }
.icon--blueprints--99LDUh57 { background-position: 36.842105% 26.315789%; }
.icon--blueprints--99oy3z7V { background-position: 36.842105% 31.578947%; }
.icon--blueprints--AgAa1V1O { background-position: 36.842105% 36.842105%; }
.icon--blueprints--BgzKPH4K { background-position: 36.842105% 42.105263%; }
.icon--blueprints--d5niBF5m { background-position: 36.842105% 47.368421%; }
.icon--blueprints--ebqlY1Yx { background-position: 36.842105% 52.631579%; }
.icon--blueprints--fzODvomr { background-position: 36.842105% 57.894737%; }
.icon--blueprints--HXql8w0a { background-position: 36.842105% 63.157895%; }
.icon--blueprints--kEelsmsr { background-position: 36.842105% 68.421053%; }
.icon--blueprints--mV5sNd8l { background-position: 36.842105% 73.684211%; }
.icon--blueprints--ORnVXHtU { background-position: 36.842105% 78.947368%; }
.icon--blueprints--qlg6U27h { background-position: 36.842105% 84.210526%; }
.icon--blueprints--tjjzKQqD { background-position: 36.842105% 89.473684%; }
.icon--blueprints--wBmLQ2Kn { background-position: 36.842105% 94.736842%; }
.icon--blueprints--ZF7QUdgc { background-position: 36.842105% 100%; }
.icon--blueprints--AgUrdutk { background-position: 42.105263% 0; }
.icon--blueprints--Ah6witok { background-position: 42.105263% 5.263158%; }
.icon--blueprints--aI2dmi3E { background-position: 42.105263% 10.526316%; }
.icon--blueprints--aPSeWo8h { background-position: 42.105263% 15.789474%; }
.icon--blueprints--AQSnD27c { background-position: 42.105263% 21.052632%; }
.icon--blueprints--asfeH3f4 { background-position: 42.105263% 26.315789%; }
.icon--blueprints--asSSdica { background-position: 42.105263% 31.578947%; }
.icon--blueprints--AuAIDsAA { background-position: 42.105263% 36.842105%; }
.icon--blueprints--BHZJjJ0H { background-position: 42.105263% 42.105263%; }
.icon--blueprints--DCG82YBz { background-position: 42.105263% 47.368421%; }
.icon--blueprints--eIY0gkwI { background-position: 42.105263% 52.631579%; }
.icon--blueprints--g60eBy52 { background-position: 42.105263% 57.894737%; }
.icon--blueprints--HXZlCNnI { background-position: 42.105263% 63.157895%; }
.icon--blueprints--kjMYZKPO { background-position: 42.105263% 68.421053%; }
.icon--blueprints--MxpLDIGc { background-position: 42.105263% 73.684211%; }
.icon--blueprints--ORO7PA5S { background-position: 42.105263% 78.947368%; }
.icon--blueprints--qNGeMj3n { background-position: 42.105263% 84.210526%; }
.icon--blueprints--tlJOKDmo { background-position: 42.105263% 89.473684%; }
.icon--blueprints--wEapvVFb { background-position: 42.105263% 94.736842%; }
.icon--blueprints--ZFKFL0lb { background-position: 42.105263% 100%; }
.icon--blueprints--BKnOOq8J { background-position: 47.368421% 0; }
.icon--blueprints--bM5EIvw9 { background-position: 47.368421% 5.263158%; }
.icon--blueprints--BrjhwL2W { background-position: 47.368421% 10.526316%; }
.icon--blueprints--btknpkUs { background-position: 47.368421% 15.789474%; }
.icon--blueprints--bttTVr8l { background-position: 47.368421% 21.052632%; }
.icon--blueprints--bVZRwwL3 { background-position: 47.368421% 26.315789%; }
.icon--blueprints--BwejKLRF { background-position: 47.368421% 31.578947%; }
.icon--blueprints--bWWAa6j2 { background-position: 47.368421% 36.842105%; }
.icon--blueprints--bxSpVEQr { background-position: 47.368421% 42.105263%; }
.icon--blueprints--DDFZwTCi { background-position: 47.368421% 47.368421%; }
.icon--blueprints--EjCi3cOV { background-position: 47.368421% 52.631579%; }
.icon--blueprints--G9y1l6kw { background-position: 47.368421% 57.894737%; }
.icon--blueprints--hygqlUtt { background-position: 47.368421% 63.157895%; }
.icon--blueprints--KJYX7UCP { background-position: 47.368421% 68.421053%; }
.icon--blueprints--mxPRmj3q { background-position: 47.368421% 73.684211%; }
.icon--blueprints--ORp4TzXU { background-position: 47.368421% 78.947368%; }
.icon--blueprints--qNPrCHuo { background-position: 47.368421% 84.210526%; }
.icon--blueprints--TYDMcnV7 { background-position: 47.368421% 89.473684%; }
.icon--blueprints--Wf4M5Kl4 { background-position: 47.368421% 94.736842%; }
.icon--blueprints--zlPjZ3iE { background-position: 47.368421% 100%; }
.icon--blueprints--dekcfEpW { background-position: 52.631579% 0; }
.icon--blueprints--DFJgzDCl { background-position: 52.631579% 5.263158%; }
.icon--blueprints--dmffluyz { background-position: 52.631579% 10.526316%; }
.icon--blueprints--DP4I23JX { background-position: 52.631579% 15.789474%; }
.icon--blueprints--DQemdh1m { background-position: 52.631579% 21.052632%; }
.icon--blueprints--DsnGZ49V { background-position: 52.631579% 26.315789%; }
.icon--blueprints--dtqspfCX { background-position: 52.631579% 31.578947%; }
.icon--blueprints--dUjcBYsW { background-position: 52.631579% 36.842105%; }
.icon--blueprints--dutU8OXi { background-position: 52.631579% 42.105263%; }
.icon--blueprints--dwU2WPnw { background-position: 52.631579% 47.368421%; }
.icon--blueprints--eKdHSear { background-position: 52.631579% 52.631579%; }
.icon--blueprints--GaTMfyV5 { background-position: 52.631579% 57.894737%; }
.icon--blueprints--i4UzWxv8 { background-position: 52.631579% 63.157895%; }
.icon--blueprints--KKfY3RqV { background-position: 52.631579% 68.421053%; }
.icon--blueprints--MYG92bM8 { background-position: 52.631579% 73.684211%; }
.icon--blueprints--otTKql1k { background-position: 52.631579% 78.947368%; }
.icon--blueprints--QnRfMDj5 { background-position: 52.631579% 84.210526%; }
.icon--blueprints--tzjMarOj { background-position: 52.631579% 89.473684%; }
.icon--blueprints--WFArkD3G { background-position: 52.631579% 94.736842%; }
.icon--blueprints--ZolOg5qU { background-position: 52.631579% 100%; }
.icon--blueprints--ELEoY844 { background-position: 57.894737% 0; }
.icon--blueprints--eqofomYK { background-position: 57.894737% 5.263158%; }
.icon--blueprints--esQDbY5U { background-position: 57.894737% 10.526316%; }
.icon--blueprints--eTAQELr4 { background-position: 57.894737% 15.789474%; }
.icon--blueprints--eTMmEqx2 { background-position: 57.894737% 21.052632%; }
.icon--blueprints--eWJD9R0e { background-position: 57.894737% 26.315789%; }
.icon--blueprints--F21yWYhC { background-position: 57.894737% 31.578947%; }
.icon--blueprints--f3pw4BcT { background-position: 57.894737% 36.842105%; }
.icon--blueprints--f4F3szJZ { background-position: 57.894737% 42.105263%; }
.icon--blueprints--fa5zOQNV { background-position: 57.894737% 47.368421%; }
.icon--blueprints--FaojwxRH { background-position: 57.894737% 52.631579%; }
.icon--blueprints--Gefbsxsv { background-position: 57.894737% 57.894737%; }
.icon--blueprints--i8tskslZ { background-position: 57.894737% 63.157895%; }
.icon--blueprints--kWC6s9gG { background-position: 57.894737% 68.421053%; }
.icon--blueprints--N5kvAt0c { background-position: 57.894737% 73.684211%; }
.icon--blueprints--OUKQnugi { background-position: 57.894737% 78.947368%; }
.icon--blueprints--QNZb7rQ0 { background-position: 57.894737% 84.210526%; }
.icon--blueprints--U02dxNJl { background-position: 57.894737% 89.473684%; }
.icon--blueprints--wOmXo66I { background-position: 57.894737% 94.736842%; }
.icon--blueprints--Zt6QRgpM { background-position: 57.894737% 100%; }
.icon--blueprints--geIG8lGE { background-position: 63.157895% 0; }
.icon--blueprints--ghRWOjvW { background-position: 63.157895% 5.263158%; }
.icon--blueprints--Gjjzcggz { background-position: 63.157895% 10.526316%; }
.icon--blueprints--gQuj8rUM { background-position: 63.157895% 15.789474%; }
.icon--blueprints--gT0Iz9vB { background-position: 63.157895% 21.052632%; }
.icon--blueprints--H2cHfmag { background-position: 63.157895% 26.315789%; }
.icon--blueprints--H2hIe3aV { background-position: 63.157895% 31.578947%; }
.icon--blueprints--H4KE4rub { background-position: 63.157895% 36.842105%; }
.icon--blueprints--hE2REKr6 { background-position: 63.157895% 42.105263%; }
.icon--blueprints--hkw7OpYG { background-position: 63.157895% 47.368421%; }
.icon--blueprints--hmiMXGZ8 { background-position: 63.157895% 52.631579%; }
.icon--blueprints--Hn3cCTsU { background-position: 63.157895% 57.894737%; }
.icon--blueprints--iaumBrRL { background-position: 63.157895% 63.157895%; }
.icon--blueprints--kZMxO5oE { background-position: 63.157895% 68.421053%; }
.icon--blueprints--N7ARrOhn { background-position: 63.157895% 73.684211%; }
.icon--blueprints--OUTzpPIZ { background-position: 63.157895% 78.947368%; }
.icon--blueprints--Qq6xwbE2 { background-position: 63.157895% 84.210526%; }
.icon--blueprints--U3lu6JFf { background-position: 63.157895% 89.473684%; }
.icon--blueprints--Wqqv6SSR { background-position: 63.157895% 94.736842%; }
.icon--blueprints--zuaatUnA { background-position: 63.157895% 100%; }
.icon--blueprints--ic4kOZQk { background-position: 68.421053% 0; }
.icon--blueprints--iDVT7ya3 { background-position: 68.421053% 5.263158%; }
.icon--blueprints--ijkjMjpm { background-position: 68.421053% 10.526316%; }
.icon--blueprints--ikdgTsNH { background-position: 68.421053% 15.789474%; }
.icon--blueprints--IRaXJAg8 { background-position: 68.421053% 21.052632%; }
.icon--blueprints--IRougWZT { background-position: 68.421053% 26.315789%; }
.icon--blueprints--IsuSqm6R { background-position: 68.421053% 31.578947%; }
.icon--blueprints--iwpx9m15 { background-position: 68.421053% 36.842105%; }
.icon--blueprints--iX340m5D { background-position: 68.421053% 42.105263%; }
.icon--blueprints--IYKJqqsi { background-position: 68.421053% 47.368421%; }
.icon--blueprints--j92t6lCO { background-position: 68.421053% 52.631579%; }
.icon--blueprints--jHDPFZpA { background-position: 68.421053% 57.894737%; }
.icon--blueprints--JNZthoRT { background-position: 68.421053% 63.157895%; }
.icon--blueprints--LDfD2wfe { background-position: 68.421053% 68.421053%; }
.icon--blueprints--nBEXbjrO { background-position: 68.421053% 73.684211%; }
.icon--blueprints--ov5ZYugr { background-position: 68.421053% 78.947368%; }
.icon--blueprints--qQqwVzJG { background-position: 68.421053% 84.210526%; }
.icon--blueprints--u8Hn7Rxs { background-position: 68.421053% 89.473684%; }
.icon--blueprints--wqzyqFTq { background-position: 68.421053% 94.736842%; }
.icon--blueprints--ZuH0PhvY { background-position: 68.421053% 100%; }
.icon--blueprints--LG34ZvsI { background-position: 73.684211% 0; }
.icon--blueprints--LmNZOnA5 { background-position: 73.684211% 5.263158%; }
.icon--blueprints--LnT54wEd { background-position: 73.684211% 10.526316%; }
.icon--blueprints--LPP3AZVN { background-position: 73.684211% 15.789474%; }
.icon--blueprints--lQ9QlS9G { background-position: 73.684211% 21.052632%; }
.icon--blueprints--Ls73R3xZ { background-position: 73.684211% 26.315789%; }
.icon--blueprints--LsqbgttB { background-position: 73.684211% 31.578947%; }
.icon--blueprints--LT3SizN3 { background-position: 73.684211% 36.842105%; }
.icon--blueprints--Lu2AMfGE { background-position: 73.684211% 42.105263%; }
.icon--blueprints--lZMwg79I { background-position: 73.684211% 47.368421%; }
.icon--blueprints--m23EXa9e { background-position: 73.684211% 52.631579%; }
.icon--blueprints--M7cSMMiX { background-position: 73.684211% 57.894737%; }
.icon--blueprints--M9AKMvXM { background-position: 73.684211% 63.157895%; }
.icon--blueprints--MbTwCL47 { background-position: 73.684211% 68.421053%; }
.icon--blueprints--NCRd1tmH { background-position: 73.684211% 73.684211%; }
.icon--blueprints--OxTp1c6D { background-position: 73.684211% 78.947368%; }
.icon--blueprints--quyiHwNz { background-position: 73.684211% 84.210526%; }
.icon--blueprints--UA9Fyz3z { background-position: 73.684211% 89.473684%; }
.icon--blueprints--Wv2RVJeo { background-position: 73.684211% 94.736842%; }
.icon--blueprints--ZzOLnsc7 { background-position: 73.684211% 100%; }
.icon--blueprints--nddgINF5 { background-position: 78.947368% 0; }
.icon--blueprints--NeNbOSmu { background-position: 78.947368% 5.263158%; }
.icon--blueprints--nfDXtEJE { background-position: 78.947368% 10.526316%; }
.icon--blueprints--nfOPACi6 { background-position: 78.947368% 15.789474%; }
.icon--blueprints--niLpofD0 { background-position: 78.947368% 21.052632%; }
.icon--blueprints--nN6XwiyX { background-position: 78.947368% 26.315789%; }
.icon--blueprints--NNCsoqvI { background-position: 78.947368% 31.578947%; }
.icon--blueprints--nnmOcOJx { background-position: 78.947368% 36.842105%; }
.icon--blueprints--nORKLrmJ { background-position: 78.947368% 42.105263%; }
.icon--blueprints--NPY2T3bG { background-position: 78.947368% 47.368421%; }
.icon--blueprints--Nu9yPiqC { background-position: 78.947368% 52.631579%; }
.icon--blueprints--NXnqIFSJ { background-position: 78.947368% 57.894737%; }
.icon--blueprints--NXUOa5up { background-position: 78.947368% 63.157895%; }
.icon--blueprints--NZhbvmXq { background-position: 78.947368% 68.421053%; }
.icon--blueprints--O5YzPHVM { background-position: 78.947368% 73.684211%; }
.icon--blueprints--P1Gzp41C { background-position: 78.947368% 78.947368%; }
.icon--blueprints--QvcozLV1 { background-position: 78.947368% 84.210526%; }
.icon--blueprints--uav6ZsAH { background-position: 78.947368% 89.473684%; }
.icon--blueprints--wy5cAawM { background-position: 78.947368% 94.736842%; }
.icon--blueprints--P1tCVd6v { background-position: 84.210526% 0; }
.icon--blueprints--P2g5X2hE { background-position: 84.210526% 5.263158%; }
.icon--blueprints--p6vVc3rI { background-position: 84.210526% 10.526316%; }
.icon--blueprints--PbFHaMZA { background-position: 84.210526% 15.789474%; }
.icon--blueprints--pbtH0eJZ { background-position: 84.210526% 21.052632%; }
.icon--blueprints--pCHVRlGy { background-position: 84.210526% 26.315789%; }
.icon--blueprints--pGQczNVy { background-position: 84.210526% 31.578947%; }
.icon--blueprints--PicYv3no { background-position: 84.210526% 36.842105%; }
.icon--blueprints--plpCnfBu { background-position: 84.210526% 42.105263%; }
.icon--blueprints--pQxu6Usa { background-position: 84.210526% 47.368421%; }
.icon--blueprints--PSgr49I1 { background-position: 84.210526% 52.631579%; }
.icon--blueprints--pUhXIKb1 { background-position: 84.210526% 57.894737%; }
.icon--blueprints--Q022P2Az { background-position: 84.210526% 63.157895%; }
.icon--blueprints--q2GwkOLY { background-position: 84.210526% 68.421053%; }
.icon--blueprints--q4N7pYK4 { background-position: 84.210526% 73.684211%; }
.icon--blueprints--q4R0Fkco { background-position: 84.210526% 78.947368%; }
.icon--blueprints--R2d5vH2R { background-position: 84.210526% 84.210526%; }
.icon--blueprints--uClHREgM { background-position: 84.210526% 89.473684%; }
.icon--blueprints--X1LSMTlU { background-position: 84.210526% 94.736842%; }
.icon--blueprints--r53opOhW { background-position: 89.473684% 0; }
.icon--blueprints--raHLItwW { background-position: 89.473684% 5.263158%; }
.icon--blueprints--rDftgFdd { background-position: 89.473684% 10.526316%; }
.icon--blueprints--rfIT9BLO { background-position: 89.473684% 15.789474%; }
.icon--blueprints--RLbNcFUM { background-position: 89.473684% 21.052632%; }
.icon--blueprints--RPNjttnU { background-position: 89.473684% 26.315789%; }
.icon--blueprints--RtvVZhhq { background-position: 89.473684% 31.578947%; }
.icon--blueprints--rzL37YI9 { background-position: 89.473684% 36.842105%; }
.icon--blueprints--sAaZRiR9 { background-position: 89.473684% 42.105263%; }
.icon--blueprints--SaFPnkQ5 { background-position: 89.473684% 47.368421%; }
.icon--blueprints--sD8RF8SH { background-position: 89.473684% 52.631579%; }
.icon--blueprints--skv1kjOJ { background-position: 89.473684% 57.894737%; }
.icon--blueprints--SMisTpdY { background-position: 89.473684% 63.157895%; }
.icon--blueprints--sO3YJf1M { background-position: 89.473684% 68.421053%; }
.icon--blueprints--sOqVBRxT { background-position: 89.473684% 73.684211%; }
.icon--blueprints--SQavJj7S { background-position: 89.473684% 78.947368%; }
.icon--blueprints--SSUqRw9R { background-position: 89.473684% 84.210526%; }
.icon--blueprints--uf6sV7xq { background-position: 89.473684% 89.473684%; }
.icon--blueprints--x3EcqjXz { background-position: 89.473684% 94.736842%; }
.icon--blueprints--ug1EHfte { background-position: 94.736842% 0; }
.icon--blueprints--UhfaX9Nn { background-position: 94.736842% 5.263158%; }
.icon--blueprints--uhwbTzJW { background-position: 94.736842% 10.526316%; }
.icon--blueprints--uijdVBSr { background-position: 94.736842% 15.789474%; }
.icon--blueprints--UIwHpugK { background-position: 94.736842% 21.052632%; }
.icon--blueprints--UJAu8SM9 { background-position: 94.736842% 26.315789%; }
.icon--blueprints--UqDciMm2 { background-position: 94.736842% 31.578947%; }
.icon--blueprints--UULgmmbD { background-position: 94.736842% 36.842105%; }
.icon--blueprints--V3iKkPtr { background-position: 94.736842% 42.105263%; }
.icon--blueprints--V3SwPCHO { background-position: 94.736842% 47.368421%; }
.icon--blueprints--v4kpumA7 { background-position: 94.736842% 52.631579%; }
.icon--blueprints--v640XrRy { background-position: 94.736842% 57.894737%; }
.icon--blueprints--v7fn0vXd { background-position: 94.736842% 63.157895%; }
.icon--blueprints--v9Ch0fGC { background-position: 94.736842% 68.421053%; }
.icon--blueprints--vC9PUeVM { background-position: 94.736842% 73.684211%; }
.icon--blueprints--VclJDSWw { background-position: 94.736842% 78.947368%; }
.icon--blueprints--vCphESMk { background-position: 94.736842% 84.210526%; }
.icon--blueprints--vI6GgGpa { background-position: 94.736842% 89.473684%; }
.icon--blueprints--X4sQvY8p { background-position: 94.736842% 94.736842%; }
.icon--blueprints--x8GrJoWB { background-position: 100% 0; }
.icon--blueprints--XB9ZWtTB { background-position: 100% 5.263158%; }
.icon--blueprints--XBhLMGmQ { background-position: 100% 10.526316%; }
.icon--blueprints--xD5ycDpz { background-position: 100% 15.789474%; }
.icon--blueprints--xEmyu8dg { background-position: 100% 21.052632%; }
.icon--blueprints--XFCzgQUu { background-position: 100% 26.315789%; }
.icon--blueprints--XGWawc3m { background-position: 100% 31.578947%; }
.icon--blueprints--xiGxTBK9 { background-position: 100% 36.842105%; }
.icon--blueprints--XiLYNLrH { background-position: 100% 42.105263%; }
.icon--blueprints--xjtum5Z3 { background-position: 100% 47.368421%; }
.icon--blueprints--Xv36nEU7 { background-position: 100% 52.631579%; }
.icon--blueprints--XVL8mPlw { background-position: 100% 57.894737%; }
.icon--blueprints--xWuJSEIX { background-position: 100% 63.157895%; }
.icon--blueprints--xZXYc2PB { background-position: 100% 68.421053%; }
.icon--blueprints--YAAU9SlR { background-position: 100% 73.684211%; }
.icon--blueprints--YBqamrwN { background-position: 100% 78.947368%; }
.icon--blueprints--yDK8WUny { background-position: 100% 84.210526%; }
.icon--blueprints--yhUqbL0B { background-position: 100% 89.473684%; }
.icon--blueprints--ymWoJfXh { background-position: 100% 94.736842%; }
