.icon--blueprints {
  display: block;
  background-image: url("/assets/sprites/blueprints.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--blueprints--062iB11Q { background-position: 0 0; }
.icon--blueprints--0XxQUULs { background-position: 0 5.882353%; }
.icon--blueprints--1YoeVFKi { background-position: 0 11.764706%; }
.icon--blueprints--2WkrfD9U { background-position: 0 17.647059%; }
.icon--blueprints--3mLOyVNO { background-position: 0 23.529412%; }
.icon--blueprints--6lxgYTDo { background-position: 0 29.411765%; }
.icon--blueprints--8B29n8Yx { background-position: 0 35.294118%; }
.icon--blueprints--AgAa1V1O { background-position: 0 41.176471%; }
.icon--blueprints--DFJgzDCl { background-position: 0 47.058824%; }
.icon--blueprints--H2hIe3aV { background-position: 0 52.941176%; }
.icon--blueprints--LnT54wEd { background-position: 0 58.823529%; }
.icon--blueprints--ORp4TzXU { background-position: 0 64.705882%; }
.icon--blueprints--TcbyfO4w { background-position: 0 70.588235%; }
.icon--blueprints--YOM8j1V2 { background-position: 0 76.470588%; }
.icon--blueprints--e0MEBRDk { background-position: 0 82.352941%; }
.icon--blueprints--iwpx9m15 { background-position: 0 88.235294%; }
.icon--blueprints--plpCnfBu { background-position: 0 94.117647%; }
.icon--blueprints--v7fn0vXd { background-position: 0 100%; }
.icon--blueprints--0PgZQ2HJ { background-position: 5.555556% 0; }
.icon--blueprints--1JO7Xuua { background-position: 5.555556% 5.882353%; }
.icon--blueprints--1iAzxXZC { background-position: 5.555556% 11.764706%; }
.icon--blueprints--2synZD6m { background-position: 5.555556% 17.647059%; }
.icon--blueprints--419yjKEf { background-position: 5.555556% 23.529412%; }
.icon--blueprints--6pwE1lwx { background-position: 5.555556% 29.411765%; }
.icon--blueprints--8Rx1fr0Z { background-position: 5.555556% 35.294118%; }
.icon--blueprints--AgUrdutk { background-position: 5.555556% 41.176471%; }
.icon--blueprints--DP4I23JX { background-position: 5.555556% 47.058824%; }
.icon--blueprints--H4KE4rub { background-position: 5.555556% 52.941176%; }
.icon--blueprints--Ls73R3xZ { background-position: 5.555556% 58.823529%; }
.icon--blueprints--OUTzpPIZ { background-position: 5.555556% 64.705882%; }
.icon--blueprints--U02dxNJl { background-position: 5.555556% 70.588235%; }
.icon--blueprints--YxBlBItM { background-position: 5.555556% 76.470588%; }
.icon--blueprints--eIY0gkwI { background-position: 5.555556% 82.352941%; }
.icon--blueprints--j92t6lCO { background-position: 5.555556% 88.235294%; }
.icon--blueprints--q2GwkOLY { background-position: 5.555556% 94.117647%; }
.icon--blueprints--v9Ch0fGC { background-position: 5.555556% 100%; }
.icon--blueprints--1QPT1sWy { background-position: 11.111111% 0; }
.icon--blueprints--1S4JCfA9 { background-position: 11.111111% 5.882353%; }
.icon--blueprints--1rmYvcWx { background-position: 11.111111% 11.764706%; }
.icon--blueprints--2uVqy2dC { background-position: 11.111111% 17.647059%; }
.icon--blueprints--4fxo3AH5 { background-position: 11.111111% 23.529412%; }
.icon--blueprints--6qKHxQHE { background-position: 11.111111% 29.411765%; }
.icon--blueprints--8aFNt9Ee { background-position: 11.111111% 35.294118%; }
.icon--blueprints--Ah6witok { background-position: 11.111111% 41.176471%; }
.icon--blueprints--DQemdh1m { background-position: 11.111111% 47.058824%; }
.icon--blueprints--HOPAOUBu { background-position: 11.111111% 52.941176%; }
.icon--blueprints--LsqbgttB { background-position: 11.111111% 58.823529%; }
.icon--blueprints--OxTp1c6D { background-position: 11.111111% 64.705882%; }
.icon--blueprints--U3lu6JFf { background-position: 11.111111% 70.588235%; }
.icon--blueprints--ZF7QUdgc { background-position: 11.111111% 76.470588%; }
.icon--blueprints--eKdHSear { background-position: 11.111111% 82.352941%; }
.icon--blueprints--jtF3kqCb { background-position: 11.111111% 88.235294%; }
.icon--blueprints--q4N7pYK4 { background-position: 11.111111% 94.117647%; }
.icon--blueprints--vC9PUeVM { background-position: 11.111111% 100%; }
.icon--blueprints--1sLfjVr6 { background-position: 16.666667% 0; }
.icon--blueprints--239YNHW8 { background-position: 16.666667% 5.882353%; }
.icon--blueprints--2LL8wWPo { background-position: 16.666667% 11.764706%; }
.icon--blueprints--2ubfB9TG { background-position: 16.666667% 17.647059%; }
.icon--blueprints--5WMesXxe { background-position: 16.666667% 23.529412%; }
.icon--blueprints--6qnds80c { background-position: 16.666667% 29.411765%; }
.icon--blueprints--8krr66fM { background-position: 16.666667% 35.294118%; }
.icon--blueprints--Axn8byHz { background-position: 16.666667% 41.176471%; }
.icon--blueprints--DsnGZ49V { background-position: 16.666667% 47.058824%; }
.icon--blueprints--HUcqReUx { background-position: 16.666667% 52.941176%; }
.icon--blueprints--Lu2AMfGE { background-position: 16.666667% 58.823529%; }
.icon--blueprints--P1Gzp41C { background-position: 16.666667% 64.705882%; }
.icon--blueprints--UA9Fyz3z { background-position: 16.666667% 70.588235%; }
.icon--blueprints--ZFKFL0lb { background-position: 16.666667% 76.470588%; }
.icon--blueprints--eTAQELr4 { background-position: 16.666667% 82.352941%; }
.icon--blueprints--jzTGM3SV { background-position: 16.666667% 88.235294%; }
.icon--blueprints--q4R0Fkco { background-position: 16.666667% 94.117647%; }
.icon--blueprints--vCphESMk { background-position: 16.666667% 100%; }
.icon--blueprints--3BmwHrM1 { background-position: 22.222222% 0; }
.icon--blueprints--3VIrdaD6 { background-position: 22.222222% 5.882353%; }
.icon--blueprints--3XY0cA08 { background-position: 22.222222% 11.764706%; }
.icon--blueprints--3XZ9pa34 { background-position: 22.222222% 17.647059%; }
.icon--blueprints--5bpiEryi { background-position: 22.222222% 23.529412%; }
.icon--blueprints--6r8sm53U { background-position: 22.222222% 29.411765%; }
.icon--blueprints--8qHoIcZO { background-position: 22.222222% 35.294118%; }
.icon--blueprints--B1GiBVqZ { background-position: 22.222222% 41.176471%; }
.icon--blueprints--DxmmI5A7 { background-position: 22.222222% 47.058824%; }
.icon--blueprints--HXZlCNnI { background-position: 22.222222% 52.941176%; }
.icon--blueprints--M9AKMvXM { background-position: 22.222222% 58.823529%; }
.icon--blueprints--P1tCVd6v { background-position: 22.222222% 64.705882%; }
.icon--blueprints--UIwHpugK { background-position: 22.222222% 70.588235%; }
.icon--blueprints--ZolOg5qU { background-position: 22.222222% 76.470588%; }
.icon--blueprints--eTMmEqx2 { background-position: 22.222222% 82.352941%; }
.icon--blueprints--kEelsmsr { background-position: 22.222222% 88.235294%; }
.icon--blueprints--q5AxvYHS { background-position: 22.222222% 94.117647%; }
.icon--blueprints--vI6GgGpa { background-position: 22.222222% 100%; }
.icon--blueprints--5hs0RkrP { background-position: 27.777778% 0; }
.icon--blueprints--62Spn6Jr { background-position: 27.777778% 5.882353%; }
.icon--blueprints--6J5YTewA { background-position: 27.777778% 11.764706%; }
.icon--blueprints--6SwZDmjq { background-position: 27.777778% 17.647059%; }
.icon--blueprints--6i4tVdAm { background-position: 27.777778% 23.529412%; }
.icon--blueprints--6rbjS6so { background-position: 27.777778% 29.411765%; }
.icon--blueprints--99oy3z7V { background-position: 27.777778% 35.294118%; }
.icon--blueprints--BHZJjJ0H { background-position: 27.777778% 41.176471%; }
.icon--blueprints--DyKgL8sp { background-position: 27.777778% 47.058824%; }
.icon--blueprints--HXql8w0a { background-position: 27.777778% 52.941176%; }
.icon--blueprints--MKDlzYat { background-position: 27.777778% 58.823529%; }
.icon--blueprints--P2g5X2hE { background-position: 27.777778% 64.705882%; }
.icon--blueprints--UJAu8SM9 { background-position: 27.777778% 70.588235%; }
.icon--blueprints--Zt6QRgpM { background-position: 27.777778% 76.470588%; }
.icon--blueprints--eWJD9R0e { background-position: 27.777778% 82.352941%; }
.icon--blueprints--kZMxO5oE { background-position: 27.777778% 88.235294%; }
.icon--blueprints--qCsc6HgP { background-position: 27.777778% 94.117647%; }
.icon--blueprints--vJf4oBxo { background-position: 27.777778% 100%; }
.icon--blueprints--6ys8bmHF { background-position: 33.333333% 0; }
.icon--blueprints--7HZecWpk { background-position: 33.333333% 5.882353%; }
.icon--blueprints--7Y2ECjh2 { background-position: 33.333333% 11.764706%; }
.icon--blueprints--7rBG9J31 { background-position: 33.333333% 17.647059%; }
.icon--blueprints--7xg2v5qx { background-position: 33.333333% 23.529412%; }
.icon--blueprints--83Ym5Pbt { background-position: 33.333333% 29.411765%; }
.icon--blueprints--9MAqncOX { background-position: 33.333333% 35.294118%; }
.icon--blueprints--BKnOOq8J { background-position: 33.333333% 41.176471%; }
.icon--blueprints--E0ziq1Kd { background-position: 33.333333% 47.058824%; }
.icon--blueprints--HvbNxc7a { background-position: 33.333333% 52.941176%; }
.icon--blueprints--MYG92bM8 { background-position: 33.333333% 58.823529%; }
.icon--blueprints--PSgr49I1 { background-position: 33.333333% 64.705882%; }
.icon--blueprints--UULgmmbD { background-position: 33.333333% 70.588235%; }
.icon--blueprints--ZuH0PhvY { background-position: 33.333333% 76.470588%; }
.icon--blueprints--eqofomYK { background-position: 33.333333% 82.352941%; }
.icon--blueprints--kbtfmWAr { background-position: 33.333333% 88.235294%; }
.icon--blueprints--qDdGpT8k { background-position: 33.333333% 94.117647%; }
.icon--blueprints--vkkOFsxX { background-position: 33.333333% 100%; }
.icon--blueprints--9Plo5oNk { background-position: 38.888889% 0; }
.icon--blueprints--9UEBGkiF { background-position: 38.888889% 5.882353%; }
.icon--blueprints--9UtwUN8n { background-position: 38.888889% 11.764706%; }
.icon--blueprints--ACUoIvQX { background-position: 38.888889% 17.647059%; }
.icon--blueprints--AQSnD27c { background-position: 38.888889% 23.529412%; }
.icon--blueprints--AUDIUDSZ { background-position: 38.888889% 29.411765%; }
.icon--blueprints--AXn6GCvz { background-position: 38.888889% 35.294118%; }
.icon--blueprints--BdCy970c { background-position: 38.888889% 41.176471%; }
.icon--blueprints--ELEoY844 { background-position: 38.888889% 47.058824%; }
.icon--blueprints--IRaXJAg8 { background-position: 38.888889% 52.941176%; }
.icon--blueprints--MbTwCL47 { background-position: 38.888889% 58.823529%; }
.icon--blueprints--PbFHaMZA { background-position: 38.888889% 64.705882%; }
.icon--blueprints--UqDciMm2 { background-position: 38.888889% 70.588235%; }
.icon--blueprints--ZzOLnsc7 { background-position: 38.888889% 76.470588%; }
.icon--blueprints--esQDbY5U { background-position: 38.888889% 82.352941%; }
.icon--blueprints--kcgk5ut5 { background-position: 38.888889% 88.235294%; }
.icon--blueprints--qNPrCHuo { background-position: 38.888889% 94.117647%; }
.icon--blueprints--w2dL03Nt { background-position: 38.888889% 100%; }
.icon--blueprints--BgzKPH4K { background-position: 44.444444% 0; }
.icon--blueprints--BrjhwL2W { background-position: 44.444444% 5.882353%; }
.icon--blueprints--BwejKLRF { background-position: 44.444444% 11.764706%; }
.icon--blueprints--CBkU8YQT { background-position: 44.444444% 17.647059%; }
.icon--blueprints--CBoGrl4i { background-position: 44.444444% 23.529412%; }
.icon--blueprints--CWEioVtV { background-position: 44.444444% 29.411765%; }
.icon--blueprints--DCG82YBz { background-position: 44.444444% 35.294118%; }
.icon--blueprints--DDFZwTCi { background-position: 44.444444% 41.176471%; }
.icon--blueprints--EjCi3cOV { background-position: 44.444444% 47.058824%; }
.icon--blueprints--IRougWZT { background-position: 44.444444% 52.941176%; }
.icon--blueprints--MlbDPGvT { background-position: 44.444444% 58.823529%; }
.icon--blueprints--PicYv3no { background-position: 44.444444% 64.705882%; }
.icon--blueprints--V3SwPCHO { background-position: 44.444444% 70.588235%; }
.icon--blueprints--aI2dmi3E { background-position: 44.444444% 76.470588%; }
.icon--blueprints--f3pw4BcT { background-position: 44.444444% 82.352941%; }
.icon--blueprints--kjMYZKPO { background-position: 44.444444% 88.235294%; }
.icon--blueprints--qQqwVzJG { background-position: 44.444444% 94.117647%; }
.icon--blueprints--wBmLQ2Kn { background-position: 44.444444% 100%; }
.icon--blueprints--FWQzRgq5 { background-position: 50% 0; }
.icon--blueprints--FaojwxRH { background-position: 50% 5.882353%; }
.icon--blueprints--FhDv6BMi { background-position: 50% 11.764706%; }
.icon--blueprints--Fva12CGo { background-position: 50% 17.647059%; }
.icon--blueprints--G9y1l6kw { background-position: 50% 23.529412%; }
.icon--blueprints--GaTMfyV5 { background-position: 50% 29.411765%; }
.icon--blueprints--Gefbsxsv { background-position: 50% 35.294118%; }
.icon--blueprints--Gjjzcggz { background-position: 50% 41.176471%; }
.icon--blueprints--H2cHfmag { background-position: 50% 47.058824%; }
.icon--blueprints--IYKJqqsi { background-position: 50% 52.941176%; }
.icon--blueprints--MoTlqjk9 { background-position: 50% 58.823529%; }
.icon--blueprints--Q022P2Az { background-position: 50% 64.705882%; }
.icon--blueprints--V3iKkPtr { background-position: 50% 70.588235%; }
.icon--blueprints--aPSeWo8h { background-position: 50% 76.470588%; }
.icon--blueprints--f4F3szJZ { background-position: 50% 82.352941%; }
.icon--blueprints--lQ9QlS9G { background-position: 50% 88.235294%; }
.icon--blueprints--qbuttlNc { background-position: 50% 94.117647%; }
.icon--blueprints--wEapvVFb { background-position: 50% 100%; }
.icon--blueprints--IsuSqm6R { background-position: 55.555556% 0; }
.icon--blueprints--JW1v0cTq { background-position: 55.555556% 5.882353%; }
.icon--blueprints--Jv1D8lJO { background-position: 55.555556% 11.764706%; }
.icon--blueprints--KJYX7UCP { background-position: 55.555556% 17.647059%; }
.icon--blueprints--KKfY3RqV { background-position: 55.555556% 23.529412%; }
.icon--blueprints--LDfD2wfe { background-position: 55.555556% 29.411765%; }
.icon--blueprints--LG34ZvsI { background-position: 55.555556% 35.294118%; }
.icon--blueprints--LPP3AZVN { background-position: 55.555556% 41.176471%; }
.icon--blueprints--LT3SizN3 { background-position: 55.555556% 47.058824%; }
.icon--blueprints--LmNZOnA5 { background-position: 55.555556% 52.941176%; }
.icon--blueprints--Mp45YB2s { background-position: 55.555556% 58.823529%; }
.icon--blueprints--Q9JOGn2H { background-position: 55.555556% 64.705882%; }
.icon--blueprints--VVXC35ok { background-position: 55.555556% 70.588235%; }
.icon--blueprints--ag7ZcINM { background-position: 55.555556% 76.470588%; }
.icon--blueprints--fEwrWFo7 { background-position: 55.555556% 82.352941%; }
.icon--blueprints--lZMwg79I { background-position: 55.555556% 88.235294%; }
.icon--blueprints--qeL0Y2aN { background-position: 55.555556% 94.117647%; }
.icon--blueprints--wOmXo66I { background-position: 55.555556% 100%; }
.icon--blueprints--MxpLDIGc { background-position: 61.111111% 0; }
.icon--blueprints--N5kvAt0c { background-position: 61.111111% 5.882353%; }
.icon--blueprints--N7ARrOhn { background-position: 61.111111% 11.764706%; }
.icon--blueprints--NNCsoqvI { background-position: 61.111111% 17.647059%; }
.icon--blueprints--NPY2T3bG { background-position: 61.111111% 23.529412%; }
.icon--blueprints--NZhbvmXq { background-position: 61.111111% 29.411765%; }
.icon--blueprints--NeNbOSmu { background-position: 61.111111% 35.294118%; }
.icon--blueprints--Nu9yPiqC { background-position: 61.111111% 41.176471%; }
.icon--blueprints--OM9wIYWX { background-position: 61.111111% 47.058824%; }
.icon--blueprints--ORO7PA5S { background-position: 61.111111% 52.941176%; }
.icon--blueprints--ORnVXHtU { background-position: 61.111111% 58.823529%; }
.icon--blueprints--QGzs6E0U { background-position: 61.111111% 64.705882%; }
.icon--blueprints--VclJDSWw { background-position: 61.111111% 70.588235%; }
.icon--blueprints--asfeH3f4 { background-position: 61.111111% 76.470588%; }
.icon--blueprints--fa5zOQNV { background-position: 61.111111% 82.352941%; }
.icon--blueprints--m23EXa9e { background-position: 61.111111% 88.235294%; }
.icon--blueprints--qlg6U27h { background-position: 61.111111% 94.117647%; }
.icon--blueprints--wqzyqFTq { background-position: 61.111111% 100%; }
.icon--blueprints--Qq6xwbE2 { background-position: 66.666667% 0; }
.icon--blueprints--QvcozLV1 { background-position: 66.666667% 5.882353%; }
.icon--blueprints--R2d5vH2R { background-position: 66.666667% 11.764706%; }
.icon--blueprints--RLbNcFUM { background-position: 66.666667% 17.647059%; }
.icon--blueprints--RtvVZhhq { background-position: 66.666667% 23.529412%; }
.icon--blueprints--SMisTpdY { background-position: 66.666667% 29.411765%; }
.icon--blueprints--SQavJj7S { background-position: 66.666667% 35.294118%; }
.icon--blueprints--SSUqRw9R { background-position: 66.666667% 41.176471%; }
.icon--blueprints--SaFPnkQ5 { background-position: 66.666667% 47.058824%; }
.icon--blueprints--T0jnqwBi { background-position: 66.666667% 52.941176%; }
.icon--blueprints--T8JlbJAH { background-position: 66.666667% 58.823529%; }
.icon--blueprints--TYDMcnV7 { background-position: 66.666667% 64.705882%; }
.icon--blueprints--VpJcEIUC { background-position: 66.666667% 70.588235%; }
.icon--blueprints--b3qzXrn3 { background-position: 66.666667% 76.470588%; }
.icon--blueprints--flTvdvAS { background-position: 66.666667% 82.352941%; }
.icon--blueprints--mTPOYDUr { background-position: 66.666667% 88.235294%; }
.icon--blueprints--quyiHwNz { background-position: 66.666667% 94.117647%; }
.icon--blueprints--wy5cAawM { background-position: 66.666667% 100%; }
.icon--blueprints--WFArkD3G { background-position: 72.222222% 0; }
.icon--blueprints--Wf4M5Kl4 { background-position: 72.222222% 5.882353%; }
.icon--blueprints--Wqqv6SSR { background-position: 72.222222% 11.764706%; }
.icon--blueprints--Wv2RVJeo { background-position: 72.222222% 17.647059%; }
.icon--blueprints--X1LSMTlU { background-position: 72.222222% 23.529412%; }
.icon--blueprints--X4sQvY8p { background-position: 72.222222% 29.411765%; }
.icon--blueprints--XB9ZWtTB { background-position: 72.222222% 35.294118%; }
.icon--blueprints--XBhLMGmQ { background-position: 72.222222% 41.176471%; }
.icon--blueprints--XFCzgQUu { background-position: 72.222222% 47.058824%; }
.icon--blueprints--XGWawc3m { background-position: 72.222222% 52.941176%; }
.icon--blueprints--XiLYNLrH { background-position: 72.222222% 58.823529%; }
.icon--blueprints--YAAU9SlR { background-position: 72.222222% 64.705882%; }
.icon--blueprints--YBqamrwN { background-position: 72.222222% 70.588235%; }
.icon--blueprints--bM5EIvw9 { background-position: 72.222222% 76.470588%; }
.icon--blueprints--fzODvomr { background-position: 72.222222% 82.352941%; }
.icon--blueprints--mV5sNd8l { background-position: 72.222222% 88.235294%; }
.icon--blueprints--r53opOhW { background-position: 72.222222% 94.117647%; }
.icon--blueprints--x3EcqjXz { background-position: 72.222222% 100%; }
.icon--blueprints--bVZRwwL3 { background-position: 77.777778% 0; }
.icon--blueprints--bWWAa6j2 { background-position: 77.777778% 5.882353%; }
.icon--blueprints--btknpkUs { background-position: 77.777778% 11.764706%; }
.icon--blueprints--bttTVr8l { background-position: 77.777778% 17.647059%; }
.icon--blueprints--bxSpVEQr { background-position: 77.777778% 23.529412%; }
.icon--blueprints--cDAaG5cy { background-position: 77.777778% 29.411765%; }
.icon--blueprints--cIzBGtww { background-position: 77.777778% 35.294118%; }
.icon--blueprints--cgQM9cHk { background-position: 77.777778% 41.176471%; }
.icon--blueprints--dUjcBYsW { background-position: 77.777778% 47.058824%; }
.icon--blueprints--dYAgxG0y { background-position: 77.777778% 52.941176%; }
.icon--blueprints--dekcfEpW { background-position: 77.777778% 58.823529%; }
.icon--blueprints--dtqspfCX { background-position: 77.777778% 64.705882%; }
.icon--blueprints--dutU8OXi { background-position: 77.777778% 70.588235%; }
.icon--blueprints--dwU2WPnw { background-position: 77.777778% 76.470588%; }
.icon--blueprints--gQuj8rUM { background-position: 77.777778% 82.352941%; }
.icon--blueprints--mf8pApzu { background-position: 77.777778% 88.235294%; }
.icon--blueprints--raHLItwW { background-position: 77.777778% 94.117647%; }
.icon--blueprints--x8GrJoWB { background-position: 77.777778% 100%; }
.icon--blueprints--gT0Iz9vB { background-position: 83.333333% 0; }
.icon--blueprints--geIG8lGE { background-position: 83.333333% 5.882353%; }
.icon--blueprints--ghRWOjvW { background-position: 83.333333% 11.764706%; }
.icon--blueprints--hE2REKr6 { background-position: 83.333333% 17.647059%; }
.icon--blueprints--hODHOfPY { background-position: 83.333333% 23.529412%; }
.icon--blueprints--hUTg4mks { background-position: 83.333333% 29.411765%; }
.icon--blueprints--hkw7OpYG { background-position: 83.333333% 35.294118%; }
.icon--blueprints--hmiMXGZ8 { background-position: 83.333333% 41.176471%; }
.icon--blueprints--hrzRjMcm { background-position: 83.333333% 47.058824%; }
.icon--blueprints--i8tskslZ { background-position: 83.333333% 52.941176%; }
.icon--blueprints--iX340m5D { background-position: 83.333333% 58.823529%; }
.icon--blueprints--iaumBrRL { background-position: 83.333333% 64.705882%; }
.icon--blueprints--ic4kOZQk { background-position: 83.333333% 70.588235%; }
.icon--blueprints--ijkjMjpm { background-position: 83.333333% 76.470588%; }
.icon--blueprints--ikdgTsNH { background-position: 83.333333% 82.352941%; }
.icon--blueprints--mfMitN7c { background-position: 83.333333% 88.235294%; }
.icon--blueprints--rfIT9BLO { background-position: 83.333333% 94.117647%; }
.icon--blueprints--xD5ycDpz { background-position: 83.333333% 100%; }
.icon--blueprints--mxPRmj3q { background-position: 88.888889% 0; }
.icon--blueprints--nN6XwiyX { background-position: 88.888889% 5.882353%; }
.icon--blueprints--nORKLrmJ { background-position: 88.888889% 11.764706%; }
.icon--blueprints--nfDXtEJE { background-position: 88.888889% 17.647059%; }
.icon--blueprints--nfOPACi6 { background-position: 88.888889% 23.529412%; }
.icon--blueprints--niLpofD0 { background-position: 88.888889% 29.411765%; }
.icon--blueprints--oPPSd2VB { background-position: 88.888889% 35.294118%; }
.icon--blueprints--odLZtf1t { background-position: 88.888889% 41.176471%; }
.icon--blueprints--odbYQMWA { background-position: 88.888889% 47.058824%; }
.icon--blueprints--okDA2WFr { background-position: 88.888889% 52.941176%; }
.icon--blueprints--otTKql1k { background-position: 88.888889% 58.823529%; }
.icon--blueprints--ov5ZYugr { background-position: 88.888889% 64.705882%; }
.icon--blueprints--p6vVc3rI { background-position: 88.888889% 70.588235%; }
.icon--blueprints--pCHVRlGy { background-position: 88.888889% 76.470588%; }
.icon--blueprints--pGQczNVy { background-position: 88.888889% 82.352941%; }
.icon--blueprints--pQxu6Usa { background-position: 88.888889% 88.235294%; }
.icon--blueprints--rzL37YI9 { background-position: 88.888889% 94.117647%; }
.icon--blueprints--xEmyu8dg { background-position: 88.888889% 100%; }
.icon--blueprints--sO3YJf1M { background-position: 94.444444% 0; }
.icon--blueprints--sOqVBRxT { background-position: 94.444444% 5.882353%; }
.icon--blueprints--skv1kjOJ { background-position: 94.444444% 11.764706%; }
.icon--blueprints--t6zujFzc { background-position: 94.444444% 17.647059%; }
.icon--blueprints--tFyremjs { background-position: 94.444444% 23.529412%; }
.icon--blueprints--tGG9x5Uz { background-position: 94.444444% 29.411765%; }
.icon--blueprints--tGKBMHbJ { background-position: 94.444444% 35.294118%; }
.icon--blueprints--tjjzKQqD { background-position: 94.444444% 41.176471%; }
.icon--blueprints--tlJOKDmo { background-position: 94.444444% 47.058824%; }
.icon--blueprints--u8Hn7Rxs { background-position: 94.444444% 52.941176%; }
.icon--blueprints--uClHREgM { background-position: 94.444444% 58.823529%; }
.icon--blueprints--uav6ZsAH { background-position: 94.444444% 64.705882%; }
.icon--blueprints--uf6sV7xq { background-position: 94.444444% 70.588235%; }
.icon--blueprints--ug1EHfte { background-position: 94.444444% 76.470588%; }
.icon--blueprints--uijdVBSr { background-position: 94.444444% 82.352941%; }
.icon--blueprints--v4kpumA7 { background-position: 94.444444% 88.235294%; }
.icon--blueprints--v640XrRy { background-position: 94.444444% 94.117647%; }
.icon--blueprints--xWuJSEIX { background-position: 94.444444% 100%; }
.icon--blueprints--yDK8WUny { background-position: 100% 0; }
.icon--blueprints--yRZmanID { background-position: 100% 5.882353%; }
.icon--blueprints--ymWoJfXh { background-position: 100% 11.764706%; }
.icon--blueprints--ys7d6U8O { background-position: 100% 17.647059%; }
.icon--blueprints--yvplDhSe { background-position: 100% 23.529412%; }
.icon--blueprints--yyh44Crz { background-position: 100% 29.411765%; }
.icon--blueprints--zlPjZ3iE { background-position: 100% 35.294118%; }
.icon--blueprints--zuaatUnA { background-position: 100% 41.176471%; }
