.icon--blueprints {
  display: block;
  background-image: url("/assets/sprites/blueprints.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--blueprints--062iB11Q { background-position: 0 0; }
.icon--blueprints--0XxQUULs { background-position: 0 5.555556%; }
.icon--blueprints--1rmYvcWx { background-position: 0 11.111111%; }
.icon--blueprints--2Oo1YpvV { background-position: 0 16.666667%; }
.icon--blueprints--3XY0cA08 { background-position: 0 22.222222%; }
.icon--blueprints--6J5YTewA { background-position: 0 27.777778%; }
.icon--blueprints--7xg2v5qx { background-position: 0 33.333333%; }
.icon--blueprints--9UEBGkiF { background-position: 0 38.888889%; }
.icon--blueprints--b3qzXrn3 { background-position: 0 44.444444%; }
.icon--blueprints--cIzBGtww { background-position: 0 50%; }
.icon--blueprints--eIY0gkwI { background-position: 0 55.555556%; }
.icon--blueprints--G9y1l6kw { background-position: 0 61.111111%; }
.icon--blueprints--i4UzWxv8 { background-position: 0 66.666667%; }
.icon--blueprints--kWC6s9gG { background-position: 0 72.222222%; }
.icon--blueprints--N7ARrOhn { background-position: 0 77.777778%; }
.icon--blueprints--OUTzpPIZ { background-position: 0 83.333333%; }
.icon--blueprints--quyiHwNz { background-position: 0 88.888889%; }
.icon--blueprints--uClHREgM { background-position: 0 94.444444%; }
.icon--blueprints--X4sQvY8p { background-position: 0 100%; }
.icon--blueprints--0PgZQ2HJ { background-position: 5.263158% 0; }
.icon--blueprints--1iAzxXZC { background-position: 5.263158% 5.555556%; }
.icon--blueprints--1S4JCfA9 { background-position: 5.263158% 11.111111%; }
.icon--blueprints--2synZD6m { background-position: 5.263158% 16.666667%; }
.icon--blueprints--3XZ9pa34 { background-position: 5.263158% 22.222222%; }
.icon--blueprints--6lxgYTDo { background-position: 5.263158% 27.777778%; }
.icon--blueprints--7Y2ECjh2 { background-position: 5.263158% 33.333333%; }
.icon--blueprints--9UtwUN8n { background-position: 5.263158% 38.888889%; }
.icon--blueprints--B5m7fd9T { background-position: 5.263158% 44.444444%; }
.icon--blueprints--CWEioVtV { background-position: 5.263158% 50%; }
.icon--blueprints--EjCi3cOV { background-position: 5.263158% 55.555556%; }
.icon--blueprints--GaTMfyV5 { background-position: 5.263158% 61.111111%; }
.icon--blueprints--i8tskslZ { background-position: 5.263158% 66.666667%; }
.icon--blueprints--kZMxO5oE { background-position: 5.263158% 72.222222%; }
.icon--blueprints--nBEXbjrO { background-position: 5.263158% 77.777778%; }
.icon--blueprints--ov5ZYugr { background-position: 5.263158% 83.333333%; }
.icon--blueprints--QvcozLV1 { background-position: 5.263158% 88.888889%; }
.icon--blueprints--uf6sV7xq { background-position: 5.263158% 94.444444%; }
.icon--blueprints--x8GrJoWB { background-position: 5.263158% 100%; }
.icon--blueprints--1JO7Xuua { background-position: 10.526316% 0; }
.icon--blueprints--1QPT1sWy { background-position: 10.526316% 5.555556%; }
.icon--blueprints--1sLfjVr6 { background-position: 10.526316% 11.111111%; }
.icon--blueprints--2ubfB9TG { background-position: 10.526316% 16.666667%; }
.icon--blueprints--419yjKEf { background-position: 10.526316% 22.222222%; }
.icon--blueprints--6pwE1lwx { background-position: 10.526316% 27.777778%; }
.icon--blueprints--7ZL4TdMa { background-position: 10.526316% 33.333333%; }
.icon--blueprints--ACUoIvQX { background-position: 10.526316% 38.888889%; }
.icon--blueprints--BdCy970c { background-position: 10.526316% 44.444444%; }
.icon--blueprints--DCG82YBz { background-position: 10.526316% 50%; }
.icon--blueprints--eKdHSear { background-position: 10.526316% 55.555556%; }
.icon--blueprints--Gefbsxsv { background-position: 10.526316% 61.111111%; }
.icon--blueprints--iaumBrRL { background-position: 10.526316% 66.666667%; }
.icon--blueprints--LDfD2wfe { background-position: 10.526316% 72.222222%; }
.icon--blueprints--NCRd1tmH { background-position: 10.526316% 77.777778%; }
.icon--blueprints--OxTp1c6D { background-position: 10.526316% 83.333333%; }
.icon--blueprints--R2d5vH2R { background-position: 10.526316% 88.888889%; }
.icon--blueprints--ug1EHfte { background-position: 10.526316% 94.444444%; }
.icon--blueprints--XB9ZWtTB { background-position: 10.526316% 100%; }
.icon--blueprints--1YoeVFKi { background-position: 15.789474% 0; }
.icon--blueprints--239YNHW8 { background-position: 15.789474% 5.555556%; }
.icon--blueprints--2LL8wWPo { background-position: 15.789474% 11.111111%; }
.icon--blueprints--2uVqy2dC { background-position: 15.789474% 16.666667%; }
.icon--blueprints--4fxo3AH5 { background-position: 15.789474% 22.222222%; }
.icon--blueprints--6qKHxQHE { background-position: 15.789474% 27.777778%; }
.icon--blueprints--83Ym5Pbt { background-position: 15.789474% 33.333333%; }
.icon--blueprints--ag7ZcINM { background-position: 15.789474% 38.888889%; }
.icon--blueprints--BgzKPH4K { background-position: 15.789474% 44.444444%; }
.icon--blueprints--DDFZwTCi { background-position: 15.789474% 50%; }
.icon--blueprints--ELEoY844 { background-position: 15.789474% 55.555556%; }
.icon--blueprints--geIG8lGE { background-position: 15.789474% 61.111111%; }
.icon--blueprints--ic4kOZQk { background-position: 15.789474% 66.666667%; }
.icon--blueprints--LG34ZvsI { background-position: 15.789474% 72.222222%; }
.icon--blueprints--nddgINF5 { background-position: 15.789474% 77.777778%; }
.icon--blueprints--P1Gzp41C { background-position: 15.789474% 83.333333%; }
.icon--blueprints--r53opOhW { background-position: 15.789474% 88.888889%; }
.icon--blueprints--UhfaX9Nn { background-position: 15.789474% 94.444444%; }
.icon--blueprints--XBhLMGmQ { background-position: 15.789474% 100%; }
.icon--blueprints--2WkrfD9U { background-position: 21.052632% 0; }
.icon--blueprints--3BmwHrM1 { background-position: 21.052632% 5.555556%; }
.icon--blueprints--3mLOyVNO { background-position: 21.052632% 11.111111%; }
.icon--blueprints--3VIrdaD6 { background-position: 21.052632% 16.666667%; }
.icon--blueprints--5BMH0XNU { background-position: 21.052632% 22.222222%; }
.icon--blueprints--6qnds80c { background-position: 21.052632% 27.777778%; }
.icon--blueprints--8aFNt9Ee { background-position: 21.052632% 33.333333%; }
.icon--blueprints--AgAa1V1O { background-position: 21.052632% 38.888889%; }
.icon--blueprints--BHZJjJ0H { background-position: 21.052632% 44.444444%; }
.icon--blueprints--dekcfEpW { background-position: 21.052632% 50%; }
.icon--blueprints--eqofomYK { background-position: 21.052632% 55.555556%; }
.icon--blueprints--ghRWOjvW { background-position: 21.052632% 61.111111%; }
.icon--blueprints--ijkjMjpm { background-position: 21.052632% 66.666667%; }
.icon--blueprints--LmNZOnA5 { background-position: 21.052632% 72.222222%; }
.icon--blueprints--NeNbOSmu { background-position: 21.052632% 77.777778%; }
.icon--blueprints--P1tCVd6v { background-position: 21.052632% 83.333333%; }
.icon--blueprints--raHLItwW { background-position: 21.052632% 88.888889%; }
.icon--blueprints--uijdVBSr { background-position: 21.052632% 94.444444%; }
.icon--blueprints--xD5ycDpz { background-position: 21.052632% 100%; }
.icon--blueprints--5bpiEryi { background-position: 26.315789% 0; }
.icon--blueprints--5hs0RkrP { background-position: 26.315789% 5.555556%; }
.icon--blueprints--5WMesXxe { background-position: 26.315789% 11.111111%; }
.icon--blueprints--62Spn6Jr { background-position: 26.315789% 16.666667%; }
.icon--blueprints--6i4tVdAm { background-position: 26.315789% 22.222222%; }
.icon--blueprints--6r8sm53U { background-position: 26.315789% 27.777778%; }
.icon--blueprints--8B29n8Yx { background-position: 26.315789% 33.333333%; }
.icon--blueprints--AgUrdutk { background-position: 26.315789% 38.888889%; }
.icon--blueprints--BKnOOq8J { background-position: 26.315789% 44.444444%; }
.icon--blueprints--DFJgzDCl { background-position: 26.315789% 50%; }
.icon--blueprints--esQDbY5U { background-position: 26.315789% 55.555556%; }
.icon--blueprints--Gjjzcggz { background-position: 26.315789% 61.111111%; }
.icon--blueprints--ikdgTsNH { background-position: 26.315789% 66.666667%; }
.icon--blueprints--LnT54wEd { background-position: 26.315789% 72.222222%; }
.icon--blueprints--nfDXtEJE { background-position: 26.315789% 77.777778%; }
.icon--blueprints--P2g5X2hE { background-position: 26.315789% 83.333333%; }
.icon--blueprints--rDftgFdd { background-position: 26.315789% 88.888889%; }
.icon--blueprints--UIwHpugK { background-position: 26.315789% 94.444444%; }
.icon--blueprints--xEmyu8dg { background-position: 26.315789% 100%; }
.icon--blueprints--6rbjS6so { background-position: 31.578947% 0; }
.icon--blueprints--6SwZDmjq { background-position: 31.578947% 5.555556%; }
.icon--blueprints--6UsfupXQ { background-position: 31.578947% 11.111111%; }
.icon--blueprints--6ys8bmHF { background-position: 31.578947% 16.666667%; }
.icon--blueprints--7HZecWpk { background-position: 31.578947% 22.222222%; }
.icon--blueprints--7rBG9J31 { background-position: 31.578947% 27.777778%; }
.icon--blueprints--8krr66fM { background-position: 31.578947% 33.333333%; }
.icon--blueprints--Ah6witok { background-position: 31.578947% 38.888889%; }
.icon--blueprints--bM5EIvw9 { background-position: 31.578947% 44.444444%; }
.icon--blueprints--dmffluyz { background-position: 31.578947% 50%; }
.icon--blueprints--eTAQELr4 { background-position: 31.578947% 55.555556%; }
.icon--blueprints--gQuj8rUM { background-position: 31.578947% 61.111111%; }
.icon--blueprints--IRaXJAg8 { background-position: 31.578947% 66.666667%; }
.icon--blueprints--LPP3AZVN { background-position: 31.578947% 72.222222%; }
.icon--blueprints--nfOPACi6 { background-position: 31.578947% 77.777778%; }
.icon--blueprints--p6vVc3rI { background-position: 31.578947% 83.333333%; }
.icon--blueprints--rfIT9BLO { background-position: 31.578947% 88.888889%; }
.icon--blueprints--UJAu8SM9 { background-position: 31.578947% 94.444444%; }
.icon--blueprints--XFCzgQUu { background-position: 31.578947% 100%; }
.icon--blueprints--8qHoIcZO { background-position: 36.842105% 0; }
.icon--blueprints--8Rx1fr0Z { background-position: 36.842105% 5.555556%; }
.icon--blueprints--8SMV4LLg { background-position: 36.842105% 11.111111%; }
.icon--blueprints--99LDUh57 { background-position: 36.842105% 16.666667%; }
.icon--blueprints--99oy3z7V { background-position: 36.842105% 22.222222%; }
.icon--blueprints--9MAqncOX { background-position: 36.842105% 27.777778%; }
.icon--blueprints--9Plo5oNk { background-position: 36.842105% 33.333333%; }
.icon--blueprints--aI2dmi3E { background-position: 36.842105% 38.888889%; }
.icon--blueprints--BrjhwL2W { background-position: 36.842105% 44.444444%; }
.icon--blueprints--DP4I23JX { background-position: 36.842105% 50%; }
.icon--blueprints--eTMmEqx2 { background-position: 36.842105% 55.555556%; }
.icon--blueprints--gT0Iz9vB { background-position: 36.842105% 61.111111%; }
.icon--blueprints--IRougWZT { background-position: 36.842105% 66.666667%; }
.icon--blueprints--lQ9QlS9G { background-position: 36.842105% 72.222222%; }
.icon--blueprints--niLpofD0 { background-position: 36.842105% 77.777778%; }
.icon--blueprints--PbFHaMZA { background-position: 36.842105% 83.333333%; }
.icon--blueprints--RLbNcFUM { background-position: 36.842105% 88.888889%; }
.icon--blueprints--UqDciMm2 { background-position: 36.842105% 94.444444%; }
.icon--blueprints--XGWawc3m { background-position: 36.842105% 100%; }
.icon--blueprints--aPSeWo8h { background-position: 42.105263% 0; }
.icon--blueprints--AQSnD27c { background-position: 42.105263% 5.555556%; }
.icon--blueprints--asfeH3f4 { background-position: 42.105263% 11.111111%; }
.icon--blueprints--asSSdica { background-position: 42.105263% 16.666667%; }
.icon--blueprints--AUDIUDSZ { background-position: 42.105263% 22.222222%; }
.icon--blueprints--AXn6GCvz { background-position: 42.105263% 27.777778%; }
.icon--blueprints--Axn8byHz { background-position: 42.105263% 33.333333%; }
.icon--blueprints--B1GiBVqZ { background-position: 42.105263% 38.888889%; }
.icon--blueprints--btknpkUs { background-position: 42.105263% 44.444444%; }
.icon--blueprints--DQemdh1m { background-position: 42.105263% 50%; }
.icon--blueprints--eWJD9R0e { background-position: 42.105263% 55.555556%; }
.icon--blueprints--H2cHfmag { background-position: 42.105263% 61.111111%; }
.icon--blueprints--IsuSqm6R { background-position: 42.105263% 66.666667%; }
.icon--blueprints--Ls73R3xZ { background-position: 42.105263% 72.222222%; }
.icon--blueprints--nN6XwiyX { background-position: 42.105263% 77.777778%; }
.icon--blueprints--pCHVRlGy { background-position: 42.105263% 83.333333%; }
.icon--blueprints--RPNjttnU { background-position: 42.105263% 88.888889%; }
.icon--blueprints--UULgmmbD { background-position: 42.105263% 94.444444%; }
.icon--blueprints--xiGxTBK9 { background-position: 42.105263% 100%; }
.icon--blueprints--bttTVr8l { background-position: 47.368421% 0; }
.icon--blueprints--bVZRwwL3 { background-position: 47.368421% 5.555556%; }
.icon--blueprints--BwejKLRF { background-position: 47.368421% 11.111111%; }
.icon--blueprints--bWWAa6j2 { background-position: 47.368421% 16.666667%; }
.icon--blueprints--bxSpVEQr { background-position: 47.368421% 22.222222%; }
.icon--blueprints--CBkU8YQT { background-position: 47.368421% 27.777778%; }
.icon--blueprints--CBoGrl4i { background-position: 47.368421% 33.333333%; }
.icon--blueprints--cDAaG5cy { background-position: 47.368421% 38.888889%; }
.icon--blueprints--cgQM9cHk { background-position: 47.368421% 44.444444%; }
.icon--blueprints--DsnGZ49V { background-position: 47.368421% 50%; }
.icon--blueprints--F21yWYhC { background-position: 47.368421% 55.555556%; }
.icon--blueprints--H2hIe3aV { background-position: 47.368421% 61.111111%; }
.icon--blueprints--iwpx9m15 { background-position: 47.368421% 66.666667%; }
.icon--blueprints--LsqbgttB { background-position: 47.368421% 72.222222%; }
.icon--blueprints--NNCsoqvI { background-position: 47.368421% 77.777778%; }
.icon--blueprints--pGQczNVy { background-position: 47.368421% 83.333333%; }
.icon--blueprints--RtvVZhhq { background-position: 47.368421% 88.888889%; }
.icon--blueprints--V3iKkPtr { background-position: 47.368421% 94.444444%; }
.icon--blueprints--XiLYNLrH { background-position: 47.368421% 100%; }
.icon--blueprints--dtqspfCX { background-position: 52.631579% 0; }
.icon--blueprints--dUjcBYsW { background-position: 52.631579% 5.555556%; }
.icon--blueprints--dutU8OXi { background-position: 52.631579% 11.111111%; }
.icon--blueprints--dwU2WPnw { background-position: 52.631579% 16.666667%; }
.icon--blueprints--DxmmI5A7 { background-position: 52.631579% 22.222222%; }
.icon--blueprints--dYAgxG0y { background-position: 52.631579% 27.777778%; }
.icon--blueprints--DyKgL8sp { background-position: 52.631579% 33.333333%; }
.icon--blueprints--e0MEBRDk { background-position: 52.631579% 38.888889%; }
.icon--blueprints--E0ziq1Kd { background-position: 52.631579% 44.444444%; }
.icon--blueprints--ebqlY1Yx { background-position: 52.631579% 50%; }
.icon--blueprints--f3pw4BcT { background-position: 52.631579% 55.555556%; }
.icon--blueprints--H4KE4rub { background-position: 52.631579% 61.111111%; }
.icon--blueprints--iX340m5D { background-position: 52.631579% 66.666667%; }
.icon--blueprints--LT3SizN3 { background-position: 52.631579% 72.222222%; }
.icon--blueprints--nnmOcOJx { background-position: 52.631579% 77.777778%; }
.icon--blueprints--PicYv3no { background-position: 52.631579% 83.333333%; }
.icon--blueprints--rzL37YI9 { background-position: 52.631579% 88.888889%; }
.icon--blueprints--V3SwPCHO { background-position: 52.631579% 94.444444%; }
.icon--blueprints--Xv36nEU7 { background-position: 52.631579% 100%; }
.icon--blueprints--f4F3szJZ { background-position: 57.894737% 0; }
.icon--blueprints--fa5zOQNV { background-position: 57.894737% 5.555556%; }
.icon--blueprints--FaojwxRH { background-position: 57.894737% 11.111111%; }
.icon--blueprints--fEwrWFo7 { background-position: 57.894737% 16.666667%; }
.icon--blueprints--FgbHM5SA { background-position: 57.894737% 22.222222%; }
.icon--blueprints--FGc2Xwin { background-position: 57.894737% 27.777778%; }
.icon--blueprints--FhDv6BMi { background-position: 57.894737% 33.333333%; }
.icon--blueprints--flTvdvAS { background-position: 57.894737% 38.888889%; }
.icon--blueprints--Fva12CGo { background-position: 57.894737% 44.444444%; }
.icon--blueprints--FWQzRgq5 { background-position: 57.894737% 50%; }
.icon--blueprints--fzODvomr { background-position: 57.894737% 55.555556%; }
.icon--blueprints--hE2REKr6 { background-position: 57.894737% 61.111111%; }
.icon--blueprints--IYKJqqsi { background-position: 57.894737% 66.666667%; }
.icon--blueprints--Lu2AMfGE { background-position: 57.894737% 72.222222%; }
.icon--blueprints--nORKLrmJ { background-position: 57.894737% 77.777778%; }
.icon--blueprints--plpCnfBu { background-position: 57.894737% 83.333333%; }
.icon--blueprints--SaFPnkQ5 { background-position: 57.894737% 88.888889%; }
.icon--blueprints--v4kpumA7 { background-position: 57.894737% 94.444444%; }
.icon--blueprints--xWuJSEIX { background-position: 57.894737% 100%; }
.icon--blueprints--hkw7OpYG { background-position: 63.157895% 0; }
.icon--blueprints--hmiMXGZ8 { background-position: 63.157895% 5.555556%; }
.icon--blueprints--Hn3cCTsU { background-position: 63.157895% 11.111111%; }
.icon--blueprints--hODHOfPY { background-position: 63.157895% 16.666667%; }
.icon--blueprints--HOPAOUBu { background-position: 63.157895% 22.222222%; }
.icon--blueprints--hrzRjMcm { background-position: 63.157895% 27.777778%; }
.icon--blueprints--HUcqReUx { background-position: 63.157895% 33.333333%; }
.icon--blueprints--hUTg4mks { background-position: 63.157895% 38.888889%; }
.icon--blueprints--HvbNxc7a { background-position: 63.157895% 44.444444%; }
.icon--blueprints--HXql8w0a { background-position: 63.157895% 50%; }
.icon--blueprints--HXZlCNnI { background-position: 63.157895% 55.555556%; }
.icon--blueprints--hygqlUtt { background-position: 63.157895% 61.111111%; }
.icon--blueprints--j92t6lCO { background-position: 63.157895% 66.666667%; }
.icon--blueprints--lZMwg79I { background-position: 63.157895% 72.222222%; }
.icon--blueprints--NPY2T3bG { background-position: 63.157895% 77.777778%; }
.icon--blueprints--pQxu6Usa { background-position: 63.157895% 83.333333%; }
.icon--blueprints--skv1kjOJ { background-position: 63.157895% 88.888889%; }
.icon--blueprints--v640XrRy { background-position: 63.157895% 94.444444%; }
.icon--blueprints--YAAU9SlR { background-position: 63.157895% 100%; }
.icon--blueprints--jHDPFZpA { background-position: 68.421053% 0; }
.icon--blueprints--JNZthoRT { background-position: 68.421053% 5.555556%; }
.icon--blueprints--jtF3kqCb { background-position: 68.421053% 11.111111%; }
.icon--blueprints--Jv1D8lJO { background-position: 68.421053% 16.666667%; }
.icon--blueprints--JW1v0cTq { background-position: 68.421053% 22.222222%; }
.icon--blueprints--jzTGM3SV { background-position: 68.421053% 27.777778%; }
.icon--blueprints--kbtfmWAr { background-position: 68.421053% 33.333333%; }
.icon--blueprints--kc1mJR2T { background-position: 68.421053% 38.888889%; }
.icon--blueprints--kcgk5ut5 { background-position: 68.421053% 44.444444%; }
.icon--blueprints--kEelsmsr { background-position: 68.421053% 50%; }
.icon--blueprints--kjMYZKPO { background-position: 68.421053% 55.555556%; }
.icon--blueprints--KJYX7UCP { background-position: 68.421053% 61.111111%; }
.icon--blueprints--KKfY3RqV { background-position: 68.421053% 66.666667%; }
.icon--blueprints--m23EXa9e { background-position: 68.421053% 72.222222%; }
.icon--blueprints--Nu9yPiqC { background-position: 68.421053% 77.777778%; }
.icon--blueprints--PSgr49I1 { background-position: 68.421053% 83.333333%; }
.icon--blueprints--SMisTpdY { background-position: 68.421053% 88.888889%; }
.icon--blueprints--v7fn0vXd { background-position: 68.421053% 94.444444%; }
.icon--blueprints--YBqamrwN { background-position: 68.421053% 100%; }
.icon--blueprints--M9AKMvXM { background-position: 73.684211% 0; }
.icon--blueprints--MbTwCL47 { background-position: 73.684211% 5.555556%; }
.icon--blueprints--mf8pApzu { background-position: 73.684211% 11.111111%; }
.icon--blueprints--mfMitN7c { background-position: 73.684211% 16.666667%; }
.icon--blueprints--MKDlzYat { background-position: 73.684211% 22.222222%; }
.icon--blueprints--MlbDPGvT { background-position: 73.684211% 27.777778%; }
.icon--blueprints--MoTlqjk9 { background-position: 73.684211% 33.333333%; }
.icon--blueprints--Mp45YB2s { background-position: 73.684211% 38.888889%; }
.icon--blueprints--mTPOYDUr { background-position: 73.684211% 44.444444%; }
.icon--blueprints--mV5sNd8l { background-position: 73.684211% 50%; }
.icon--blueprints--MxpLDIGc { background-position: 73.684211% 55.555556%; }
.icon--blueprints--mxPRmj3q { background-position: 73.684211% 61.111111%; }
.icon--blueprints--MYG92bM8 { background-position: 73.684211% 66.666667%; }
.icon--blueprints--N5kvAt0c { background-position: 73.684211% 72.222222%; }
.icon--blueprints--NXnqIFSJ { background-position: 73.684211% 77.777778%; }
.icon--blueprints--Q022P2Az { background-position: 73.684211% 83.333333%; }
.icon--blueprints--sO3YJf1M { background-position: 73.684211% 88.888889%; }
.icon--blueprints--v9Ch0fGC { background-position: 73.684211% 94.444444%; }
.icon--blueprints--yDK8WUny { background-position: 73.684211% 100%; }
.icon--blueprints--NXUOa5up { background-position: 78.947368% 0; }
.icon--blueprints--NZhbvmXq { background-position: 78.947368% 5.555556%; }
.icon--blueprints--O5YzPHVM { background-position: 78.947368% 11.111111%; }
.icon--blueprints--oclRzeYs { background-position: 78.947368% 16.666667%; }
.icon--blueprints--odbYQMWA { background-position: 78.947368% 22.222222%; }
.icon--blueprints--odLZtf1t { background-position: 78.947368% 27.777778%; }
.icon--blueprints--okDA2WFr { background-position: 78.947368% 33.333333%; }
.icon--blueprints--OM9wIYWX { background-position: 78.947368% 38.888889%; }
.icon--blueprints--OPAlxlXb { background-position: 78.947368% 44.444444%; }
.icon--blueprints--oPPSd2VB { background-position: 78.947368% 50%; }
.icon--blueprints--ORnVXHtU { background-position: 78.947368% 55.555556%; }
.icon--blueprints--ORO7PA5S { background-position: 78.947368% 61.111111%; }
.icon--blueprints--ORp4TzXU { background-position: 78.947368% 66.666667%; }
.icon--blueprints--otTKql1k { background-position: 78.947368% 72.222222%; }
.icon--blueprints--OUKQnugi { background-position: 78.947368% 77.777778%; }
.icon--blueprints--q2GwkOLY { background-position: 78.947368% 83.333333%; }
.icon--blueprints--sOqVBRxT { background-position: 78.947368% 88.888889%; }
.icon--blueprints--vC9PUeVM { background-position: 78.947368% 94.444444%; }
.icon--blueprints--yhUqbL0B { background-position: 78.947368% 100%; }
.icon--blueprints--q4N7pYK4 { background-position: 84.210526% 0; }
.icon--blueprints--q4R0Fkco { background-position: 84.210526% 5.555556%; }
.icon--blueprints--q5AxvYHS { background-position: 84.210526% 11.111111%; }
.icon--blueprints--Q9JOGn2H { background-position: 84.210526% 16.666667%; }
.icon--blueprints--qbuttlNc { background-position: 84.210526% 22.222222%; }
.icon--blueprints--qCsc6HgP { background-position: 84.210526% 27.777778%; }
.icon--blueprints--qDdGpT8k { background-position: 84.210526% 33.333333%; }
.icon--blueprints--qeL0Y2aN { background-position: 84.210526% 38.888889%; }
.icon--blueprints--QGzs6E0U { background-position: 84.210526% 44.444444%; }
.icon--blueprints--qlg6U27h { background-position: 84.210526% 50%; }
.icon--blueprints--qNGeMj3n { background-position: 84.210526% 55.555556%; }
.icon--blueprints--qNPrCHuo { background-position: 84.210526% 61.111111%; }
.icon--blueprints--QnRfMDj5 { background-position: 84.210526% 66.666667%; }
.icon--blueprints--QNZb7rQ0 { background-position: 84.210526% 72.222222%; }
.icon--blueprints--Qq6xwbE2 { background-position: 84.210526% 77.777778%; }
.icon--blueprints--qQqwVzJG { background-position: 84.210526% 83.333333%; }
.icon--blueprints--SQavJj7S { background-position: 84.210526% 88.888889%; }
.icon--blueprints--VclJDSWw { background-position: 84.210526% 94.444444%; }
.icon--blueprints--ymWoJfXh { background-position: 84.210526% 100%; }
.icon--blueprints--SSUqRw9R { background-position: 89.473684% 0; }
.icon--blueprints--T0jnqwBi { background-position: 89.473684% 5.555556%; }
.icon--blueprints--t6zujFzc { background-position: 89.473684% 11.111111%; }
.icon--blueprints--T8JlbJAH { background-position: 89.473684% 16.666667%; }
.icon--blueprints--TcbyfO4w { background-position: 89.473684% 22.222222%; }
.icon--blueprints--tFyremjs { background-position: 89.473684% 27.777778%; }
.icon--blueprints--tGG9x5Uz { background-position: 89.473684% 33.333333%; }
.icon--blueprints--tGKBMHbJ { background-position: 89.473684% 38.888889%; }
.icon--blueprints--tjjzKQqD { background-position: 89.473684% 44.444444%; }
.icon--blueprints--tlJOKDmo { background-position: 89.473684% 50%; }
.icon--blueprints--TYDMcnV7 { background-position: 89.473684% 55.555556%; }
.icon--blueprints--tzjMarOj { background-position: 89.473684% 61.111111%; }
.icon--blueprints--U02dxNJl { background-position: 89.473684% 66.666667%; }
.icon--blueprints--U3lu6JFf { background-position: 89.473684% 72.222222%; }
.icon--blueprints--u8Hn7Rxs { background-position: 89.473684% 77.777778%; }
.icon--blueprints--UA9Fyz3z { background-position: 89.473684% 83.333333%; }
.icon--blueprints--uav6ZsAH { background-position: 89.473684% 88.888889%; }
.icon--blueprints--vCphESMk { background-position: 89.473684% 94.444444%; }
.icon--blueprints--YOM8j1V2 { background-position: 89.473684% 100%; }
.icon--blueprints--vI6GgGpa { background-position: 94.736842% 0; }
.icon--blueprints--vJf4oBxo { background-position: 94.736842% 5.555556%; }
.icon--blueprints--vkkOFsxX { background-position: 94.736842% 11.111111%; }
.icon--blueprints--VpJcEIUC { background-position: 94.736842% 16.666667%; }
.icon--blueprints--VqkVDDQa { background-position: 94.736842% 22.222222%; }
.icon--blueprints--VVXC35ok { background-position: 94.736842% 27.777778%; }
.icon--blueprints--w2dL03Nt { background-position: 94.736842% 33.333333%; }
.icon--blueprints--wBmLQ2Kn { background-position: 94.736842% 38.888889%; }
.icon--blueprints--wEapvVFb { background-position: 94.736842% 44.444444%; }
.icon--blueprints--Wf4M5Kl4 { background-position: 94.736842% 50%; }
.icon--blueprints--WFArkD3G { background-position: 94.736842% 55.555556%; }
.icon--blueprints--wOmXo66I { background-position: 94.736842% 61.111111%; }
.icon--blueprints--Wqqv6SSR { background-position: 94.736842% 66.666667%; }
.icon--blueprints--wqzyqFTq { background-position: 94.736842% 72.222222%; }
.icon--blueprints--Wv2RVJeo { background-position: 94.736842% 77.777778%; }
.icon--blueprints--wy5cAawM { background-position: 94.736842% 83.333333%; }
.icon--blueprints--X1LSMTlU { background-position: 94.736842% 88.888889%; }
.icon--blueprints--x3EcqjXz { background-position: 94.736842% 94.444444%; }
.icon--blueprints--yRZmanID { background-position: 94.736842% 100%; }
.icon--blueprints--ys7d6U8O { background-position: 100% 0; }
.icon--blueprints--yvplDhSe { background-position: 100% 5.555556%; }
.icon--blueprints--YxBlBItM { background-position: 100% 11.111111%; }
.icon--blueprints--yyh44Crz { background-position: 100% 16.666667%; }
.icon--blueprints--ZF7QUdgc { background-position: 100% 22.222222%; }
.icon--blueprints--ZFKFL0lb { background-position: 100% 27.777778%; }
.icon--blueprints--zlPjZ3iE { background-position: 100% 33.333333%; }
.icon--blueprints--ZolOg5qU { background-position: 100% 38.888889%; }
.icon--blueprints--Zt6QRgpM { background-position: 100% 44.444444%; }
.icon--blueprints--zuaatUnA { background-position: 100% 50%; }
.icon--blueprints--ZuH0PhvY { background-position: 100% 55.555556%; }
.icon--blueprints--ZzOLnsc7 { background-position: 100% 61.111111%; }
