.icon--consumables {
  display: block;
  background-image: url("/assets/sprites/consumables.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--consumables--1bLAIHY1 { background-position: 0 0; }
.icon--consumables--24DALlS3 { background-position: 0 7.692308%; }
.icon--consumables--3fuOsLs7 { background-position: 0 15.384615%; }
.icon--consumables--7ajQcHbE { background-position: 0 23.076923%; }
.icon--consumables--9i0nRp55 { background-position: 0 30.769231%; }
.icon--consumables--AMkMl0lO { background-position: 0 38.461538%; }
.icon--consumables--BQtEUqjU { background-position: 0 46.153846%; }
.icon--consumables--dEiH8pe1 { background-position: 0 53.846154%; }
.icon--consumables--G8QYPJSk { background-position: 0 61.538462%; }
.icon--consumables--IOF00yju { background-position: 0 69.230769%; }
.icon--consumables--MJeKdoyR { background-position: 0 76.923077%; }
.icon--consumables--QcE4ngAJ { background-position: 0 84.615385%; }
.icon--consumables--U7TN2irb { background-position: 0 92.307692%; }
.icon--consumables--xIMAFq6M { background-position: 0 100%; }
.icon--consumables--1ltIb33a { background-position: 7.142857% 0; }
.icon--consumables--2cHbJGTR { background-position: 7.142857% 7.692308%; }
.icon--consumables--3TYpOUzY { background-position: 7.142857% 15.384615%; }
.icon--consumables--7D0Xy6ZV { background-position: 7.142857% 23.076923%; }
.icon--consumables--9ijKAi7M { background-position: 7.142857% 30.769231%; }
.icon--consumables--AQ33tqM4 { background-position: 7.142857% 38.461538%; }
.icon--consumables--bQYtsMBe { background-position: 7.142857% 46.153846%; }
.icon--consumables--DVIrJbka { background-position: 7.142857% 53.846154%; }
.icon--consumables--GD6mLDX0 { background-position: 7.142857% 61.538462%; }
.icon--consumables--iVJkGSge { background-position: 7.142857% 69.230769%; }
.icon--consumables--MMc9wLtj { background-position: 7.142857% 76.923077%; }
.icon--consumables--Qic51HOZ { background-position: 7.142857% 84.615385%; }
.icon--consumables--UFZG8O8t { background-position: 7.142857% 92.307692%; }
.icon--consumables--Xivsrdxs { background-position: 7.142857% 100%; }
.icon--consumables--2D1QLMmC { background-position: 14.285714% 0; }
.icon--consumables--2yUhE8nn { background-position: 14.285714% 7.692308%; }
.icon--consumables--49Z9P6nj { background-position: 14.285714% 15.384615%; }
.icon--consumables--7RBVSG93 { background-position: 14.285714% 23.076923%; }
.icon--consumables--9pYhogIT { background-position: 14.285714% 30.769231%; }
.icon--consumables--AqbU0e3Y { background-position: 14.285714% 38.461538%; }
.icon--consumables--Bvn5ntOu { background-position: 14.285714% 46.153846%; }
.icon--consumables--e4TBhMcX { background-position: 14.285714% 53.846154%; }
.icon--consumables--gHzpxinE { background-position: 14.285714% 61.538462%; }
.icon--consumables--JD6ZKTJE { background-position: 14.285714% 69.230769%; }
.icon--consumables--mMh6Ga0w { background-position: 14.285714% 76.923077%; }
.icon--consumables--QkupyFpu { background-position: 14.285714% 84.615385%; }
.icon--consumables--UGALaMpp { background-position: 14.285714% 92.307692%; }
.icon--consumables--XlSmU5Jr { background-position: 14.285714% 100%; }
.icon--consumables--4uJ7xuYh { background-position: 21.428571% 0; }
.icon--consumables--5vWQSgKf { background-position: 21.428571% 7.692308%; }
.icon--consumables--6UzIWD4Y { background-position: 21.428571% 15.384615%; }
.icon--consumables--8inSk77V { background-position: 21.428571% 23.076923%; }
.icon--consumables--9qSiOJem { background-position: 21.428571% 30.769231%; }
.icon--consumables--AubT7LKf { background-position: 21.428571% 38.461538%; }
.icon--consumables--C1DtAMhk { background-position: 21.428571% 46.153846%; }
.icon--consumables--e7KWyeOg { background-position: 21.428571% 53.846154%; }
.icon--consumables--Gn1e9zXB { background-position: 21.428571% 61.538462%; }
.icon--consumables--JjVji5Pb { background-position: 21.428571% 69.230769%; }
.icon--consumables--mQEg0gOJ { background-position: 21.428571% 76.923077%; }
.icon--consumables--qYbsfP1H { background-position: 21.428571% 84.615385%; }
.icon--consumables--V0y79ajp { background-position: 21.428571% 92.307692%; }
.icon--consumables--xtzNQdPE { background-position: 21.428571% 100%; }
.icon--consumables--8SDwq0tW { background-position: 28.571429% 0; }
.icon--consumables--8WFDQ6vV { background-position: 28.571429% 7.692308%; }
.icon--consumables--92zVvXqf { background-position: 28.571429% 15.384615%; }
.icon--consumables--9EeiEmhu { background-position: 28.571429% 23.076923%; }
.icon--consumables--a07GImC5 { background-position: 28.571429% 30.769231%; }
.icon--consumables--AxyuA7zX { background-position: 28.571429% 38.461538%; }
.icon--consumables--C2nZMrS9 { background-position: 28.571429% 46.153846%; }
.icon--consumables--EFsa29tU { background-position: 28.571429% 53.846154%; }
.icon--consumables--gO744W5c { background-position: 28.571429% 61.538462%; }
.icon--consumables--jnYCXVf4 { background-position: 28.571429% 69.230769%; }
.icon--consumables--MSWPQcgq { background-position: 28.571429% 76.923077%; }
.icon--consumables--QzkgKzpP { background-position: 28.571429% 84.615385%; }
.icon--consumables--v1Umv8rx { background-position: 28.571429% 92.307692%; }
.icon--consumables--y2jdopZz { background-position: 28.571429% 100%; }
.icon--consumables--af0qOfyL { background-position: 35.714286% 0; }
.icon--consumables--agSHmn8e { background-position: 35.714286% 7.692308%; }
.icon--consumables--Airi4Z5E { background-position: 35.714286% 15.384615%; }
.icon--consumables--alTuAtbk { background-position: 35.714286% 23.076923%; }
.icon--consumables--Am76EDEP { background-position: 35.714286% 30.769231%; }
.icon--consumables--azk0WeUR { background-position: 35.714286% 38.461538%; }
.icon--consumables--C4QaGkvr { background-position: 35.714286% 46.153846%; }
.icon--consumables--eH8HaXHQ { background-position: 35.714286% 53.846154%; }
.icon--consumables--GSQgYDhq { background-position: 35.714286% 61.538462%; }
.icon--consumables--jowkJmyv { background-position: 35.714286% 69.230769%; }
.icon--consumables--n0vuJPPN { background-position: 35.714286% 76.923077%; }
.icon--consumables--r0dorotc { background-position: 35.714286% 84.615385%; }
.icon--consumables--V3OfDz43 { background-position: 35.714286% 92.307692%; }
.icon--consumables--y8Xbdg83 { background-position: 35.714286% 100%; }
.icon--consumables--b5lhxwIg { background-position: 42.857143% 0; }
.icon--consumables--bBglsTxp { background-position: 42.857143% 7.692308%; }
.icon--consumables--bD7PRotz { background-position: 42.857143% 15.384615%; }
.icon--consumables--BDdbI0Gd { background-position: 42.857143% 23.076923%; }
.icon--consumables--bLOl6un1 { background-position: 42.857143% 30.769231%; }
.icon--consumables--BpxNlZcS { background-position: 42.857143% 38.461538%; }
.icon--consumables--c5Ou2Pyd { background-position: 42.857143% 46.153846%; }
.icon--consumables--eiFu1JBb { background-position: 42.857143% 53.846154%; }
.icon--consumables--GTln9TxW { background-position: 42.857143% 61.538462%; }
.icon--consumables--jS6gi2vX { background-position: 42.857143% 69.230769%; }
.icon--consumables--n8F8ZkEc { background-position: 42.857143% 76.923077%; }
.icon--consumables--raY44YPQ { background-position: 42.857143% 84.615385%; }
.icon--consumables--V5fEpGRy { background-position: 42.857143% 92.307692%; }
.icon--consumables--yBvD54JE { background-position: 42.857143% 100%; }
.icon--consumables--Ca7pGTLT { background-position: 50% 0; }
.icon--consumables--CBjHRWD7 { background-position: 50% 7.692308%; }
.icon--consumables--cbsen0Um { background-position: 50% 15.384615%; }
.icon--consumables--cIrV5gVO { background-position: 50% 23.076923%; }
.icon--consumables--CVuJWrlg { background-position: 50% 30.769231%; }
.icon--consumables--cxA7WObx { background-position: 50% 38.461538%; }
.icon--consumables--dclflETh { background-position: 50% 46.153846%; }
.icon--consumables--ejMQCcwd { background-position: 50% 53.846154%; }
.icon--consumables--guGHOSBk { background-position: 50% 61.538462%; }
.icon--consumables--jsiGbRjC { background-position: 50% 69.230769%; }
.icon--consumables--N9zFQyRx { background-position: 50% 76.923077%; }
.icon--consumables--rcVNjHB0 { background-position: 50% 84.615385%; }
.icon--consumables--V5SzBax4 { background-position: 50% 92.307692%; }
.icon--consumables--yCSxm6BM { background-position: 50% 100%; }
.icon--consumables--eMiWFmqr { background-position: 57.142857% 0; }
.icon--consumables--eOwibou0 { background-position: 57.142857% 7.692308%; }
.icon--consumables--EvBWwVuG { background-position: 57.142857% 15.384615%; }
.icon--consumables--F9E33Yjd { background-position: 57.142857% 23.076923%; }
.icon--consumables--fmEGttlr { background-position: 57.142857% 30.769231%; }
.icon--consumables--FtGEsfa9 { background-position: 57.142857% 38.461538%; }
.icon--consumables--fyRILl7s { background-position: 57.142857% 46.153846%; }
.icon--consumables--g7VbwWn8 { background-position: 57.142857% 53.846154%; }
.icon--consumables--H2WDQh6k { background-position: 57.142857% 61.538462%; }
.icon--consumables--jucxmTzD { background-position: 57.142857% 69.230769%; }
.icon--consumables--Ne5uCLbI { background-position: 57.142857% 76.923077%; }
.icon--consumables--ReycjzmX { background-position: 57.142857% 84.615385%; }
.icon--consumables--vA8lRkuh { background-position: 57.142857% 92.307692%; }
.icon--consumables--YQhfBXXt { background-position: 57.142857% 100%; }
.icon--consumables--HcMxgYOD { background-position: 64.285714% 0; }
.icon--consumables--hOT1jWbt { background-position: 64.285714% 7.692308%; }
.icon--consumables--I0PO5odi { background-position: 64.285714% 15.384615%; }
.icon--consumables--i8Oc0gw9 { background-position: 64.285714% 23.076923%; }
.icon--consumables--iEkFOx1C { background-position: 64.285714% 30.769231%; }
.icon--consumables--iimq1gOy { background-position: 64.285714% 38.461538%; }
.icon--consumables--IKJ2NKSp { background-position: 64.285714% 46.153846%; }
.icon--consumables--Iljr5ixW { background-position: 64.285714% 53.846154%; }
.icon--consumables--IOD52L5o { background-position: 64.285714% 61.538462%; }
.icon--consumables--JwVFuf6w { background-position: 64.285714% 69.230769%; }
.icon--consumables--NMHlXXje { background-position: 64.285714% 76.923077%; }
.icon--consumables--RmEeYzJD { background-position: 64.285714% 84.615385%; }
.icon--consumables--vhPyZD3b { background-position: 64.285714% 92.307692%; }
.icon--consumables--yxj3L3ug { background-position: 64.285714% 100%; }
.icon--consumables--K2wuOZg1 { background-position: 71.428571% 0; }
.icon--consumables--kGAjZFK1 { background-position: 71.428571% 7.692308%; }
.icon--consumables--KoOrNZAE { background-position: 71.428571% 15.384615%; }
.icon--consumables--LB3yLrwd { background-position: 71.428571% 23.076923%; }
.icon--consumables--lc9m1WJC { background-position: 71.428571% 30.769231%; }
.icon--consumables--LEWdMxbV { background-position: 71.428571% 38.461538%; }
.icon--consumables--LFaU2r2H { background-position: 71.428571% 46.153846%; }
.icon--consumables--LFPmRhgV { background-position: 71.428571% 53.846154%; }
.icon--consumables--LMaHpiy3 { background-position: 71.428571% 61.538462%; }
.icon--consumables--lRLXCZoj { background-position: 71.428571% 69.230769%; }
.icon--consumables--nsGT5wgw { background-position: 71.428571% 76.923077%; }
.icon--consumables--rQu3UF6R { background-position: 71.428571% 84.615385%; }
.icon--consumables--vNKOYCtU { background-position: 71.428571% 92.307692%; }
.icon--consumables--ZcdqQJ4Y { background-position: 71.428571% 100%; }
.icon--consumables--nurFsII7 { background-position: 78.571429% 0; }
.icon--consumables--OeP0DM07 { background-position: 78.571429% 7.692308%; }
.icon--consumables--oFxE7kc1 { background-position: 78.571429% 15.384615%; }
.icon--consumables--oNOhAtcH { background-position: 78.571429% 23.076923%; }
.icon--consumables--OsbiJBcW { background-position: 78.571429% 30.769231%; }
.icon--consumables--osQa1jlz { background-position: 78.571429% 38.461538%; }
.icon--consumables--oYaQOfeu { background-position: 78.571429% 46.153846%; }
.icon--consumables--p4x3w9Yy { background-position: 78.571429% 53.846154%; }
.icon--consumables--P6xMRY41 { background-position: 78.571429% 61.538462%; }
.icon--consumables--pkoFARSp { background-position: 78.571429% 69.230769%; }
.icon--consumables--PlLRJ5uR { background-position: 78.571429% 76.923077%; }
.icon--consumables--rTpnydTS { background-position: 78.571429% 84.615385%; }
.icon--consumables--VxcZF2lP { background-position: 78.571429% 92.307692%; }
.icon--consumables--zGGsTMAv { background-position: 78.571429% 100%; }
.icon--consumables--rvhjKcEB { background-position: 85.714286% 0; }
.icon--consumables--rXHXFg1Q { background-position: 85.714286% 7.692308%; }
.icon--consumables--rxoqHaxZ { background-position: 85.714286% 15.384615%; }
.icon--consumables--SEdXMPo8 { background-position: 85.714286% 23.076923%; }
.icon--consumables--sosDz2so { background-position: 85.714286% 30.769231%; }
.icon--consumables--sw3cOYPM { background-position: 85.714286% 38.461538%; }
.icon--consumables--Tf7YUxmn { background-position: 85.714286% 46.153846%; }
.icon--consumables--tiFCZevm { background-position: 85.714286% 53.846154%; }
.icon--consumables--TpLl2Aph { background-position: 85.714286% 61.538462%; }
.icon--consumables--ttMIz4Wn { background-position: 85.714286% 69.230769%; }
.icon--consumables--TVXAxLOm { background-position: 85.714286% 76.923077%; }
.icon--consumables--U2ILRmyK { background-position: 85.714286% 84.615385%; }
.icon--consumables--VyaaSmgs { background-position: 85.714286% 92.307692%; }
.icon--consumables--zLIRyCtS { background-position: 85.714286% 100%; }
.icon--consumables--VZKgaUWc { background-position: 92.857143% 0; }
.icon--consumables--w1NXaWtz { background-position: 92.857143% 7.692308%; }
.icon--consumables--W69dI0Qy { background-position: 92.857143% 15.384615%; }
.icon--consumables--W6KRhPjX { background-position: 92.857143% 23.076923%; }
.icon--consumables--wcXlm6Ru { background-position: 92.857143% 30.769231%; }
.icon--consumables--wsU86LEn { background-position: 92.857143% 38.461538%; }
.icon--consumables--wtSd5o8F { background-position: 92.857143% 46.153846%; }
.icon--consumables--WZZ9V7FN { background-position: 92.857143% 53.846154%; }
.icon--consumables--x0F0wqUq { background-position: 92.857143% 61.538462%; }
.icon--consumables--xb20OLKQ { background-position: 92.857143% 69.230769%; }
.icon--consumables--xBMG387C { background-position: 92.857143% 76.923077%; }
.icon--consumables--xeDSan0W { background-position: 92.857143% 84.615385%; }
.icon--consumables--XfjqsxT9 { background-position: 92.857143% 92.307692%; }
.icon--consumables--zqSu33FX { background-position: 92.857143% 100%; }
.icon--consumables--zRCO3baG { background-position: 100% 0; }
.icon--consumables--ZuAds1s8 { background-position: 100% 7.692308%; }
.icon--consumables--ZVaTg3GC { background-position: 100% 15.384615%; }
