.icon--consumables {
  display: block;
  background-image: url("/assets/sprites/consumables.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--consumables--1bLAIHY1 { background-position: 0 0; }
.icon--consumables--1ltIb33a { background-position: 0 0.526316%; }
.icon--consumables--24DALlS3 { background-position: 0 1.052632%; }
.icon--consumables--2D1QLMmC { background-position: 0 1.578947%; }
.icon--consumables--2cHbJGTR { background-position: 0 2.105263%; }
.icon--consumables--2yUhE8nn { background-position: 0 2.631579%; }
.icon--consumables--3TYpOUzY { background-position: 0 3.157895%; }
.icon--consumables--3fuOsLs7 { background-position: 0 3.684211%; }
.icon--consumables--49Z9P6nj { background-position: 0 4.210526%; }
.icon--consumables--4BQ8eFCW { background-position: 0 4.736842%; }
.icon--consumables--4uJ7xuYh { background-position: 0 5.263158%; }
.icon--consumables--5vWQSgKf { background-position: 0 5.789474%; }
.icon--consumables--6UzIWD4Y { background-position: 0 6.315789%; }
.icon--consumables--7D0Xy6ZV { background-position: 0 6.842105%; }
.icon--consumables--7RBVSG93 { background-position: 0 7.368421%; }
.icon--consumables--7ajQcHbE { background-position: 0 7.894737%; }
.icon--consumables--8SDwq0tW { background-position: 0 8.421053%; }
.icon--consumables--8WFDQ6vV { background-position: 0 8.947368%; }
.icon--consumables--8inSk77V { background-position: 0 9.473684%; }
.icon--consumables--92zVvXqf { background-position: 0 10%; }
.icon--consumables--9EeiEmhu { background-position: 0 10.526316%; }
.icon--consumables--9i0nRp55 { background-position: 0 11.052632%; }
.icon--consumables--9ijKAi7M { background-position: 0 11.578947%; }
.icon--consumables--9pYhogIT { background-position: 0 12.105263%; }
.icon--consumables--AMkMl0lO { background-position: 0 12.631579%; }
.icon--consumables--AQ33tqM4 { background-position: 0 13.157895%; }
.icon--consumables--Airi4Z5E { background-position: 0 13.684211%; }
.icon--consumables--Am76EDEP { background-position: 0 14.210526%; }
.icon--consumables--AqbU0e3Y { background-position: 0 14.736842%; }
.icon--consumables--AubT7LKf { background-position: 0 15.263158%; }
.icon--consumables--AxyuA7zX { background-position: 0 15.789474%; }
.icon--consumables--BDdbI0Gd { background-position: 0 16.315789%; }
.icon--consumables--BQtEUqjU { background-position: 0 16.842105%; }
.icon--consumables--Bvn5ntOu { background-position: 0 17.368421%; }
.icon--consumables--C1DtAMhk { background-position: 0 17.894737%; }
.icon--consumables--C2nZMrS9 { background-position: 0 18.421053%; }
.icon--consumables--C4QaGkvr { background-position: 0 18.947368%; }
.icon--consumables--CBjHRWD7 { background-position: 0 19.473684%; }
.icon--consumables--CVuJWrlg { background-position: 0 20%; }
.icon--consumables--Ca7pGTLT { background-position: 0 20.526316%; }
.icon--consumables--DVIrJbka { background-position: 0 21.052632%; }
.icon--consumables--EFsa29tU { background-position: 0 21.578947%; }
.icon--consumables--EvBWwVuG { background-position: 0 22.105263%; }
.icon--consumables--F9E33Yjd { background-position: 0 22.631579%; }
.icon--consumables--FtGEsfa9 { background-position: 0 23.157895%; }
.icon--consumables--G8QYPJSk { background-position: 0 23.684211%; }
.icon--consumables--GD6mLDX0 { background-position: 0 24.210526%; }
.icon--consumables--GSQgYDhq { background-position: 0 24.736842%; }
.icon--consumables--GTln9TxW { background-position: 0 25.263158%; }
.icon--consumables--Gn1e9zXB { background-position: 0 25.789474%; }
.icon--consumables--H2WDQh6k { background-position: 0 26.315789%; }
.icon--consumables--HcMxgYOD { background-position: 0 26.842105%; }
.icon--consumables--I0PO5odi { background-position: 0 27.368421%; }
.icon--consumables--IKJ2NKSp { background-position: 0 27.894737%; }
.icon--consumables--IOD52L5o { background-position: 0 28.421053%; }
.icon--consumables--IOF00yju { background-position: 0 28.947368%; }
.icon--consumables--Iljr5ixW { background-position: 0 29.473684%; }
.icon--consumables--JD6ZKTJE { background-position: 0 30%; }
.icon--consumables--JjVji5Pb { background-position: 0 30.526316%; }
.icon--consumables--JwVFuf6w { background-position: 0 31.052632%; }
.icon--consumables--K2wuOZg1 { background-position: 0 31.578947%; }
.icon--consumables--KoOrNZAE { background-position: 0 32.105263%; }
.icon--consumables--LB3yLrwd { background-position: 0 32.631579%; }
.icon--consumables--LEWdMxbV { background-position: 0 33.157895%; }
.icon--consumables--LFaU2r2H { background-position: 0 33.684211%; }
.icon--consumables--LMaHpiy3 { background-position: 0 34.210526%; }
.icon--consumables--MJeKdoyR { background-position: 0 34.736842%; }
.icon--consumables--MMc9wLtj { background-position: 0 35.263158%; }
.icon--consumables--MSWPQcgq { background-position: 0 35.789474%; }
.icon--consumables--N9zFQyRx { background-position: 0 36.315789%; }
.icon--consumables--NMHlXXje { background-position: 0 36.842105%; }
.icon--consumables--Ne5uCLbI { background-position: 0 37.368421%; }
.icon--consumables--OeP0DM07 { background-position: 0 37.894737%; }
.icon--consumables--OsbiJBcW { background-position: 0 38.421053%; }
.icon--consumables--P6xMRY41 { background-position: 0 38.947368%; }
.icon--consumables--PlLRJ5uR { background-position: 0 39.473684%; }
.icon--consumables--QcE4ngAJ { background-position: 0 40%; }
.icon--consumables--Qic51HOZ { background-position: 0 40.526316%; }
.icon--consumables--QkupyFpu { background-position: 0 41.052632%; }
.icon--consumables--ReycjzmX { background-position: 0 41.578947%; }
.icon--consumables--RmEeYzJD { background-position: 0 42.105263%; }
.icon--consumables--SEdXMPo8 { background-position: 0 42.631579%; }
.icon--consumables--TVXAxLOm { background-position: 0 43.157895%; }
.icon--consumables--Tf7YUxmn { background-position: 0 43.684211%; }
.icon--consumables--TpLl2Aph { background-position: 0 44.210526%; }
.icon--consumables--U2ILRmyK { background-position: 0 44.736842%; }
.icon--consumables--U7TN2irb { background-position: 0 45.263158%; }
.icon--consumables--UFZG8O8t { background-position: 0 45.789474%; }
.icon--consumables--UGALaMpp { background-position: 0 46.315789%; }
.icon--consumables--V0y79ajp { background-position: 0 46.842105%; }
.icon--consumables--V2h9p2hE { background-position: 0 47.368421%; }
.icon--consumables--V3OfDz43 { background-position: 0 47.894737%; }
.icon--consumables--V5SzBax4 { background-position: 0 48.421053%; }
.icon--consumables--V5fEpGRy { background-position: 0 48.947368%; }
.icon--consumables--VZKgaUWc { background-position: 0 49.473684%; }
.icon--consumables--VxcZF2lP { background-position: 0 50%; }
.icon--consumables--VyaaSmgs { background-position: 0 50.526316%; }
.icon--consumables--W69dI0Qy { background-position: 0 51.052632%; }
.icon--consumables--W6KRhPjX { background-position: 0 51.578947%; }
.icon--consumables--WZZ9V7FN { background-position: 0 52.105263%; }
.icon--consumables--XfjqsxT9 { background-position: 0 52.631579%; }
.icon--consumables--Xivsrdxs { background-position: 0 53.157895%; }
.icon--consumables--XlSmU5Jr { background-position: 0 53.684211%; }
.icon--consumables--YQhfBXXt { background-position: 0 54.210526%; }
.icon--consumables--ZVaTg3GC { background-position: 0 54.736842%; }
.icon--consumables--ZcdqQJ4Y { background-position: 0 55.263158%; }
.icon--consumables--ZuAds1s8 { background-position: 0 55.789474%; }
.icon--consumables--a07GImC5 { background-position: 0 56.315789%; }
.icon--consumables--af0qOfyL { background-position: 0 56.842105%; }
.icon--consumables--agSHmn8e { background-position: 0 57.368421%; }
.icon--consumables--azk0WeUR { background-position: 0 57.894737%; }
.icon--consumables--b5lhxwIg { background-position: 0 58.421053%; }
.icon--consumables--bBglsTxp { background-position: 0 58.947368%; }
.icon--consumables--bD7PRotz { background-position: 0 59.473684%; }
.icon--consumables--bLOl6un1 { background-position: 0 60%; }
.icon--consumables--bQYtsMBe { background-position: 0 60.526316%; }
.icon--consumables--c5Ou2Pyd { background-position: 0 61.052632%; }
.icon--consumables--cIrV5gVO { background-position: 0 61.578947%; }
.icon--consumables--cbsen0Um { background-position: 0 62.105263%; }
.icon--consumables--cxA7WObx { background-position: 0 62.631579%; }
.icon--consumables--dEiH8pe1 { background-position: 0 63.157895%; }
.icon--consumables--dclflETh { background-position: 0 63.684211%; }
.icon--consumables--e4TBhMcX { background-position: 0 64.210526%; }
.icon--consumables--e7KWyeOg { background-position: 0 64.736842%; }
.icon--consumables--eH8HaXHQ { background-position: 0 65.263158%; }
.icon--consumables--eMiWFmqr { background-position: 0 65.789474%; }
.icon--consumables--eOwibou0 { background-position: 0 66.315789%; }
.icon--consumables--eiFu1JBb { background-position: 0 66.842105%; }
.icon--consumables--ejMQCcwd { background-position: 0 67.368421%; }
.icon--consumables--fmEGttlr { background-position: 0 67.894737%; }
.icon--consumables--fyRILl7s { background-position: 0 68.421053%; }
.icon--consumables--g7VbwWn8 { background-position: 0 68.947368%; }
.icon--consumables--gHzpxinE { background-position: 0 69.473684%; }
.icon--consumables--gO744W5c { background-position: 0 70%; }
.icon--consumables--guGHOSBk { background-position: 0 70.526316%; }
.icon--consumables--hOT1jWbt { background-position: 0 71.052632%; }
.icon--consumables--i8Oc0gw9 { background-position: 0 71.578947%; }
.icon--consumables--iEkFOx1C { background-position: 0 72.105263%; }
.icon--consumables--iVJkGSge { background-position: 0 72.631579%; }
.icon--consumables--iimq1gOy { background-position: 0 73.157895%; }
.icon--consumables--jS6gi2vX { background-position: 0 73.684211%; }
.icon--consumables--jnYCXVf4 { background-position: 0 74.210526%; }
.icon--consumables--jowkJmyv { background-position: 0 74.736842%; }
.icon--consumables--jsiGbRjC { background-position: 0 75.263158%; }
.icon--consumables--jucxmTzD { background-position: 0 75.789474%; }
.icon--consumables--kGAjZFK1 { background-position: 0 76.315789%; }
.icon--consumables--lc9m1WJC { background-position: 0 76.842105%; }
.icon--consumables--mMh6Ga0w { background-position: 0 77.368421%; }
.icon--consumables--mQEg0gOJ { background-position: 0 77.894737%; }
.icon--consumables--n0vuJPPN { background-position: 0 78.421053%; }
.icon--consumables--n8F8ZkEc { background-position: 0 78.947368%; }
.icon--consumables--nurFsII7 { background-position: 0 79.473684%; }
.icon--consumables--oFxE7kc1 { background-position: 0 80%; }
.icon--consumables--oNOhAtcH { background-position: 0 80.526316%; }
.icon--consumables--oYaQOfeu { background-position: 0 81.052632%; }
.icon--consumables--oYijDKCo { background-position: 0 81.578947%; }
.icon--consumables--osQa1jlz { background-position: 0 82.105263%; }
.icon--consumables--p4x3w9Yy { background-position: 0 82.631579%; }
.icon--consumables--pkoFARSp { background-position: 0 83.157895%; }
.icon--consumables--qHr6pggx { background-position: 0 83.684211%; }
.icon--consumables--qYbsfP1H { background-position: 0 84.210526%; }
.icon--consumables--r0dorotc { background-position: 0 84.736842%; }
.icon--consumables--rQu3UF6R { background-position: 0 85.263158%; }
.icon--consumables--rTpnydTS { background-position: 0 85.789474%; }
.icon--consumables--rXHXFg1Q { background-position: 0 86.315789%; }
.icon--consumables--raY44YPQ { background-position: 0 86.842105%; }
.icon--consumables--rcVNjHB0 { background-position: 0 87.368421%; }
.icon--consumables--rvhjKcEB { background-position: 0 87.894737%; }
.icon--consumables--rxoqHaxZ { background-position: 0 88.421053%; }
.icon--consumables--sosDz2so { background-position: 0 88.947368%; }
.icon--consumables--sw3cOYPM { background-position: 0 89.473684%; }
.icon--consumables--tiFCZevm { background-position: 0 90%; }
.icon--consumables--ttMIz4Wn { background-position: 0 90.526316%; }
.icon--consumables--v1Umv8rx { background-position: 0 91.052632%; }
.icon--consumables--vA8lRkuh { background-position: 0 91.578947%; }
.icon--consumables--vhPyZD3b { background-position: 0 92.105263%; }
.icon--consumables--w1NXaWtz { background-position: 0 92.631579%; }
.icon--consumables--wcXlm6Ru { background-position: 0 93.157895%; }
.icon--consumables--wsU86LEn { background-position: 0 93.684211%; }
.icon--consumables--wtSd5o8F { background-position: 0 94.210526%; }
.icon--consumables--x0F0wqUq { background-position: 0 94.736842%; }
.icon--consumables--xBMG387C { background-position: 0 95.263158%; }
.icon--consumables--xIMAFq6M { background-position: 0 95.789474%; }
.icon--consumables--xb20OLKQ { background-position: 0 96.315789%; }
.icon--consumables--xeDSan0W { background-position: 0 96.842105%; }
.icon--consumables--y2jdopZz { background-position: 0 97.368421%; }
.icon--consumables--y8Xbdg83 { background-position: 0 97.894737%; }
.icon--consumables--yBvD54JE { background-position: 0 98.421053%; }
.icon--consumables--yCSxm6BM { background-position: 0 98.947368%; }
.icon--consumables--zGGsTMAv { background-position: 0 99.473684%; }
.icon--consumables--zqSu33FX { background-position: 0 100%; }
