.icon--consumables {
  display: block;
  background-image: url("/assets/sprites/consumables.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--consumables--1bLAIHY1 { background-position: 0 0; }
.icon--consumables--24DALlS3 { background-position: 0 7.692308%; }
.icon--consumables--3TYpOUzY { background-position: 0 15.384615%; }
.icon--consumables--6UzIWD4Y { background-position: 0 23.076923%; }
.icon--consumables--9EeiEmhu { background-position: 0 30.769231%; }
.icon--consumables--AxyuA7zX { background-position: 0 38.461538%; }
.icon--consumables--EvBWwVuG { background-position: 0 46.153846%; }
.icon--consumables--Iljr5ixW { background-position: 0 53.846154%; }
.icon--consumables--OeP0DM07 { background-position: 0 61.538462%; }
.icon--consumables--V2h9p2hE { background-position: 0 69.230769%; }
.icon--consumables--azk0WeUR { background-position: 0 76.923077%; }
.icon--consumables--gHzpxinE { background-position: 0 84.615385%; }
.icon--consumables--osQa1jlz { background-position: 0 92.307692%; }
.icon--consumables--xIMAFq6M { background-position: 0 100%; }
.icon--consumables--1ltIb33a { background-position: 7.692308% 0; }
.icon--consumables--2D1QLMmC { background-position: 7.692308% 7.692308%; }
.icon--consumables--3fuOsLs7 { background-position: 7.692308% 15.384615%; }
.icon--consumables--7D0Xy6ZV { background-position: 7.692308% 23.076923%; }
.icon--consumables--9i0nRp55 { background-position: 7.692308% 30.769231%; }
.icon--consumables--BDdbI0Gd { background-position: 7.692308% 38.461538%; }
.icon--consumables--F9E33Yjd { background-position: 7.692308% 46.153846%; }
.icon--consumables--JD6ZKTJE { background-position: 7.692308% 53.846154%; }
.icon--consumables--OsbiJBcW { background-position: 7.692308% 61.538462%; }
.icon--consumables--V3OfDz43 { background-position: 7.692308% 69.230769%; }
.icon--consumables--b5lhxwIg { background-position: 7.692308% 76.923077%; }
.icon--consumables--gO744W5c { background-position: 7.692308% 84.615385%; }
.icon--consumables--p4x3w9Yy { background-position: 7.692308% 92.307692%; }
.icon--consumables--xb20OLKQ { background-position: 7.692308% 100%; }
.icon--consumables--2cHbJGTR { background-position: 15.384615% 0; }
.icon--consumables--2yUhE8nn { background-position: 15.384615% 7.692308%; }
.icon--consumables--49Z9P6nj { background-position: 15.384615% 15.384615%; }
.icon--consumables--7RBVSG93 { background-position: 15.384615% 23.076923%; }
.icon--consumables--9ijKAi7M { background-position: 15.384615% 30.769231%; }
.icon--consumables--BQtEUqjU { background-position: 15.384615% 38.461538%; }
.icon--consumables--FtGEsfa9 { background-position: 15.384615% 46.153846%; }
.icon--consumables--JjVji5Pb { background-position: 15.384615% 53.846154%; }
.icon--consumables--P6xMRY41 { background-position: 15.384615% 61.538462%; }
.icon--consumables--V5SzBax4 { background-position: 15.384615% 69.230769%; }
.icon--consumables--bBglsTxp { background-position: 15.384615% 76.923077%; }
.icon--consumables--guGHOSBk { background-position: 15.384615% 84.615385%; }
.icon--consumables--pkoFARSp { background-position: 15.384615% 92.307692%; }
.icon--consumables--xeDSan0W { background-position: 15.384615% 100%; }
.icon--consumables--4BQ8eFCW { background-position: 23.076923% 0; }
.icon--consumables--4uJ7xuYh { background-position: 23.076923% 7.692308%; }
.icon--consumables--5vWQSgKf { background-position: 23.076923% 15.384615%; }
.icon--consumables--7ajQcHbE { background-position: 23.076923% 23.076923%; }
.icon--consumables--9pYhogIT { background-position: 23.076923% 30.769231%; }
.icon--consumables--Bvn5ntOu { background-position: 23.076923% 38.461538%; }
.icon--consumables--G8QYPJSk { background-position: 23.076923% 46.153846%; }
.icon--consumables--JwVFuf6w { background-position: 23.076923% 53.846154%; }
.icon--consumables--PlLRJ5uR { background-position: 23.076923% 61.538462%; }
.icon--consumables--V5fEpGRy { background-position: 23.076923% 69.230769%; }
.icon--consumables--bD7PRotz { background-position: 23.076923% 76.923077%; }
.icon--consumables--hOT1jWbt { background-position: 23.076923% 84.615385%; }
.icon--consumables--qHr6pggx { background-position: 23.076923% 92.307692%; }
.icon--consumables--y2jdopZz { background-position: 23.076923% 100%; }
.icon--consumables--8SDwq0tW { background-position: 30.769231% 0; }
.icon--consumables--8WFDQ6vV { background-position: 30.769231% 7.692308%; }
.icon--consumables--8inSk77V { background-position: 30.769231% 15.384615%; }
.icon--consumables--92zVvXqf { background-position: 30.769231% 23.076923%; }
.icon--consumables--AMkMl0lO { background-position: 30.769231% 30.769231%; }
.icon--consumables--C1DtAMhk { background-position: 30.769231% 38.461538%; }
.icon--consumables--GD6mLDX0 { background-position: 30.769231% 46.153846%; }
.icon--consumables--K2wuOZg1 { background-position: 30.769231% 53.846154%; }
.icon--consumables--QcE4ngAJ { background-position: 30.769231% 61.538462%; }
.icon--consumables--VZKgaUWc { background-position: 30.769231% 69.230769%; }
.icon--consumables--bLOl6un1 { background-position: 30.769231% 76.923077%; }
.icon--consumables--i8Oc0gw9 { background-position: 30.769231% 84.615385%; }
.icon--consumables--qYbsfP1H { background-position: 30.769231% 92.307692%; }
.icon--consumables--y8Xbdg83 { background-position: 30.769231% 100%; }
.icon--consumables--AQ33tqM4 { background-position: 38.461538% 0; }
.icon--consumables--Airi4Z5E { background-position: 38.461538% 7.692308%; }
.icon--consumables--Am76EDEP { background-position: 38.461538% 15.384615%; }
.icon--consumables--AqbU0e3Y { background-position: 38.461538% 23.076923%; }
.icon--consumables--AubT7LKf { background-position: 38.461538% 30.769231%; }
.icon--consumables--C2nZMrS9 { background-position: 38.461538% 38.461538%; }
.icon--consumables--GSQgYDhq { background-position: 38.461538% 46.153846%; }
.icon--consumables--KoOrNZAE { background-position: 38.461538% 53.846154%; }
.icon--consumables--Qic51HOZ { background-position: 38.461538% 61.538462%; }
.icon--consumables--VxcZF2lP { background-position: 38.461538% 69.230769%; }
.icon--consumables--bQYtsMBe { background-position: 38.461538% 76.923077%; }
.icon--consumables--iEkFOx1C { background-position: 38.461538% 84.615385%; }
.icon--consumables--r0dorotc { background-position: 38.461538% 92.307692%; }
.icon--consumables--yBvD54JE { background-position: 38.461538% 100%; }
.icon--consumables--C4QaGkvr { background-position: 46.153846% 0; }
.icon--consumables--CBjHRWD7 { background-position: 46.153846% 7.692308%; }
.icon--consumables--CVuJWrlg { background-position: 46.153846% 15.384615%; }
.icon--consumables--Ca7pGTLT { background-position: 46.153846% 23.076923%; }
.icon--consumables--DVIrJbka { background-position: 46.153846% 30.769231%; }
.icon--consumables--EFsa29tU { background-position: 46.153846% 38.461538%; }
.icon--consumables--GTln9TxW { background-position: 46.153846% 46.153846%; }
.icon--consumables--LB3yLrwd { background-position: 46.153846% 53.846154%; }
.icon--consumables--QkupyFpu { background-position: 46.153846% 61.538462%; }
.icon--consumables--VyaaSmgs { background-position: 46.153846% 69.230769%; }
.icon--consumables--c5Ou2Pyd { background-position: 46.153846% 76.923077%; }
.icon--consumables--iVJkGSge { background-position: 46.153846% 84.615385%; }
.icon--consumables--rQu3UF6R { background-position: 46.153846% 92.307692%; }
.icon--consumables--yCSxm6BM { background-position: 46.153846% 100%; }
.icon--consumables--Gn1e9zXB { background-position: 53.846154% 0; }
.icon--consumables--H2WDQh6k { background-position: 53.846154% 7.692308%; }
.icon--consumables--HcMxgYOD { background-position: 53.846154% 15.384615%; }
.icon--consumables--I0PO5odi { background-position: 53.846154% 23.076923%; }
.icon--consumables--IKJ2NKSp { background-position: 53.846154% 30.769231%; }
.icon--consumables--IOD52L5o { background-position: 53.846154% 38.461538%; }
.icon--consumables--IOF00yju { background-position: 53.846154% 46.153846%; }
.icon--consumables--LEWdMxbV { background-position: 53.846154% 53.846154%; }
.icon--consumables--ReycjzmX { background-position: 53.846154% 61.538462%; }
.icon--consumables--W69dI0Qy { background-position: 53.846154% 69.230769%; }
.icon--consumables--cIrV5gVO { background-position: 53.846154% 76.923077%; }
.icon--consumables--iimq1gOy { background-position: 53.846154% 84.615385%; }
.icon--consumables--rTpnydTS { background-position: 53.846154% 92.307692%; }
.icon--consumables--zGGsTMAv { background-position: 53.846154% 100%; }
.icon--consumables--LFaU2r2H { background-position: 61.538462% 0; }
.icon--consumables--LMaHpiy3 { background-position: 61.538462% 7.692308%; }
.icon--consumables--MJeKdoyR { background-position: 61.538462% 15.384615%; }
.icon--consumables--MMc9wLtj { background-position: 61.538462% 23.076923%; }
.icon--consumables--MSWPQcgq { background-position: 61.538462% 30.769231%; }
.icon--consumables--N9zFQyRx { background-position: 61.538462% 38.461538%; }
.icon--consumables--NMHlXXje { background-position: 61.538462% 46.153846%; }
.icon--consumables--Ne5uCLbI { background-position: 61.538462% 53.846154%; }
.icon--consumables--RmEeYzJD { background-position: 61.538462% 61.538462%; }
.icon--consumables--W6KRhPjX { background-position: 61.538462% 69.230769%; }
.icon--consumables--cbsen0Um { background-position: 61.538462% 76.923077%; }
.icon--consumables--jS6gi2vX { background-position: 61.538462% 84.615385%; }
.icon--consumables--rXHXFg1Q { background-position: 61.538462% 92.307692%; }
.icon--consumables--zqSu33FX { background-position: 61.538462% 100%; }
.icon--consumables--SEdXMPo8 { background-position: 69.230769% 0; }
.icon--consumables--TVXAxLOm { background-position: 69.230769% 7.692308%; }
.icon--consumables--Tf7YUxmn { background-position: 69.230769% 15.384615%; }
.icon--consumables--TpLl2Aph { background-position: 69.230769% 23.076923%; }
.icon--consumables--U2ILRmyK { background-position: 69.230769% 30.769231%; }
.icon--consumables--U7TN2irb { background-position: 69.230769% 38.461538%; }
.icon--consumables--UFZG8O8t { background-position: 69.230769% 46.153846%; }
.icon--consumables--UGALaMpp { background-position: 69.230769% 53.846154%; }
.icon--consumables--V0y79ajp { background-position: 69.230769% 61.538462%; }
.icon--consumables--WZZ9V7FN { background-position: 69.230769% 69.230769%; }
.icon--consumables--cxA7WObx { background-position: 69.230769% 76.923077%; }
.icon--consumables--jnYCXVf4 { background-position: 69.230769% 84.615385%; }
.icon--consumables--raY44YPQ { background-position: 69.230769% 92.307692%; }
.icon--consumables--XfjqsxT9 { background-position: 76.923077% 0; }
.icon--consumables--Xivsrdxs { background-position: 76.923077% 7.692308%; }
.icon--consumables--XlSmU5Jr { background-position: 76.923077% 15.384615%; }
.icon--consumables--YQhfBXXt { background-position: 76.923077% 23.076923%; }
.icon--consumables--ZVaTg3GC { background-position: 76.923077% 30.769231%; }
.icon--consumables--ZcdqQJ4Y { background-position: 76.923077% 38.461538%; }
.icon--consumables--ZuAds1s8 { background-position: 76.923077% 46.153846%; }
.icon--consumables--a07GImC5 { background-position: 76.923077% 53.846154%; }
.icon--consumables--af0qOfyL { background-position: 76.923077% 61.538462%; }
.icon--consumables--agSHmn8e { background-position: 76.923077% 69.230769%; }
.icon--consumables--dEiH8pe1 { background-position: 76.923077% 76.923077%; }
.icon--consumables--jowkJmyv { background-position: 76.923077% 84.615385%; }
.icon--consumables--rcVNjHB0 { background-position: 76.923077% 92.307692%; }
.icon--consumables--dclflETh { background-position: 84.615385% 0; }
.icon--consumables--e4TBhMcX { background-position: 84.615385% 7.692308%; }
.icon--consumables--e7KWyeOg { background-position: 84.615385% 15.384615%; }
.icon--consumables--eH8HaXHQ { background-position: 84.615385% 23.076923%; }
.icon--consumables--eMiWFmqr { background-position: 84.615385% 30.769231%; }
.icon--consumables--eOwibou0 { background-position: 84.615385% 38.461538%; }
.icon--consumables--eiFu1JBb { background-position: 84.615385% 46.153846%; }
.icon--consumables--ejMQCcwd { background-position: 84.615385% 53.846154%; }
.icon--consumables--fmEGttlr { background-position: 84.615385% 61.538462%; }
.icon--consumables--fyRILl7s { background-position: 84.615385% 69.230769%; }
.icon--consumables--g7VbwWn8 { background-position: 84.615385% 76.923077%; }
.icon--consumables--jsiGbRjC { background-position: 84.615385% 84.615385%; }
.icon--consumables--rvhjKcEB { background-position: 84.615385% 92.307692%; }
.icon--consumables--jucxmTzD { background-position: 92.307692% 0; }
.icon--consumables--kGAjZFK1 { background-position: 92.307692% 7.692308%; }
.icon--consumables--lc9m1WJC { background-position: 92.307692% 15.384615%; }
.icon--consumables--mMh6Ga0w { background-position: 92.307692% 23.076923%; }
.icon--consumables--mQEg0gOJ { background-position: 92.307692% 30.769231%; }
.icon--consumables--n0vuJPPN { background-position: 92.307692% 38.461538%; }
.icon--consumables--n8F8ZkEc { background-position: 92.307692% 46.153846%; }
.icon--consumables--nurFsII7 { background-position: 92.307692% 53.846154%; }
.icon--consumables--oFxE7kc1 { background-position: 92.307692% 61.538462%; }
.icon--consumables--oNOhAtcH { background-position: 92.307692% 69.230769%; }
.icon--consumables--oYaQOfeu { background-position: 92.307692% 76.923077%; }
.icon--consumables--oYijDKCo { background-position: 92.307692% 84.615385%; }
.icon--consumables--rxoqHaxZ { background-position: 92.307692% 92.307692%; }
.icon--consumables--sosDz2so { background-position: 100% 0; }
.icon--consumables--sw3cOYPM { background-position: 100% 7.692308%; }
.icon--consumables--tiFCZevm { background-position: 100% 15.384615%; }
.icon--consumables--ttMIz4Wn { background-position: 100% 23.076923%; }
.icon--consumables--v1Umv8rx { background-position: 100% 30.769231%; }
.icon--consumables--vA8lRkuh { background-position: 100% 38.461538%; }
.icon--consumables--vhPyZD3b { background-position: 100% 46.153846%; }
.icon--consumables--w1NXaWtz { background-position: 100% 53.846154%; }
.icon--consumables--wcXlm6Ru { background-position: 100% 61.538462%; }
.icon--consumables--wsU86LEn { background-position: 100% 69.230769%; }
.icon--consumables--wtSd5o8F { background-position: 100% 76.923077%; }
.icon--consumables--x0F0wqUq { background-position: 100% 84.615385%; }
.icon--consumables--xBMG387C { background-position: 100% 92.307692%; }
