.icon--items {
  display: block;
  background-image: url("/assets/sprites/items.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--items--0FXOSpM7 { background-position: 0 0; }
.icon--items--0MaJbcqe { background-position: 0 4.166667%; }
.icon--items--0wbHDfTz { background-position: 0 8.333333%; }
.icon--items--1Jwh05cc { background-position: 0 12.5%; }
.icon--items--20cxzGAz { background-position: 0 16.666667%; }
.icon--items--2ezuG1Y5 { background-position: 0 20.833333%; }
.icon--items--44Tnk0GK { background-position: 0 25%; }
.icon--items--553SIaEL { background-position: 0 29.166667%; }
.icon--items--6IkGAaQZ { background-position: 0 33.333333%; }
.icon--items--7kbcfYwW { background-position: 0 37.5%; }
.icon--items--9G3xTw3b { background-position: 0 41.666667%; }
.icon--items--CWBM0Tes { background-position: 0 45.833333%; }
.icon--items--EY9BWmSM { background-position: 0 50%; }
.icon--items--HKvoJV2D { background-position: 0 54.166667%; }
.icon--items--JZvE5jHe { background-position: 0 58.333333%; }
.icon--items--LuhpUnoO { background-position: 0 62.5%; }
.icon--items--P9IoyCm1 { background-position: 0 66.666667%; }
.icon--items--THWOnx3I { background-position: 0 70.833333%; }
.icon--items--Wf9lpWpM { background-position: 0 75%; }
.icon--items--bSvgxcbH { background-position: 0 79.166667%; }
.icon--items--enuI4ap8 { background-position: 0 83.333333%; }
.icon--items--jiTjO9NN { background-position: 0 87.5%; }
.icon--items--nAYYG6EI { background-position: 0 91.666667%; }
.icon--items--rhv7vOmF { background-position: 0 95.833333%; }
.icon--items--w4iMSHn9 { background-position: 0 100%; }
.icon--items--0L0qv9y7 { background-position: 4% 0; }
.icon--items--0VMxXKyC { background-position: 4% 4.166667%; }
.icon--items--10z7bBEQ { background-position: 4% 8.333333%; }
.icon--items--1RQqFdbE { background-position: 4% 12.5%; }
.icon--items--29lh0cdd { background-position: 4% 16.666667%; }
.icon--items--2v18HdCt { background-position: 4% 20.833333%; }
.icon--items--47Uk5gdQ { background-position: 4% 25%; }
.icon--items--588sSQRN { background-position: 4% 29.166667%; }
.icon--items--6VgeuL7L { background-position: 4% 33.333333%; }
.icon--items--7onvovqv { background-position: 4% 37.5%; }
.icon--items--9Gcrpi7o { background-position: 4% 41.666667%; }
.icon--items--CXccU8gV { background-position: 4% 45.833333%; }
.icon--items--EhTKD4WD { background-position: 4% 50%; }
.icon--items--HPSb7cuw { background-position: 4% 54.166667%; }
.icon--items--JvEJWfuD { background-position: 4% 58.333333%; }
.icon--items--LyxzNIV2 { background-position: 4% 62.5%; }
.icon--items--PB46JXad { background-position: 4% 66.666667%; }
.icon--items--TMGGX6ty { background-position: 4% 70.833333%; }
.icon--items--X7vJC2ba { background-position: 4% 75%; }
.icon--items--bVdlxY6T { background-position: 4% 79.166667%; }
.icon--items--erdcyhF1 { background-position: 4% 83.333333%; }
.icon--items--jienqxOG { background-position: 4% 87.5%; }
.icon--items--nHDTcx7E { background-position: 4% 91.666667%; }
.icon--items--rp6Sn230 { background-position: 4% 95.833333%; }
.icon--items--wFQkKZeU { background-position: 4% 100%; }
.icon--items--0anmPbL5 { background-position: 8% 0; }
.icon--items--0vEKZ5pB { background-position: 8% 4.166667%; }
.icon--items--13uHgRbA { background-position: 8% 8.333333%; }
.icon--items--1WsHS6hH { background-position: 8% 12.5%; }
.icon--items--2CUyvqGq { background-position: 8% 16.666667%; }
.icon--items--31w4xgYC { background-position: 8% 20.833333%; }
.icon--items--4CgBxVPi { background-position: 8% 25%; }
.icon--items--5OWUZqac { background-position: 8% 29.166667%; }
.icon--items--6YY6E0T1 { background-position: 8% 33.333333%; }
.icon--items--7sRvmMtb { background-position: 8% 37.5%; }
.icon--items--9H1zx0Pb { background-position: 8% 41.666667%; }
.icon--items--CZFPd8HR { background-position: 8% 45.833333%; }
.icon--items--Eiv5SOO6 { background-position: 8% 50%; }
.icon--items--HPkKSeqI { background-position: 8% 54.166667%; }
.icon--items--JzSzuOnh { background-position: 8% 58.333333%; }
.icon--items--M72n1hPX { background-position: 8% 62.5%; }
.icon--items--PFxzh8Tg { background-position: 8% 66.666667%; }
.icon--items--TbEWIcBf { background-position: 8% 70.833333%; }
.icon--items--XCB13C1Z { background-position: 8% 75%; }
.icon--items--bXru2g5f { background-position: 8% 79.166667%; }
.icon--items--ertow9rP { background-position: 8% 83.333333%; }
.icon--items--jw8K5ppB { background-position: 8% 87.5%; }
.icon--items--nMhcxAHR { background-position: 8% 91.666667%; }
.icon--items--rqHzAWmP { background-position: 8% 95.833333%; }
.icon--items--wIVW6OON { background-position: 8% 100%; }
.icon--items--1DJdlBVp { background-position: 12% 0; }
.icon--items--1E3XCVQy { background-position: 12% 4.166667%; }
.icon--items--1J0PiJst { background-position: 12% 8.333333%; }
.icon--items--1cxl37G0 { background-position: 12% 12.5%; }
.icon--items--2GGmg7wm { background-position: 12% 16.666667%; }
.icon--items--32etbf8s { background-position: 12% 20.833333%; }
.icon--items--4NNgyEiE { background-position: 12% 25%; }
.icon--items--5P3IvFsd { background-position: 12% 29.166667%; }
.icon--items--6akYIL9K { background-position: 12% 33.333333%; }
.icon--items--7uMUtyPC { background-position: 12% 37.5%; }
.icon--items--9MCC88my { background-position: 12% 41.666667%; }
.icon--items--Ca4RJKtc { background-position: 12% 45.833333%; }
.icon--items--EkxtM3zH { background-position: 12% 50%; }
.icon--items--HWiGFvuR { background-position: 12% 54.166667%; }
.icon--items--K1TVYmW2 { background-position: 12% 58.333333%; }
.icon--items--M72w4Yla { background-position: 12% 62.5%; }
.icon--items--PI5eW016 { background-position: 12% 66.666667%; }
.icon--items--TbGmB4IM { background-position: 12% 70.833333%; }
.icon--items--XbSaKvLr { background-position: 12% 75%; }
.icon--items--bZlVErEk { background-position: 12% 79.166667%; }
.icon--items--f5jD4muX { background-position: 12% 83.333333%; }
.icon--items--jxMAmr2x { background-position: 12% 87.5%; }
.icon--items--nRpD5bf4 { background-position: 12% 91.666667%; }
.icon--items--s1USV73W { background-position: 12% 95.833333%; }
.icon--items--wK8eG40I { background-position: 12% 100%; }
.icon--items--1eETDWRh { background-position: 16% 0; }
.icon--items--1iWnN5r2 { background-position: 16% 4.166667%; }
.icon--items--1kOCs6xN { background-position: 16% 8.333333%; }
.icon--items--1wn75Dwp { background-position: 16% 12.5%; }
.icon--items--2HdwYyXi { background-position: 16% 16.666667%; }
.icon--items--3AhjL04f { background-position: 16% 20.833333%; }
.icon--items--4T4xRDQM { background-position: 16% 25%; }
.icon--items--5Wd1cPks { background-position: 16% 29.166667%; }
.icon--items--6exkZwYN { background-position: 16% 33.333333%; }
.icon--items--84x6D389 { background-position: 16% 37.5%; }
.icon--items--9ezbidME { background-position: 16% 41.666667%; }
.icon--items--CkFqw6l9 { background-position: 16% 45.833333%; }
.icon--items--El9TxYjR { background-position: 16% 50%; }
.icon--items--HZzfzTnT { background-position: 16% 54.166667%; }
.icon--items--K7oY9BhB { background-position: 16% 58.333333%; }
.icon--items--M7IahMnI { background-position: 16% 62.5%; }
.icon--items--Pj67taAS { background-position: 16% 66.666667%; }
.icon--items--ThzulaIK { background-position: 16% 70.833333%; }
.icon--items--Xd3gxGMl { background-position: 16% 75%; }
.icon--items--bgkduiLR { background-position: 16% 79.166667%; }
.icon--items--fAIreXjh { background-position: 16% 83.333333%; }
.icon--items--k1YeB5s4 { background-position: 16% 87.5%; }
.icon--items--nb2Ybs1f { background-position: 16% 91.666667%; }
.icon--items--s28Waxhm { background-position: 16% 95.833333%; }
.icon--items--wNLBS7fv { background-position: 16% 100%; }
.icon--items--2LzJim0v { background-position: 20% 0; }
.icon--items--2SiXeBR9 { background-position: 20% 4.166667%; }
.icon--items--2XFrgOSP { background-position: 20% 8.333333%; }
.icon--items--2Y1Zmsag { background-position: 20% 12.5%; }
.icon--items--2bli9rfO { background-position: 20% 16.666667%; }
.icon--items--3NMxpntk { background-position: 20% 20.833333%; }
.icon--items--4TrsLtpp { background-position: 20% 25%; }
.icon--items--5ZotD8wE { background-position: 20% 29.166667%; }
.icon--items--6q2j3eBJ { background-position: 20% 33.333333%; }
.icon--items--87yUzBbY { background-position: 20% 37.5%; }
.icon--items--AMontaFr { background-position: 20% 41.666667%; }
.icon--items--Cnmalor8 { background-position: 20% 45.833333%; }
.icon--items--ErYFJXQA { background-position: 20% 50%; }
.icon--items--Hfia53Xw { background-position: 20% 54.166667%; }
.icon--items--KGQFEo4G { background-position: 20% 58.333333%; }
.icon--items--MOfBbRW9 { background-position: 20% 62.5%; }
.icon--items--Pm43JVRL { background-position: 20% 66.666667%; }
.icon--items--TmBefV9E { background-position: 20% 70.833333%; }
.icon--items--XvQK7I3f { background-position: 20% 75%; }
.icon--items--bgpZuQlY { background-position: 20% 79.166667%; }
.icon--items--fIDJwx6a { background-position: 20% 83.333333%; }
.icon--items--kDLTOnz7 { background-position: 20% 87.5%; }
.icon--items--nbLyBKUp { background-position: 20% 91.666667%; }
.icon--items--sW1HRoui { background-position: 20% 95.833333%; }
.icon--items--wNdyJHMl { background-position: 20% 100%; }
.icon--items--3QtJM92m { background-position: 24% 0; }
.icon--items--3bgqdvBR { background-position: 24% 4.166667%; }
.icon--items--3kFm0G1P { background-position: 24% 8.333333%; }
.icon--items--3qZz4OLh { background-position: 24% 12.5%; }
.icon--items--3ryGZGoH { background-position: 24% 16.666667%; }
.icon--items--3shBl7U3 { background-position: 24% 20.833333%; }
.icon--items--4Wcroxy4 { background-position: 24% 25%; }
.icon--items--5jKDxiWV { background-position: 24% 29.166667%; }
.icon--items--6qMVwGOo { background-position: 24% 33.333333%; }
.icon--items--8MUc2bTp { background-position: 24% 37.5%; }
.icon--items--ASOpyxmh { background-position: 24% 41.666667%; }
.icon--items--CzHHTRBT { background-position: 24% 45.833333%; }
.icon--items--Eu4MgR45 { background-position: 24% 50%; }
.icon--items--HuekwjCs { background-position: 24% 54.166667%; }
.icon--items--KNBH4rAO { background-position: 24% 58.333333%; }
.icon--items--MSWrDRoB { background-position: 24% 62.5%; }
.icon--items--QBgzdlK5 { background-position: 24% 66.666667%; }
.icon--items--TnoZRCu8 { background-position: 24% 70.833333%; }
.icon--items--YHghRksF { background-position: 24% 75%; }
.icon--items--cCB2NJMP { background-position: 24% 79.166667%; }
.icon--items--fOy86d0B { background-position: 24% 83.333333%; }
.icon--items--kL0iuKIb { background-position: 24% 87.5%; }
.icon--items--nfQ43qJo { background-position: 24% 91.666667%; }
.icon--items--sXbjRHAF { background-position: 24% 95.833333%; }
.icon--items--wVIBHFZN { background-position: 24% 100%; }
.icon--items--4bQV22bl { background-position: 28% 0; }
.icon--items--4g0WDwDt { background-position: 28% 4.166667%; }
.icon--items--4gnZyzcY { background-position: 28% 8.333333%; }
.icon--items--4gzrVzyn { background-position: 28% 12.5%; }
.icon--items--4hHAmfom { background-position: 28% 16.666667%; }
.icon--items--4nAq5hVY { background-position: 28% 20.833333%; }
.icon--items--4yaIXFZ5 { background-position: 28% 25%; }
.icon--items--5kGtQ009 { background-position: 28% 29.166667%; }
.icon--items--6xN1lhPj { background-position: 28% 33.333333%; }
.icon--items--8dt1WZRq { background-position: 28% 37.5%; }
.icon--items--AXuxw7ne { background-position: 28% 41.666667%; }
.icon--items--D0Qzbkid { background-position: 28% 45.833333%; }
.icon--items--ExkFPPGh { background-position: 28% 50%; }
.icon--items--Hyawg5tZ { background-position: 28% 54.166667%; }
.icon--items--KNg6u2J2 { background-position: 28% 58.333333%; }
.icon--items--Mdso9VqH { background-position: 28% 62.5%; }
.icon--items--QGlSZ5oa { background-position: 28% 66.666667%; }
.icon--items--TrhiU04V { background-position: 28% 70.833333%; }
.icon--items--YNsjwlvU { background-position: 28% 75%; }
.icon--items--cHUFJOec { background-position: 28% 79.166667%; }
.icon--items--fZQYiXQ4 { background-position: 28% 83.333333%; }
.icon--items--kVT5vk8r { background-position: 28% 87.5%; }
.icon--items--ni7ZR2JP { background-position: 28% 91.666667%; }
.icon--items--sboCJC7z { background-position: 28% 95.833333%; }
.icon--items--wY7IR4k5 { background-position: 28% 100%; }
.icon--items--5ngcYv8u { background-position: 32% 0; }
.icon--items--5ppAY0dZ { background-position: 32% 4.166667%; }
.icon--items--5qVjDssR { background-position: 32% 8.333333%; }
.icon--items--5wo152D7 { background-position: 32% 12.5%; }
.icon--items--5zWbqyDB { background-position: 32% 16.666667%; }
.icon--items--66xaFAD0 { background-position: 32% 20.833333%; }
.icon--items--6ALaoaJQ { background-position: 32% 25%; }
.icon--items--6CLpgRqP { background-position: 32% 29.166667%; }
.icon--items--6yqvNfrC { background-position: 32% 33.333333%; }
.icon--items--8eBwdHKb { background-position: 32% 37.5%; }
.icon--items--Acecajn7 { background-position: 32% 41.666667%; }
.icon--items--D80JDemy { background-position: 32% 45.833333%; }
.icon--items--F6UTvXWG { background-position: 32% 50%; }
.icon--items--I14mUYIL { background-position: 32% 54.166667%; }
.icon--items--KNg6xla3 { background-position: 32% 58.333333%; }
.icon--items--MprPx6Fj { background-position: 32% 62.5%; }
.icon--items--QNVdw3Tq { background-position: 32% 66.666667%; }
.icon--items--TyrbyZJU { background-position: 32% 70.833333%; }
.icon--items--YQZ326cL { background-position: 32% 75%; }
.icon--items--cKbz43tI { background-position: 32% 79.166667%; }
.icon--items--fjtRBdzv { background-position: 32% 83.333333%; }
.icon--items--kdj06FZl { background-position: 32% 87.5%; }
.icon--items--nnBL0Xpq { background-position: 32% 91.666667%; }
.icon--items--sd2xap7T { background-position: 32% 95.833333%; }
.icon--items--wZwh6n1a { background-position: 32% 100%; }
.icon--items--6zeRItkc { background-position: 36% 0; }
.icon--items--76ajCVqG { background-position: 36% 4.166667%; }
.icon--items--7BUpovo8 { background-position: 36% 8.333333%; }
.icon--items--7GgYL28A { background-position: 36% 12.5%; }
.icon--items--7Ie0fPvw { background-position: 36% 16.666667%; }
.icon--items--7UWaIBNt { background-position: 36% 20.833333%; }
.icon--items--7byAzfUK { background-position: 36% 25%; }
.icon--items--7gyoMuwv { background-position: 36% 29.166667%; }
.icon--items--7jstq7UG { background-position: 36% 33.333333%; }
.icon--items--8jhqwar6 { background-position: 36% 37.5%; }
.icon--items--An2vZofd { background-position: 36% 41.666667%; }
.icon--items--DDuIBqDJ { background-position: 36% 45.833333%; }
.icon--items--FHsBV7pP { background-position: 36% 50%; }
.icon--items--I1CXylZK { background-position: 36% 54.166667%; }
.icon--items--KQtGamzK { background-position: 36% 58.333333%; }
.icon--items--MwPIj3Qt { background-position: 36% 62.5%; }
.icon--items--QRraFAEW { background-position: 36% 66.666667%; }
.icon--items--U26sSJ3A { background-position: 36% 70.833333%; }
.icon--items--YbnCG7qk { background-position: 36% 75%; }
.icon--items--cb0me0Yg { background-position: 36% 79.166667%; }
.icon--items--flIO2Df5 { background-position: 36% 83.333333%; }
.icon--items--kgiIf5xF { background-position: 36% 87.5%; }
.icon--items--nnPPP0c1 { background-position: 36% 91.666667%; }
.icon--items--sij1vDlR { background-position: 36% 95.833333%; }
.icon--items--wcGjCyVw { background-position: 36% 100%; }
.icon--items--8mNOtFY7 { background-position: 40% 0; }
.icon--items--8nrpRmzZ { background-position: 40% 4.166667%; }
.icon--items--8pWwRyoG { background-position: 40% 8.333333%; }
.icon--items--8qEUhhbh { background-position: 40% 12.5%; }
.icon--items--8rSSthAM { background-position: 40% 16.666667%; }
.icon--items--8tC58Vu2 { background-position: 40% 20.833333%; }
.icon--items--8vqTBrA2 { background-position: 40% 25%; }
.icon--items--95EfNMi3 { background-position: 40% 29.166667%; }
.icon--items--97ThqVfq { background-position: 40% 33.333333%; }
.icon--items--99TUqUth { background-position: 40% 37.5%; }
.icon--items--BQGR0l1I { background-position: 40% 41.666667%; }
.icon--items--DKFeQlB3 { background-position: 40% 45.833333%; }
.icon--items--FMMY9Aay { background-position: 40% 50%; }
.icon--items--IIoSX28h { background-position: 40% 54.166667%; }
.icon--items--KU843tTb { background-position: 40% 58.333333%; }
.icon--items--MzJfXkIo { background-position: 40% 62.5%; }
.icon--items--Qc3blc3W { background-position: 40% 66.666667%; }
.icon--items--U4eMWmHC { background-position: 40% 70.833333%; }
.icon--items--Z1JjRh69 { background-position: 40% 75%; }
.icon--items--cdLkPK7k { background-position: 40% 79.166667%; }
.icon--items--flvQOnOv { background-position: 40% 83.333333%; }
.icon--items--kn9HUVYx { background-position: 40% 87.5%; }
.icon--items--nsfkzEV6 { background-position: 40% 91.666667%; }
.icon--items--sjmCIKh7 { background-position: 40% 95.833333%; }
.icon--items--wgn39k7s { background-position: 40% 100%; }
.icon--items--BZMqhgWA { background-position: 44% 0; }
.icon--items--Bgf1ETW0 { background-position: 44% 4.166667%; }
.icon--items--BmPq4lpt { background-position: 44% 8.333333%; }
.icon--items--Bqu5aG0I { background-position: 44% 12.5%; }
.icon--items--BvAEaDg2 { background-position: 44% 16.666667%; }
.icon--items--BzzCqyqM { background-position: 44% 20.833333%; }
.icon--items--CGgU6PJF { background-position: 44% 25%; }
.icon--items--CK1T2JZW { background-position: 44% 29.166667%; }
.icon--items--CMR7kB77 { background-position: 44% 33.333333%; }
.icon--items--COOvBoxb { background-position: 44% 37.5%; }
.icon--items--CPxR8MPf { background-position: 44% 41.666667%; }
.icon--items--DZ7nbBWz { background-position: 44% 45.833333%; }
.icon--items--FSIiDjmV { background-position: 44% 50%; }
.icon--items--IL0DtHSP { background-position: 44% 54.166667%; }
.icon--items--KWLTXds5 { background-position: 44% 58.333333%; }
.icon--items--MzXIPDAw { background-position: 44% 62.5%; }
.icon--items--R0VvJLwA { background-position: 44% 66.666667%; }
.icon--items--U56yg90y { background-position: 44% 70.833333%; }
.icon--items--ZGwhgrr7 { background-position: 44% 75%; }
.icon--items--ciZUX2lS { background-position: 44% 79.166667%; }
.icon--items--fubT0eSC { background-position: 44% 83.333333%; }
.icon--items--kprZRw7h { background-position: 44% 87.5%; }
.icon--items--o7jmZHLa { background-position: 44% 91.666667%; }
.icon--items--srNYhEwW { background-position: 44% 95.833333%; }
.icon--items--wh6I03uR { background-position: 44% 100%; }
.icon--items--Dfwj7qxr { background-position: 48% 0; }
.icon--items--DkLz4gKV { background-position: 48% 4.166667%; }
.icon--items--DrwM2929 { background-position: 48% 8.333333%; }
.icon--items--DsbdRRoH { background-position: 48% 12.5%; }
.icon--items--DwtGEF9v { background-position: 48% 16.666667%; }
.icon--items--E9gyKdFO { background-position: 48% 20.833333%; }
.icon--items--EEC4S2Ds { background-position: 48% 25%; }
.icon--items--EFYCinQv { background-position: 48% 29.166667%; }
.icon--items--EKTjvsEH { background-position: 48% 33.333333%; }
.icon--items--ELIBSK12 { background-position: 48% 37.5%; }
.icon--items--EQbhiKmL { background-position: 48% 41.666667%; }
.icon--items--EWqOEHLh { background-position: 48% 45.833333%; }
.icon--items--FjKg9fg4 { background-position: 48% 50%; }
.icon--items--IQFiWfOq { background-position: 48% 54.166667%; }
.icon--items--KXGHjMzi { background-position: 48% 58.333333%; }
.icon--items--N3mcPAfe { background-position: 48% 62.5%; }
.icon--items--RCcHUq7k { background-position: 48% 66.666667%; }
.icon--items--U57MUbtQ { background-position: 48% 70.833333%; }
.icon--items--ZHBtVo19 { background-position: 48% 75%; }
.icon--items--ckEdoXht { background-position: 48% 79.166667%; }
.icon--items--gEn90tDL { background-position: 48% 83.333333%; }
.icon--items--kqtax0sx { background-position: 48% 87.5%; }
.icon--items--oHquzZvl { background-position: 48% 91.666667%; }
.icon--items--ssWrUHks { background-position: 48% 95.833333%; }
.icon--items--wotzdXkf { background-position: 48% 100%; }
.icon--items--FwBPU3yY { background-position: 52% 0; }
.icon--items--G4gU46UL { background-position: 52% 4.166667%; }
.icon--items--G9rUahsf { background-position: 52% 8.333333%; }
.icon--items--GM9Mqyzv { background-position: 52% 12.5%; }
.icon--items--GQwJJaO4 { background-position: 52% 16.666667%; }
.icon--items--Gb0KtfxH { background-position: 52% 20.833333%; }
.icon--items--GdWDe5Bt { background-position: 52% 25%; }
.icon--items--Ge1SO7s5 { background-position: 52% 29.166667%; }
.icon--items--GeQOA6de { background-position: 52% 33.333333%; }
.icon--items--Gv52xkQ7 { background-position: 52% 37.5%; }
.icon--items--GwxjJfny { background-position: 52% 41.666667%; }
.icon--items--Gy68ZWu0 { background-position: 52% 45.833333%; }
.icon--items--HJMyo8FP { background-position: 52% 50%; }
.icon--items--IRf1C7Tu { background-position: 52% 54.166667%; }
.icon--items--KZRc2bin { background-position: 52% 58.333333%; }
.icon--items--N4A50IcN { background-position: 52% 62.5%; }
.icon--items--RN4CdfDj { background-position: 52% 66.666667%; }
.icon--items--UFgKszXe { background-position: 52% 70.833333%; }
.icon--items--ZJNxR0gY { background-position: 52% 75%; }
.icon--items--clq6LfPL { background-position: 52% 79.166667%; }
.icon--items--gIJ8zoza { background-position: 52% 83.333333%; }
.icon--items--l0dTGpwS { background-position: 52% 87.5%; }
.icon--items--oPyktV83 { background-position: 52% 91.666667%; }
.icon--items--syLAcK1p { background-position: 52% 95.833333%; }
.icon--items--x71uVOy0 { background-position: 52% 100%; }
.icon--items--ITUff7CZ { background-position: 56% 0; }
.icon--items--IZ4IPEyw { background-position: 56% 4.166667%; }
.icon--items--IgFeE63R { background-position: 56% 8.333333%; }
.icon--items--IrWLbtkh { background-position: 56% 12.5%; }
.icon--items--Iz8CfQhA { background-position: 56% 16.666667%; }
.icon--items--Iz8GK4k4 { background-position: 56% 20.833333%; }
.icon--items--IzFzukaM { background-position: 56% 25%; }
.icon--items--J3rISfNB { background-position: 56% 29.166667%; }
.icon--items--J46WOjNp { background-position: 56% 33.333333%; }
.icon--items--J8pwLm6Z { background-position: 56% 37.5%; }
.icon--items--JDZzpsY4 { background-position: 56% 41.666667%; }
.icon--items--JReyjiK2 { background-position: 56% 45.833333%; }
.icon--items--JUCA4JKi { background-position: 56% 50%; }
.icon--items--JX1rkEFu { background-position: 56% 54.166667%; }
.icon--items--KZp5qhwt { background-position: 56% 58.333333%; }
.icon--items--N6wrtryX { background-position: 56% 62.5%; }
.icon--items--RRP0pl6G { background-position: 56% 66.666667%; }
.icon--items--UPstct8E { background-position: 56% 70.833333%; }
.icon--items--ZKohE8Qx { background-position: 56% 75%; }
.icon--items--cngq1erB { background-position: 56% 79.166667%; }
.icon--items--gRieLp8x { background-position: 56% 83.333333%; }
.icon--items--l5ZpicES { background-position: 56% 87.5%; }
.icon--items--oUExbB8j { background-position: 56% 91.666667%; }
.icon--items--t13zDduK { background-position: 56% 95.833333%; }
.icon--items--xTjK0iZR { background-position: 56% 100%; }
.icon--items--KaP73rrm { background-position: 60% 0; }
.icon--items--Kcrz6Khu { background-position: 60% 4.166667%; }
.icon--items--KdeuTOxq { background-position: 60% 8.333333%; }
.icon--items--KeVd1FLE { background-position: 60% 12.5%; }
.icon--items--Kqve0yJO { background-position: 60% 16.666667%; }
.icon--items--KuTwbJL5 { background-position: 60% 20.833333%; }
.icon--items--Ky3yjx0b { background-position: 60% 25%; }
.icon--items--L2b8oKiG { background-position: 60% 29.166667%; }
.icon--items--LGps2dp4 { background-position: 60% 33.333333%; }
.icon--items--LH8bKRI4 { background-position: 60% 37.5%; }
.icon--items--LPtws1Ui { background-position: 60% 41.666667%; }
.icon--items--LSoDNcho { background-position: 60% 45.833333%; }
.icon--items--Lo32LfeQ { background-position: 60% 50%; }
.icon--items--LpnPwLco { background-position: 60% 54.166667%; }
.icon--items--LuHNaRyB { background-position: 60% 58.333333%; }
.icon--items--NBIDNOYW { background-position: 60% 62.5%; }
.icon--items--RRsQgrS3 { background-position: 60% 66.666667%; }
.icon--items--UaSEEDxZ { background-position: 60% 70.833333%; }
.icon--items--ZOOPvQZb { background-position: 60% 75%; }
.icon--items--coiBQ7Zo { background-position: 60% 79.166667%; }
.icon--items--gVnNZ3Ex { background-position: 60% 83.333333%; }
.icon--items--l73EJvVC { background-position: 60% 87.5%; }
.icon--items--oVhzUrEP { background-position: 60% 91.666667%; }
.icon--items--t9GtxOgp { background-position: 60% 95.833333%; }
.icon--items--xUqEMxNM { background-position: 60% 100%; }
.icon--items--NCit0WU0 { background-position: 64% 0; }
.icon--items--NE72C7M5 { background-position: 64% 4.166667%; }
.icon--items--NEA4rHSo { background-position: 64% 8.333333%; }
.icon--items--NW6marQQ { background-position: 64% 12.5%; }
.icon--items--NYF8JseO { background-position: 64% 16.666667%; }
.icon--items--NZfvOPep { background-position: 64% 20.833333%; }
.icon--items--NtsN6GaO { background-position: 64% 25%; }
.icon--items--OA8cZMjH { background-position: 64% 29.166667%; }
.icon--items--OI72ZiIc { background-position: 64% 33.333333%; }
.icon--items--ONLHxevS { background-position: 64% 37.5%; }
.icon--items--OVCUTL0U { background-position: 64% 41.666667%; }
.icon--items--OXWU6Fxt { background-position: 64% 45.833333%; }
.icon--items--OoZbYs12 { background-position: 64% 50%; }
.icon--items--OwghNSPU { background-position: 64% 54.166667%; }
.icon--items--Oz20Vuul { background-position: 64% 58.333333%; }
.icon--items--OzqcVrQ9 { background-position: 64% 62.5%; }
.icon--items--RSpHu7bC { background-position: 64% 66.666667%; }
.icon--items--Ub4QzqM8 { background-position: 64% 70.833333%; }
.icon--items--ZdyFy8TS { background-position: 64% 75%; }
.icon--items--cpSOUXs4 { background-position: 64% 79.166667%; }
.icon--items--gjEoFA0n { background-position: 64% 83.333333%; }
.icon--items--l940mQk9 { background-position: 64% 87.5%; }
.icon--items--ocHOlIqB { background-position: 64% 91.666667%; }
.icon--items--tQ2LFvaE { background-position: 64% 95.833333%; }
.icon--items--xedxzLUg { background-position: 64% 100%; }
.icon--items--RdWt9YSv { background-position: 68% 0; }
.icon--items--RfQw2pBO { background-position: 68% 4.166667%; }
.icon--items--RnJB3IpL { background-position: 68% 8.333333%; }
.icon--items--Rq2gJTnp { background-position: 68% 12.5%; }
.icon--items--S156xbvW { background-position: 68% 16.666667%; }
.icon--items--S5lX22mx { background-position: 68% 20.833333%; }
.icon--items--SE9rOu2M { background-position: 68% 25%; }
.icon--items--SEh7cAl4 { background-position: 68% 29.166667%; }
.icon--items--SMxBDjqb { background-position: 68% 33.333333%; }
.icon--items--SPT3Tocr { background-position: 68% 37.5%; }
.icon--items--SV2mJkXv { background-position: 68% 41.666667%; }
.icon--items--SdaBNdy8 { background-position: 68% 45.833333%; }
.icon--items--Sgk4dIv6 { background-position: 68% 50%; }
.icon--items--SiyuuVi0 { background-position: 68% 54.166667%; }
.icon--items--Svu4205k { background-position: 68% 58.333333%; }
.icon--items--T202rYKG { background-position: 68% 62.5%; }
.icon--items--TAdk6M6K { background-position: 68% 66.666667%; }
.icon--items--UoyPcUth { background-position: 68% 70.833333%; }
.icon--items--Zfd98oOI { background-position: 68% 75%; }
.icon--items--czuml50t { background-position: 68% 79.166667%; }
.icon--items--gnFtK2Er { background-position: 68% 83.333333%; }
.icon--items--lBWmFDMJ { background-position: 68% 87.5%; }
.icon--items--od2Jvx8v { background-position: 68% 91.666667%; }
.icon--items--tQsdXvXA { background-position: 68% 95.833333%; }
.icon--items--xqjZZVWO { background-position: 68% 100%; }
.icon--items--V8XlNQdQ { background-position: 72% 0; }
.icon--items--VCQ12szA { background-position: 72% 4.166667%; }
.icon--items--VDVUUpul { background-position: 72% 8.333333%; }
.icon--items--VE9vRDzS { background-position: 72% 12.5%; }
.icon--items--VWkbg1CT { background-position: 72% 16.666667%; }
.icon--items--Vb4GyMHy { background-position: 72% 20.833333%; }
.icon--items--VdcQ78QO { background-position: 72% 25%; }
.icon--items--VfXvBA9B { background-position: 72% 29.166667%; }
.icon--items--VjeL2uzm { background-position: 72% 33.333333%; }
.icon--items--VjstOuh2 { background-position: 72% 37.5%; }
.icon--items--VkNBD3q9 { background-position: 72% 41.666667%; }
.icon--items--VmrEZfYi { background-position: 72% 45.833333%; }
.icon--items--W0q53lfD { background-position: 72% 50%; }
.icon--items--WCKyjEFS { background-position: 72% 54.166667%; }
.icon--items--WEasP9OC { background-position: 72% 58.333333%; }
.icon--items--WOFdNTAe { background-position: 72% 62.5%; }
.icon--items--WSJ5P36G { background-position: 72% 66.666667%; }
.icon--items--WZGZPRkn { background-position: 72% 70.833333%; }
.icon--items--ZgjLKjpj { background-position: 72% 75%; }
.icon--items--dTPu02fm { background-position: 72% 79.166667%; }
.icon--items--goScU9V4 { background-position: 72% 83.333333%; }
.icon--items--lDhyEXuD { background-position: 72% 87.5%; }
.icon--items--ofjGjIGC { background-position: 72% 91.666667%; }
.icon--items--thU29xgM { background-position: 72% 95.833333%; }
.icon--items--y6wiv1XZ { background-position: 72% 100%; }
.icon--items--Zidc1Bqh { background-position: 76% 0; }
.icon--items--Zj19dVdo { background-position: 76% 4.166667%; }
.icon--items--ZjH8sI1O { background-position: 76% 8.333333%; }
.icon--items--ZzFVonkq { background-position: 76% 12.5%; }
.icon--items--aCqJWeEF { background-position: 76% 16.666667%; }
.icon--items--aFlebTVi { background-position: 76% 20.833333%; }
.icon--items--aKEjIlhd { background-position: 76% 25%; }
.icon--items--aNk2zou9 { background-position: 76% 29.166667%; }
.icon--items--aPsualhO { background-position: 76% 33.333333%; }
.icon--items--aROkYvD6 { background-position: 76% 37.5%; }
.icon--items--aY6EVJ3C { background-position: 76% 41.666667%; }
.icon--items--aZAxrBIz { background-position: 76% 45.833333%; }
.icon--items--adXO724H { background-position: 76% 50%; }
.icon--items--b2RpG1b4 { background-position: 76% 54.166667%; }
.icon--items--bHykktKc { background-position: 76% 58.333333%; }
.icon--items--bMlGSEXD { background-position: 76% 62.5%; }
.icon--items--bNbuRKf7 { background-position: 76% 66.666667%; }
.icon--items--bOXA0G4n { background-position: 76% 70.833333%; }
.icon--items--bPRe37Fd { background-position: 76% 75%; }
.icon--items--dTdBCMVp { background-position: 76% 79.166667%; }
.icon--items--gztn86sr { background-position: 76% 83.333333%; }
.icon--items--lDzqQZ1S { background-position: 76% 87.5%; }
.icon--items--ojT0w3XY { background-position: 76% 91.666667%; }
.icon--items--thkE1Vsx { background-position: 76% 95.833333%; }
.icon--items--yAOEhnkY { background-position: 76% 100%; }
.icon--items--dUf7XvDG { background-position: 80% 0; }
.icon--items--da8iKztp { background-position: 80% 4.166667%; }
.icon--items--daBvYzx1 { background-position: 80% 8.333333%; }
.icon--items--dcTwkT3G { background-position: 80% 12.5%; }
.icon--items--diVkxTo5 { background-position: 80% 16.666667%; }
.icon--items--doTMDL4g { background-position: 80% 20.833333%; }
.icon--items--dps6vPVw { background-position: 80% 25%; }
.icon--items--e3icJw4q { background-position: 80% 29.166667%; }
.icon--items--e809m1Ef { background-position: 80% 33.333333%; }
.icon--items--e9NLtapZ { background-position: 80% 37.5%; }
.icon--items--eAwunFIG { background-position: 80% 41.666667%; }
.icon--items--eBC9AmW7 { background-position: 80% 45.833333%; }
.icon--items--eGNognlg { background-position: 80% 50%; }
.icon--items--eKxj3eDC { background-position: 80% 54.166667%; }
.icon--items--eNVcSVb4 { background-position: 80% 58.333333%; }
.icon--items--eNt1O3Kc { background-position: 80% 62.5%; }
.icon--items--eS9CgxPi { background-position: 80% 66.666667%; }
.icon--items--eSVwD3Pf { background-position: 80% 70.833333%; }
.icon--items--enCuWhzU { background-position: 80% 75%; }
.icon--items--enmbaR6E { background-position: 80% 79.166667%; }
.icon--items--h5Iw90f9 { background-position: 80% 83.333333%; }
.icon--items--lFSCKgid { background-position: 80% 87.5%; }
.icon--items--onaPFLoR { background-position: 80% 91.666667%; }
.icon--items--trjxXHpS { background-position: 80% 95.833333%; }
.icon--items--yEoE4Bwy { background-position: 80% 100%; }
.icon--items--h5sMRulX { background-position: 84% 0; }
.icon--items--h7lFPCmm { background-position: 84% 4.166667%; }
.icon--items--h8QsZW2y { background-position: 84% 8.333333%; }
.icon--items--hKBk1pLl { background-position: 84% 12.5%; }
.icon--items--hPEYd0Xe { background-position: 84% 16.666667%; }
.icon--items--hQNjV9hW { background-position: 84% 20.833333%; }
.icon--items--hVTtEBWt { background-position: 84% 25%; }
.icon--items--hghJrPQB { background-position: 84% 29.166667%; }
.icon--items--hpM14qKS { background-position: 84% 33.333333%; }
.icon--items--i2jEfPcJ { background-position: 84% 37.5%; }
.icon--items--iBH0D5mY { background-position: 84% 41.666667%; }
.icon--items--iBTXjjQQ { background-position: 84% 45.833333%; }
.icon--items--iSJmSHUG { background-position: 84% 50%; }
.icon--items--icsnsAr0 { background-position: 84% 54.166667%; }
.icon--items--iscABJ6j { background-position: 84% 58.333333%; }
.icon--items--j6tFhXtc { background-position: 84% 62.5%; }
.icon--items--j9LoEHvB { background-position: 84% 66.666667%; }
.icon--items--jG3Qr8ow { background-position: 84% 70.833333%; }
.icon--items--jHEz0kqt { background-position: 84% 75%; }
.icon--items--jb9Q6KS0 { background-position: 84% 79.166667%; }
.icon--items--jblVSXpc { background-position: 84% 83.333333%; }
.icon--items--lMW7yoQV { background-position: 84% 87.5%; }
.icon--items--otoiTwr3 { background-position: 84% 91.666667%; }
.icon--items--trp1Ivvt { background-position: 84% 95.833333%; }
.icon--items--yR5t5QA2 { background-position: 84% 100%; }
.icon--items--lTdOqitf { background-position: 88% 0; }
.icon--items--lWQ2Zb5w { background-position: 88% 4.166667%; }
.icon--items--ldEG9pjb { background-position: 88% 8.333333%; }
.icon--items--llKhmPOD { background-position: 88% 12.5%; }
.icon--items--loo1Imtq { background-position: 88% 16.666667%; }
.icon--items--lqD2IIk9 { background-position: 88% 20.833333%; }
.icon--items--lr8DEgPz { background-position: 88% 25%; }
.icon--items--lx6lleT5 { background-position: 88% 29.166667%; }
.icon--items--lzCJ48Ck { background-position: 88% 33.333333%; }
.icon--items--mBlcjqBA { background-position: 88% 37.5%; }
.icon--items--mJnIJg8Z { background-position: 88% 41.666667%; }
.icon--items--mP1XcxC6 { background-position: 88% 45.833333%; }
.icon--items--mdvdBKzP { background-position: 88% 50%; }
.icon--items--mhjge8vv { background-position: 88% 54.166667%; }
.icon--items--mnEZQhSi { background-position: 88% 58.333333%; }
.icon--items--mvDqjXs4 { background-position: 88% 62.5%; }
.icon--items--n0CxSVAJ { background-position: 88% 66.666667%; }
.icon--items--n2yPSzkd { background-position: 88% 70.833333%; }
.icon--items--n5SoxibK { background-position: 88% 75%; }
.icon--items--n7iEOwUh { background-position: 88% 79.166667%; }
.icon--items--n83qxGKW { background-position: 88% 83.333333%; }
.icon--items--n8k43kOX { background-position: 88% 87.5%; }
.icon--items--p2ihw68T { background-position: 88% 91.666667%; }
.icon--items--tv3sdB1O { background-position: 88% 95.833333%; }
.icon--items--yXgVrhQ5 { background-position: 88% 100%; }
.icon--items--pBjs2nja { background-position: 92% 0; }
.icon--items--pDUnRsna { background-position: 92% 4.166667%; }
.icon--items--pFoxjw44 { background-position: 92% 8.333333%; }
.icon--items--pGtIc4aT { background-position: 92% 12.5%; }
.icon--items--pR23UZEd { background-position: 92% 16.666667%; }
.icon--items--pT4WtsJn { background-position: 92% 20.833333%; }
.icon--items--pylhz8f7 { background-position: 92% 25%; }
.icon--items--qIlRDI0f { background-position: 92% 29.166667%; }
.icon--items--qQ2tGdcN { background-position: 92% 33.333333%; }
.icon--items--qSdDlUln { background-position: 92% 37.5%; }
.icon--items--qfDJKs5i { background-position: 92% 41.666667%; }
.icon--items--qmum85Rf { background-position: 92% 45.833333%; }
.icon--items--qtRjgfeX { background-position: 92% 50%; }
.icon--items--r0Jk8lkO { background-position: 92% 54.166667%; }
.icon--items--r6L1DmRV { background-position: 92% 58.333333%; }
.icon--items--rAiLEN1f { background-position: 92% 62.5%; }
.icon--items--rGrCaSBL { background-position: 92% 66.666667%; }
.icon--items--rI0duf6j { background-position: 92% 70.833333%; }
.icon--items--rJvDOvEP { background-position: 92% 75%; }
.icon--items--rOoroPZo { background-position: 92% 79.166667%; }
.icon--items--rUxBrPGM { background-position: 92% 83.333333%; }
.icon--items--raXYkSbN { background-position: 92% 87.5%; }
.icon--items--rcdP2UcE { background-position: 92% 91.666667%; }
.icon--items--txNf4444 { background-position: 92% 95.833333%; }
.icon--items--yaXkNMn1 { background-position: 92% 100%; }
.icon--items--u1kpVz3r { background-position: 96% 0; }
.icon--items--uETkreZ2 { background-position: 96% 4.166667%; }
.icon--items--uJx6MwcE { background-position: 96% 8.333333%; }
.icon--items--uLjPLIAs { background-position: 96% 12.5%; }
.icon--items--uTxrbinI { background-position: 96% 16.666667%; }
.icon--items--uefUJocV { background-position: 96% 20.833333%; }
.icon--items--uhpWJiDf { background-position: 96% 25%; }
.icon--items--ukh1zAiQ { background-position: 96% 29.166667%; }
.icon--items--uneVzrvd { background-position: 96% 33.333333%; }
.icon--items--uozEbhcq { background-position: 96% 37.5%; }
.icon--items--upxKBnkU { background-position: 96% 41.666667%; }
.icon--items--uwkewvXj { background-position: 96% 45.833333%; }
.icon--items--uzW54uwH { background-position: 96% 50%; }
.icon--items--v12higEo { background-position: 96% 54.166667%; }
.icon--items--v6AUqHWk { background-position: 96% 58.333333%; }
.icon--items--v74m3yHG { background-position: 96% 62.5%; }
.icon--items--vEth1yxX { background-position: 96% 66.666667%; }
.icon--items--vVyqvIBv { background-position: 96% 70.833333%; }
.icon--items--vg6BvvJm { background-position: 96% 75%; }
.icon--items--vjQk0LGx { background-position: 96% 79.166667%; }
.icon--items--vkwvSIjZ { background-position: 96% 83.333333%; }
.icon--items--vnR0esTf { background-position: 96% 87.5%; }
.icon--items--vqvq5Hbo { background-position: 96% 91.666667%; }
.icon--items--vuPvtvNg { background-position: 96% 95.833333%; }
.icon--items--yu0UjeOq { background-position: 96% 100%; }
.icon--items--yz7Rjita { background-position: 100% 0; }
.icon--items--z155mfQ2 { background-position: 100% 4.166667%; }
.icon--items--z2mAipkH { background-position: 100% 8.333333%; }
.icon--items--z3TKaRYS { background-position: 100% 12.5%; }
.icon--items--z4e2UjsO { background-position: 100% 16.666667%; }
.icon--items--zBCef3IW { background-position: 100% 20.833333%; }
.icon--items--zDJFK3OL { background-position: 100% 25%; }
.icon--items--zUHZJqMC { background-position: 100% 29.166667%; }
.icon--items--zWOVRt4f { background-position: 100% 33.333333%; }
.icon--items--zWgsLpta { background-position: 100% 37.5%; }
.icon--items--zedlsqj5 { background-position: 100% 41.666667%; }
.icon--items--zfBdkg5K { background-position: 100% 45.833333%; }
.icon--items--zkPrecMs { background-position: 100% 50%; }
