.icon--materials {
  display: block;
  background-image: url("/assets/sprites/materials.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 24px;
  height: 24px;
  max-width: 100%;
  overflow: hidden;
}
.icon--materials--0LBVX2GX   { background-position: 0 0; }
.icon--materials--0nZ0xWA0   { background-position: 0 1.886792%; }
.icon--materials--0waCSyRF   { background-position: 0 3.773585%; }
.icon--materials--4aGuwZt6   { background-position: 0 5.660377%; }
.icon--materials--4xkc17yR   { background-position: 0 7.54717%; }
.icon--materials--Bk8n6i8b   { background-position: 0 9.433962%; }
.icon--materials--Gx2g2tjN   { background-position: 0 11.320755%; }
.icon--materials--H9WAyBCs   { background-position: 0 13.207547%; }
.icon--materials--HzzzEBij   { background-position: 0 15.09434%; }
.icon--materials--IuZWj97m   { background-position: 0 16.981132%; }
.icon--materials--JDgm6NH1   { background-position: 0 18.867925%; }
.icon--materials--JWtD9HNg   { background-position: 0 20.754717%; }
.icon--materials--JiibtqKJ   { background-position: 0 22.641509%; }
.icon--materials--KYrH8DgR   { background-position: 0 24.528302%; }
.icon--materials--Kxu9OwTL   { background-position: 0 26.415094%; }
.icon--materials--Ld3Qn1Ce   { background-position: 0 28.301887%; }
.icon--materials--MeI7vMPh   { background-position: 0 30.188679%; }
.icon--materials--R9TCzDRb   { background-position: 0 32.075472%; }
.icon--materials--SznPOAWC   { background-position: 0 33.962264%; }
.icon--materials--UCg0FA07   { background-position: 0 35.849057%; }
.icon--materials--WjdFc4Yl   { background-position: 0 37.735849%; }
.icon--materials--XkQc6WsQ   { background-position: 0 39.622642%; }
.icon--materials--babylonian { background-position: 0 41.509434%; }
.icon--materials--bqlyYIkN   { background-position: 0 43.396226%; }
.icon--materials--cgGsg7yG   { background-position: 0 45.283019%; }
.icon--materials--coin       { background-position: 0 47.169811%; }
.icon--materials--crete      { background-position: 0 49.056604%; }
.icon--materials--d2Ttn8eu   { background-position: 0 50.943396%; }
.icon--materials--empire     { background-position: 0 52.830189%; }
.icon--materials--halloween  { background-position: 0 54.716981%; }
.icon--materials--jJ6HDtuO   { background-position: 0 56.603774%; }
.icon--materials--jMYy4Cg8   { background-position: 0 58.490566%; }
.icon--materials--kZgtHg7J   { background-position: 0 60.377358%; }
.icon--materials--lHG8kq1d   { background-position: 0 62.264151%; }
.icon--materials--lknDsdKS   { background-position: 0 64.150943%; }
.icon--materials--market     { background-position: 0 66.037736%; }
.icon--materials--norse      { background-position: 0 67.924528%; }
.icon--materials--persian    { background-position: 0 69.811321%; }
.icon--materials--pptvipbj   { background-position: 0 71.698113%; }
.icon--materials--pq54FD6j   { background-position: 0 73.584906%; }
.icon--materials--qFbarSLf   { background-position: 0 75.471698%; }
.icon--materials--qW81Bzd7   { background-position: 0 77.358491%; }
.icon--materials--quest      { background-position: 0 79.245283%; }
.icon--materials--riHxVIeE   { background-position: 0 81.132075%; }
.icon--materials--sparta     { background-position: 0 83.018868%; }
.icon--materials--summer     { background-position: 0 84.90566%; }
.icon--materials--uFYYJfVQ   { background-position: 0 86.792453%; }
.icon--materials--uzKDZ1T1   { background-position: 0 88.679245%; }
.icon--materials--v0YFjv6w   { background-position: 0 90.566038%; }
.icon--materials--wOJHsDif   { background-position: 0 92.45283%; }
.icon--materials--winter     { background-position: 0 94.339623%; }
.icon--materials--wmNwlLwG   { background-position: 0 96.226415%; }
.icon--materials--ylBCjJyx   { background-position: 0 98.113208%; }
.icon--materials--zfJBS7qg   { background-position: 0 100%; }
