.icon--materials-sm {
  display: block;
  background-image: url("/assets/sprites/materials-sm.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 24px;
  height: 24px;
  max-width: 100%;
  overflow: hidden;
}
.icon--materials-sm--074ckRPM            { background-position: 0 0; }
.icon--materials-sm--0Gm2XAn4            { background-position: 0 7.692308%; }
.icon--materials-sm--0nZ0xWA0            { background-position: 0 15.384615%; }
.icon--materials-sm--4aGuwZt6            { background-position: 0 23.076923%; }
.icon--materials-sm--8PIK9gGB            { background-position: 0 30.769231%; }
.icon--materials-sm--E0FAEJGs            { background-position: 0 38.461538%; }
.icon--materials-sm--ItrGNDRZ            { background-position: 0 46.153846%; }
.icon--materials-sm--McKy33Hv            { background-position: 0 53.846154%; }
.icon--materials-sm--RRlVwIy3            { background-position: 0 61.538462%; }
.icon--materials-sm--Yb4GsDnh            { background-position: 0 69.230769%; }
.icon--materials-sm--eYcqkC1R            { background-position: 0 76.923077%; }
.icon--materials-sm--mhLv4Bb2            { background-position: 0 84.615385%; }
.icon--materials-sm--smYWOByV            { background-position: 0 92.307692%; }
.icon--materials-sm--xgOPAWmV            { background-position: 0 100%; }
.icon--materials-sm--07EF31H1            { background-position: 7.692308% 0; }
.icon--materials-sm--0LBVX2GX            { background-position: 7.692308% 7.692308%; }
.icon--materials-sm--0waCSyRF            { background-position: 7.692308% 15.384615%; }
.icon--materials-sm--4xkc17yR            { background-position: 7.692308% 23.076923%; }
.icon--materials-sm--8xS2bfD3            { background-position: 7.692308% 30.769231%; }
.icon--materials-sm--ELITBz7S            { background-position: 7.692308% 38.461538%; }
.icon--materials-sm--IuZWj97m            { background-position: 7.692308% 46.153846%; }
.icon--materials-sm--MeI7vMPh            { background-position: 7.692308% 53.846154%; }
.icon--materials-sm--RgofZ8xw            { background-position: 7.692308% 61.538462%; }
.icon--materials-sm--YbT8VbB3            { background-position: 7.692308% 69.230769%; }
.icon--materials-sm--empire              { background-position: 7.692308% 76.923077%; }
.icon--materials-sm--mmBkNqb6            { background-position: 7.692308% 84.615385%; }
.icon--materials-sm--sparta              { background-position: 7.692308% 92.307692%; }
.icon--materials-sm--ylBCjJyx            { background-position: 7.692308% 100%; }
.icon--materials-sm--0OTAgXq1            { background-position: 15.384615% 0; }
.icon--materials-sm--0RhgFTPh            { background-position: 15.384615% 7.692308%; }
.icon--materials-sm--134boRXV            { background-position: 15.384615% 15.384615%; }
.icon--materials-sm--5GoYKGTU            { background-position: 15.384615% 23.076923%; }
.icon--materials-sm--9blhMDeV            { background-position: 15.384615% 30.769231%; }
.icon--materials-sm--F3jCF2e2            { background-position: 15.384615% 38.461538%; }
.icon--materials-sm--J7yBhHCF            { background-position: 15.384615% 46.153846%; }
.icon--materials-sm--MqUMCRBv            { background-position: 15.384615% 53.846154%; }
.icon--materials-sm--SlPzTqEv            { background-position: 15.384615% 61.538462%; }
.icon--materials-sm--YxZRXz0b            { background-position: 15.384615% 69.230769%; }
.icon--materials-sm--f3qFMcxz            { background-position: 15.384615% 76.923077%; }
.icon--materials-sm--mnTsYCSF            { background-position: 15.384615% 84.615385%; }
.icon--materials-sm--summer              { background-position: 15.384615% 92.307692%; }
.icon--materials-sm--ypkuDEOo            { background-position: 15.384615% 100%; }
.icon--materials-sm--1Hg71Oo9            { background-position: 23.076923% 0; }
.icon--materials-sm--1hNvmDeI            { background-position: 23.076923% 7.692308%; }
.icon--materials-sm--2y6WYdR1            { background-position: 23.076923% 15.384615%; }
.icon--materials-sm--61CuF5kr            { background-position: 23.076923% 23.076923%; }
.icon--materials-sm--9h6wKfgJ            { background-position: 23.076923% 30.769231%; }
.icon--materials-sm--GCKktE15            { background-position: 23.076923% 38.461538%; }
.icon--materials-sm--JDgm6NH1            { background-position: 23.076923% 46.153846%; }
.icon--materials-sm--N4FFjtG6            { background-position: 23.076923% 53.846154%; }
.icon--materials-sm--SovVBLsG            { background-position: 23.076923% 61.538462%; }
.icon--materials-sm--aDOid9Tc            { background-position: 23.076923% 69.230769%; }
.icon--materials-sm--gOhYjlu4            { background-position: 23.076923% 76.923077%; }
.icon--materials-sm--mxRJxvmJ            { background-position: 23.076923% 84.615385%; }
.icon--materials-sm--tjKky06Z            { background-position: 23.076923% 92.307692%; }
.icon--materials-sm--zAr2r4Zh            { background-position: 23.076923% 100%; }
.icon--materials-sm--6Q8xPXyc            { background-position: 30.769231% 0; }
.icon--materials-sm--7IT7hVOc            { background-position: 30.769231% 7.692308%; }
.icon--materials-sm--7UV2gNGm            { background-position: 30.769231% 15.384615%; }
.icon--materials-sm--847kMziU            { background-position: 30.769231% 23.076923%; }
.icon--materials-sm--A0DNNS3N            { background-position: 30.769231% 30.769231%; }
.icon--materials-sm--Gx2g2tjN            { background-position: 30.769231% 38.461538%; }
.icon--materials-sm--JWtD9HNg            { background-position: 30.769231% 46.153846%; }
.icon--materials-sm--OSc32t8T            { background-position: 30.769231% 53.846154%; }
.icon--materials-sm--SznPOAWC            { background-position: 30.769231% 61.538462%; }
.icon--materials-sm--aFJ8UKCB            { background-position: 30.769231% 69.230769%; }
.icon--materials-sm--gvVtUi8k            { background-position: 30.769231% 76.923077%; }
.icon--materials-sm--n43wZe46            { background-position: 30.769231% 84.615385%; }
.icon--materials-sm--u6GIpfwu            { background-position: 30.769231% 92.307692%; }
.icon--materials-sm--zfJBS7qg            { background-position: 30.769231% 100%; }
.icon--materials-sm--Bk8n6i8b            { background-position: 38.461538% 0; }
.icon--materials-sm--Bno6FcDj            { background-position: 38.461538% 7.692308%; }
.icon--materials-sm--CSlcgqPb            { background-position: 38.461538% 15.384615%; }
.icon--materials-sm--Cikh67Yj            { background-position: 38.461538% 23.076923%; }
.icon--materials-sm--DJHC1x5S            { background-position: 38.461538% 30.769231%; }
.icon--materials-sm--H40og3GB            { background-position: 38.461538% 38.461538%; }
.icon--materials-sm--JiibtqKJ            { background-position: 38.461538% 46.153846%; }
.icon--materials-sm--OixZvAuX            { background-position: 38.461538% 53.846154%; }
.icon--materials-sm--TAoWxeib            { background-position: 38.461538% 61.538462%; }
.icon--materials-sm--bS8KVppE            { background-position: 38.461538% 69.230769%; }
.icon--materials-sm--h5yVtPsV            { background-position: 38.461538% 76.923077%; }
.icon--materials-sm--n4iKXhlG            { background-position: 38.461538% 84.615385%; }
.icon--materials-sm--uFYYJfVQ            { background-position: 38.461538% 92.307692%; }
.icon--materials-sm--zo8QAgRD            { background-position: 38.461538% 100%; }
.icon--materials-sm--H9WAyBCs            { background-position: 46.153846% 0; }
.icon--materials-sm--HkvWSAqZ            { background-position: 46.153846% 7.692308%; }
.icon--materials-sm--HzzzEBij            { background-position: 46.153846% 15.384615%; }
.icon--materials-sm--I1g5ncIv            { background-position: 46.153846% 23.076923%; }
.icon--materials-sm--ICmQqXxh            { background-position: 46.153846% 30.769231%; }
.icon--materials-sm--IadyjdUO            { background-position: 46.153846% 38.461538%; }
.icon--materials-sm--KYrH8DgR            { background-position: 46.153846% 46.153846%; }
.icon--materials-sm--Omab2KL0            { background-position: 46.153846% 53.846154%; }
.icon--materials-sm--TdtelzYM            { background-position: 46.153846% 61.538462%; }
.icon--materials-sm--babylonian          { background-position: 46.153846% 69.230769%; }
.icon--materials-sm--hETwQgXG            { background-position: 46.153846% 76.923077%; }
.icon--materials-sm--n8yJWVnA            { background-position: 46.153846% 84.615385%; }
.icon--materials-sm--ueh07xgh            { background-position: 46.153846% 92.307692%; }
.icon--materials-sm--Kxu9OwTL            { background-position: 53.846154% 0; }
.icon--materials-sm--LAwvEiGQ            { background-position: 53.846154% 7.692308%; }
.icon--materials-sm--LZ415m08            { background-position: 53.846154% 15.384615%; }
.icon--materials-sm--LaVyUvxI            { background-position: 53.846154% 23.076923%; }
.icon--materials-sm--Ld3Qn1Ce            { background-position: 53.846154% 30.769231%; }
.icon--materials-sm--MG2PRWiU            { background-position: 53.846154% 38.461538%; }
.icon--materials-sm--MVhTrlNp            { background-position: 53.846154% 46.153846%; }
.icon--materials-sm--PBdlEUUJ            { background-position: 53.846154% 53.846154%; }
.icon--materials-sm--UBduGsHw            { background-position: 53.846154% 61.538462%; }
.icon--materials-sm--bgKL0TWu            { background-position: 53.846154% 69.230769%; }
.icon--materials-sm--halloween           { background-position: 53.846154% 76.923077%; }
.icon--materials-sm--nIGzESkd            { background-position: 53.846154% 84.615385%; }
.icon--materials-sm--uffqvTry            { background-position: 53.846154% 92.307692%; }
.icon--materials-sm--PQnANV5M            { background-position: 61.538462% 0; }
.icon--materials-sm--PXEcia23            { background-position: 61.538462% 7.692308%; }
.icon--materials-sm--Ptmjutd8            { background-position: 61.538462% 15.384615%; }
.icon--materials-sm--PvwC5HWw            { background-position: 61.538462% 23.076923%; }
.icon--materials-sm--Q188ZgUk            { background-position: 61.538462% 30.769231%; }
.icon--materials-sm--QUNkXnAN            { background-position: 61.538462% 38.461538%; }
.icon--materials-sm--QvrqNRIX            { background-position: 61.538462% 46.153846%; }
.icon--materials-sm--R9TCzDRb            { background-position: 61.538462% 53.846154%; }
.icon--materials-sm--UCg0FA07            { background-position: 61.538462% 61.538462%; }
.icon--materials-sm--bqlyYIkN            { background-position: 61.538462% 69.230769%; }
.icon--materials-sm--hrn71qGa            { background-position: 61.538462% 76.923077%; }
.icon--materials-sm--norse               { background-position: 61.538462% 84.615385%; }
.icon--materials-sm--uzKDZ1T1            { background-position: 61.538462% 92.307692%; }
.icon--materials-sm--UjHDbC2z            { background-position: 69.230769% 0; }
.icon--materials-sm--WNG3lj46            { background-position: 69.230769% 7.692308%; }
.icon--materials-sm--Wc9UEyYo            { background-position: 69.230769% 15.384615%; }
.icon--materials-sm--WfIOFHOm            { background-position: 69.230769% 23.076923%; }
.icon--materials-sm--WvXBApOq            { background-position: 69.230769% 30.769231%; }
.icon--materials-sm--XE3jMiDF            { background-position: 69.230769% 38.461538%; }
.icon--materials-sm--XbEjwVzo            { background-position: 69.230769% 46.153846%; }
.icon--materials-sm--XkQc6WsQ            { background-position: 69.230769% 53.846154%; }
.icon--materials-sm--YQRhIK3S            { background-position: 69.230769% 61.538462%; }
.icon--materials-sm--c6UMbrmv            { background-position: 69.230769% 69.230769%; }
.icon--materials-sm--iM4H3dkL            { background-position: 69.230769% 76.923077%; }
.icon--materials-sm--oSw1qdXL            { background-position: 69.230769% 84.615385%; }
.icon--materials-sm--v0YFjv6w            { background-position: 69.230769% 92.307692%; }
.icon--materials-sm--cSBeeGm9            { background-position: 76.923077% 0; }
.icon--materials-sm--cTpC2wtg            { background-position: 76.923077% 7.692308%; }
.icon--materials-sm--cgGsg7yG            { background-position: 76.923077% 15.384615%; }
.icon--materials-sm--ck59DFwF            { background-position: 76.923077% 23.076923%; }
.icon--materials-sm--coin                { background-position: 76.923077% 30.769231%; }
.icon--materials-sm--cr86JWNG            { background-position: 76.923077% 38.461538%; }
.icon--materials-sm--crete               { background-position: 76.923077% 46.153846%; }
.icon--materials-sm--d2Ttn8eu            { background-position: 76.923077% 53.846154%; }
.icon--materials-sm--dHSHsIT6            { background-position: 76.923077% 61.538462%; }
.icon--materials-sm--diBCcSVF            { background-position: 76.923077% 69.230769%; }
.icon--materials-sm--iRUJ16Zi            { background-position: 76.923077% 76.923077%; }
.icon--materials-sm--oUanPK5A            { background-position: 76.923077% 84.615385%; }
.icon--materials-sm--wEbtF7yO            { background-position: 76.923077% 92.307692%; }
.icon--materials-sm--jJ6HDtuO            { background-position: 84.615385% 0; }
.icon--materials-sm--jMYy4Cg8            { background-position: 84.615385% 7.692308%; }
.icon--materials-sm--jYOs00TP            { background-position: 84.615385% 15.384615%; }
.icon--materials-sm--jZjN3foj            { background-position: 84.615385% 23.076923%; }
.icon--materials-sm--jzhAXLzq            { background-position: 84.615385% 30.769231%; }
.icon--materials-sm--k6YkTDxN            { background-position: 84.615385% 38.461538%; }
.icon--materials-sm--kZgtHg7J            { background-position: 84.615385% 46.153846%; }
.icon--materials-sm--lHG8kq1d            { background-position: 84.615385% 53.846154%; }
.icon--materials-sm--lS1YpWtF            { background-position: 84.615385% 61.538462%; }
.icon--materials-sm--lknDsdKS            { background-position: 84.615385% 69.230769%; }
.icon--materials-sm--market              { background-position: 84.615385% 76.923077%; }
.icon--materials-sm--pEQfZS55            { background-position: 84.615385% 84.615385%; }
.icon--materials-sm--wOJHsDif            { background-position: 84.615385% 92.307692%; }
.icon--materials-sm--persian             { background-position: 92.307692% 0; }
.icon--materials-sm--pptvipbj            { background-position: 92.307692% 7.692308%; }
.icon--materials-sm--pq54FD6j            { background-position: 92.307692% 15.384615%; }
.icon--materials-sm--qFbarSLf            { background-position: 92.307692% 23.076923%; }
.icon--materials-sm--qLdSDUMD            { background-position: 92.307692% 30.769231%; }
.icon--materials-sm--qW81Bzd7            { background-position: 92.307692% 38.461538%; }
.icon--materials-sm--qlSgsuFu            { background-position: 92.307692% 46.153846%; }
.icon--materials-sm--quest               { background-position: 92.307692% 53.846154%; }
.icon--materials-sm--rFGSE2Nc            { background-position: 92.307692% 61.538462%; }
.icon--materials-sm--riHxVIeE            { background-position: 92.307692% 69.230769%; }
.icon--materials-sm--sgabRnWk            { background-position: 92.307692% 76.923077%; }
.icon--materials-sm--skirmish_hall       { background-position: 92.307692% 84.615385%; }
.icon--materials-sm--whDTzAIY            { background-position: 92.307692% 92.307692%; }
.icon--materials-sm--winter              { background-position: 100% 0; }
.icon--materials-sm--wmNwlLwG            { background-position: 100% 7.692308%; }
.icon--materials-sm--workshop-alchemist  { background-position: 100% 15.384615%; }
.icon--materials-sm--workshop-farmer     { background-position: 100% 23.076923%; }
.icon--materials-sm--workshop-gem-cutter { background-position: 100% 30.769231%; }
.icon--materials-sm--workshop-logger     { background-position: 100% 38.461538%; }
.icon--materials-sm--workshop-mason      { background-position: 100% 46.153846%; }
.icon--materials-sm--workshop-scrivener  { background-position: 100% 53.846154%; }
.icon--materials-sm--workshop-skinner    { background-position: 100% 61.538462%; }
.icon--materials-sm--workshop-smelter    { background-position: 100% 69.230769%; }
.icon--materials-sm--workshop-toolmaker  { background-position: 100% 76.923077%; }
.icon--materials-sm--workshop-weaver     { background-position: 100% 84.615385%; }
.icon--materials-sm--xDH8fO5l            { background-position: 100% 92.307692%; }
