.icon--materials {
  display: block;
  background-image: url("/assets/sprites/materials.png");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-size: 100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--materials--074ckRPM            { background-position: 0 0; }
.icon--materials--07EF31H1            { background-position: 0 0.534759%; }
.icon--materials--0Gm2XAn4            { background-position: 0 1.069519%; }
.icon--materials--0LBVX2GX            { background-position: 0 1.604278%; }
.icon--materials--0OTAgXq1            { background-position: 0 2.139037%; }
.icon--materials--0RhgFTPh            { background-position: 0 2.673797%; }
.icon--materials--0nZ0xWA0            { background-position: 0 3.208556%; }
.icon--materials--0waCSyRF            { background-position: 0 3.743316%; }
.icon--materials--134boRXV            { background-position: 0 4.278075%; }
.icon--materials--1Hg71Oo9            { background-position: 0 4.812834%; }
.icon--materials--1hNvmDeI            { background-position: 0 5.347594%; }
.icon--materials--2y6WYdR1            { background-position: 0 5.882353%; }
.icon--materials--4aGuwZt6            { background-position: 0 6.417112%; }
.icon--materials--4xkc17yR            { background-position: 0 6.951872%; }
.icon--materials--5GoYKGTU            { background-position: 0 7.486631%; }
.icon--materials--61CuF5kr            { background-position: 0 8.02139%; }
.icon--materials--6Q8xPXyc            { background-position: 0 8.55615%; }
.icon--materials--7IT7hVOc            { background-position: 0 9.090909%; }
.icon--materials--7UV2gNGm            { background-position: 0 9.625668%; }
.icon--materials--847kMziU            { background-position: 0 10.160428%; }
.icon--materials--8PIK9gGB            { background-position: 0 10.695187%; }
.icon--materials--8xS2bfD3            { background-position: 0 11.229947%; }
.icon--materials--9blhMDeV            { background-position: 0 11.764706%; }
.icon--materials--9h6wKfgJ            { background-position: 0 12.299465%; }
.icon--materials--A0DNNS3N            { background-position: 0 12.834225%; }
.icon--materials--Bk8n6i8b            { background-position: 0 13.368984%; }
.icon--materials--Bno6FcDj            { background-position: 0 13.903743%; }
.icon--materials--CSlcgqPb            { background-position: 0 14.438503%; }
.icon--materials--Cikh67Yj            { background-position: 0 14.973262%; }
.icon--materials--DJHC1x5S            { background-position: 0 15.508021%; }
.icon--materials--E0FAEJGs            { background-position: 0 16.042781%; }
.icon--materials--ELITBz7S            { background-position: 0 16.57754%; }
.icon--materials--F3jCF2e2            { background-position: 0 17.112299%; }
.icon--materials--GCKktE15            { background-position: 0 17.647059%; }
.icon--materials--Gx2g2tjN            { background-position: 0 18.181818%; }
.icon--materials--H40og3GB            { background-position: 0 18.716578%; }
.icon--materials--H9WAyBCs            { background-position: 0 19.251337%; }
.icon--materials--HkvWSAqZ            { background-position: 0 19.786096%; }
.icon--materials--HzzzEBij            { background-position: 0 20.320856%; }
.icon--materials--I1g5ncIv            { background-position: 0 20.855615%; }
.icon--materials--ICmQqXxh            { background-position: 0 21.390374%; }
.icon--materials--IadyjdUO            { background-position: 0 21.925134%; }
.icon--materials--ItrGNDRZ            { background-position: 0 22.459893%; }
.icon--materials--IuZWj97m            { background-position: 0 22.994652%; }
.icon--materials--J7yBhHCF            { background-position: 0 23.529412%; }
.icon--materials--JDgm6NH1            { background-position: 0 24.064171%; }
.icon--materials--JWtD9HNg            { background-position: 0 24.59893%; }
.icon--materials--JiibtqKJ            { background-position: 0 25.13369%; }
.icon--materials--KYrH8DgR            { background-position: 0 25.668449%; }
.icon--materials--Kxu9OwTL            { background-position: 0 26.203209%; }
.icon--materials--LAwvEiGQ            { background-position: 0 26.737968%; }
.icon--materials--LZ415m08            { background-position: 0 27.272727%; }
.icon--materials--LaVyUvxI            { background-position: 0 27.807487%; }
.icon--materials--Ld3Qn1Ce            { background-position: 0 28.342246%; }
.icon--materials--MG2PRWiU            { background-position: 0 28.877005%; }
.icon--materials--MVhTrlNp            { background-position: 0 29.411765%; }
.icon--materials--McKy33Hv            { background-position: 0 29.946524%; }
.icon--materials--MeI7vMPh            { background-position: 0 30.481283%; }
.icon--materials--MqUMCRBv            { background-position: 0 31.016043%; }
.icon--materials--N4FFjtG6            { background-position: 0 31.550802%; }
.icon--materials--OSc32t8T            { background-position: 0 32.085561%; }
.icon--materials--OixZvAuX            { background-position: 0 32.620321%; }
.icon--materials--Omab2KL0            { background-position: 0 33.15508%; }
.icon--materials--PBdlEUUJ            { background-position: 0 33.68984%; }
.icon--materials--PQnANV5M            { background-position: 0 34.224599%; }
.icon--materials--PXEcia23            { background-position: 0 34.759358%; }
.icon--materials--Ptmjutd8            { background-position: 0 35.294118%; }
.icon--materials--PvwC5HWw            { background-position: 0 35.828877%; }
.icon--materials--Q188ZgUk            { background-position: 0 36.363636%; }
.icon--materials--QUNkXnAN            { background-position: 0 36.898396%; }
.icon--materials--QvrqNRIX            { background-position: 0 37.433155%; }
.icon--materials--R9TCzDRb            { background-position: 0 37.967914%; }
.icon--materials--RRlVwIy3            { background-position: 0 38.502674%; }
.icon--materials--RgofZ8xw            { background-position: 0 39.037433%; }
.icon--materials--SlPzTqEv            { background-position: 0 39.572193%; }
.icon--materials--SovVBLsG            { background-position: 0 40.106952%; }
.icon--materials--SznPOAWC            { background-position: 0 40.641711%; }
.icon--materials--TAoWxeib            { background-position: 0 41.176471%; }
.icon--materials--TdtelzYM            { background-position: 0 41.71123%; }
.icon--materials--UBduGsHw            { background-position: 0 42.245989%; }
.icon--materials--UCg0FA07            { background-position: 0 42.780749%; }
.icon--materials--UjHDbC2z            { background-position: 0 43.315508%; }
.icon--materials--WNG3lj46            { background-position: 0 43.850267%; }
.icon--materials--Wc9UEyYo            { background-position: 0 44.385027%; }
.icon--materials--WfIOFHOm            { background-position: 0 44.919786%; }
.icon--materials--WvXBApOq            { background-position: 0 45.454545%; }
.icon--materials--XE3jMiDF            { background-position: 0 45.989305%; }
.icon--materials--XbEjwVzo            { background-position: 0 46.524064%; }
.icon--materials--XkQc6WsQ            { background-position: 0 47.058824%; }
.icon--materials--YQRhIK3S            { background-position: 0 47.593583%; }
.icon--materials--Yb4GsDnh            { background-position: 0 48.128342%; }
.icon--materials--YbT8VbB3            { background-position: 0 48.663102%; }
.icon--materials--YxZRXz0b            { background-position: 0 49.197861%; }
.icon--materials--aDOid9Tc            { background-position: 0 49.73262%; }
.icon--materials--aFJ8UKCB            { background-position: 0 50.26738%; }
.icon--materials--bS8KVppE            { background-position: 0 50.802139%; }
.icon--materials--babylonian          { background-position: 0 51.336898%; }
.icon--materials--bgKL0TWu            { background-position: 0 51.871658%; }
.icon--materials--bqlyYIkN            { background-position: 0 52.406417%; }
.icon--materials--c6UMbrmv            { background-position: 0 52.941176%; }
.icon--materials--cSBeeGm9            { background-position: 0 53.475936%; }
.icon--materials--cTpC2wtg            { background-position: 0 54.010695%; }
.icon--materials--cgGsg7yG            { background-position: 0 54.545455%; }
.icon--materials--ck59DFwF            { background-position: 0 55.080214%; }
.icon--materials--coin                { background-position: 0 55.614973%; }
.icon--materials--cr86JWNG            { background-position: 0 56.149733%; }
.icon--materials--crete               { background-position: 0 56.684492%; }
.icon--materials--d2Ttn8eu            { background-position: 0 57.219251%; }
.icon--materials--dHSHsIT6            { background-position: 0 57.754011%; }
.icon--materials--diBCcSVF            { background-position: 0 58.28877%; }
.icon--materials--eYcqkC1R            { background-position: 0 58.823529%; }
.icon--materials--empire              { background-position: 0 59.358289%; }
.icon--materials--f3qFMcxz            { background-position: 0 59.893048%; }
.icon--materials--gOhYjlu4            { background-position: 0 60.427807%; }
.icon--materials--gvVtUi8k            { background-position: 0 60.962567%; }
.icon--materials--h5yVtPsV            { background-position: 0 61.497326%; }
.icon--materials--hETwQgXG            { background-position: 0 62.032086%; }
.icon--materials--halloween           { background-position: 0 62.566845%; }
.icon--materials--hrn71qGa            { background-position: 0 63.101604%; }
.icon--materials--iM4H3dkL            { background-position: 0 63.636364%; }
.icon--materials--iRUJ16Zi            { background-position: 0 64.171123%; }
.icon--materials--jJ6HDtuO            { background-position: 0 64.705882%; }
.icon--materials--jMYy4Cg8            { background-position: 0 65.240642%; }
.icon--materials--jYOs00TP            { background-position: 0 65.775401%; }
.icon--materials--jZjN3foj            { background-position: 0 66.31016%; }
.icon--materials--jzhAXLzq            { background-position: 0 66.84492%; }
.icon--materials--k6YkTDxN            { background-position: 0 67.379679%; }
.icon--materials--kZgtHg7J            { background-position: 0 67.914439%; }
.icon--materials--lHG8kq1d            { background-position: 0 68.449198%; }
.icon--materials--lS1YpWtF            { background-position: 0 68.983957%; }
.icon--materials--lknDsdKS            { background-position: 0 69.518717%; }
.icon--materials--market              { background-position: 0 70.053476%; }
.icon--materials--mhLv4Bb2            { background-position: 0 70.588235%; }
.icon--materials--mmBkNqb6            { background-position: 0 71.122995%; }
.icon--materials--mnTsYCSF            { background-position: 0 71.657754%; }
.icon--materials--mxRJxvmJ            { background-position: 0 72.192513%; }
.icon--materials--n43wZe46            { background-position: 0 72.727273%; }
.icon--materials--n4iKXhlG            { background-position: 0 73.262032%; }
.icon--materials--n8yJWVnA            { background-position: 0 73.796791%; }
.icon--materials--nIGzESkd            { background-position: 0 74.331551%; }
.icon--materials--norse               { background-position: 0 74.86631%; }
.icon--materials--oSw1qdXL            { background-position: 0 75.40107%; }
.icon--materials--oUanPK5A            { background-position: 0 75.935829%; }
.icon--materials--pEQfZS55            { background-position: 0 76.470588%; }
.icon--materials--persian             { background-position: 0 77.005348%; }
.icon--materials--pptvipbj            { background-position: 0 77.540107%; }
.icon--materials--pq54FD6j            { background-position: 0 78.074866%; }
.icon--materials--qFbarSLf            { background-position: 0 78.609626%; }
.icon--materials--qLdSDUMD            { background-position: 0 79.144385%; }
.icon--materials--qW81Bzd7            { background-position: 0 79.679144%; }
.icon--materials--qlSgsuFu            { background-position: 0 80.213904%; }
.icon--materials--quest               { background-position: 0 80.748663%; }
.icon--materials--rFGSE2Nc            { background-position: 0 81.283422%; }
.icon--materials--riHxVIeE            { background-position: 0 81.818182%; }
.icon--materials--sgabRnWk            { background-position: 0 82.352941%; }
.icon--materials--skirmish_hall       { background-position: 0 82.887701%; }
.icon--materials--smYWOByV            { background-position: 0 83.42246%; }
.icon--materials--sparta              { background-position: 0 83.957219%; }
.icon--materials--summer              { background-position: 0 84.491979%; }
.icon--materials--tjKky06Z            { background-position: 0 85.026738%; }
.icon--materials--u6GIpfwu            { background-position: 0 85.561497%; }
.icon--materials--uFYYJfVQ            { background-position: 0 86.096257%; }
.icon--materials--ueh07xgh            { background-position: 0 86.631016%; }
.icon--materials--uffqvTry            { background-position: 0 87.165775%; }
.icon--materials--uzKDZ1T1            { background-position: 0 87.700535%; }
.icon--materials--v0YFjv6w            { background-position: 0 88.235294%; }
.icon--materials--wEbtF7yO            { background-position: 0 88.770053%; }
.icon--materials--wOJHsDif            { background-position: 0 89.304813%; }
.icon--materials--whDTzAIY            { background-position: 0 89.839572%; }
.icon--materials--winter              { background-position: 0 90.374332%; }
.icon--materials--wmNwlLwG            { background-position: 0 90.909091%; }
.icon--materials--workshop-alchemist  { background-position: 0 91.44385%; }
.icon--materials--workshop-farmer     { background-position: 0 91.97861%; }
.icon--materials--workshop-gem-cutter { background-position: 0 92.513369%; }
.icon--materials--workshop-logger     { background-position: 0 93.048128%; }
.icon--materials--workshop-mason      { background-position: 0 93.582888%; }
.icon--materials--workshop-scrivener  { background-position: 0 94.117647%; }
.icon--materials--workshop-skinner    { background-position: 0 94.652406%; }
.icon--materials--workshop-smelter    { background-position: 0 95.187166%; }
.icon--materials--workshop-toolmaker  { background-position: 0 95.721925%; }
.icon--materials--workshop-weaver     { background-position: 0 96.256684%; }
.icon--materials--xDH8fO5l            { background-position: 0 96.791444%; }
.icon--materials--xgOPAWmV            { background-position: 0 97.326203%; }
.icon--materials--ylBCjJyx            { background-position: 0 97.860963%; }
.icon--materials--ypkuDEOo            { background-position: 0 98.395722%; }
.icon--materials--zAr2r4Zh            { background-position: 0 98.930481%; }
.icon--materials--zfJBS7qg            { background-position: 0 99.465241%; }
.icon--materials--zo8QAgRD            { background-position: 0 100%; }
