.icon--materials {
  display: block;
  background-image: url("/assets/sprites/materials.webp");
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-clip: padding-box;
  width: 64px;
  height: 64px;
  max-width: 100%;
  overflow: hidden;
}
.icon--materials--074ckRPM            { background-position: 0 0; }
.icon--materials--0Gm2XAn4            { background-position: 0 7.142857%; }
.icon--materials--0RhgFTPh            { background-position: 0 14.285714%; }
.icon--materials--4aGuwZt6            { background-position: 0 21.428571%; }
.icon--materials--7IT7hVOc            { background-position: 0 28.571429%; }
.icon--materials--A0DNNS3N            { background-position: 0 35.714286%; }
.icon--materials--bS8KVppE            { background-position: 0 42.857143%; }
.icon--materials--diBCcSVF            { background-position: 0 50%; }
.icon--materials--H40og3GB            { background-position: 0 57.142857%; }
.icon--materials--JDgm6NH1            { background-position: 0 64.285714%; }
.icon--materials--McKy33Hv            { background-position: 0 71.428571%; }
.icon--materials--pEQfZS55            { background-position: 0 78.571429%; }
.icon--materials--skirmish_hall       { background-position: 0 85.714286%; }
.icon--materials--whDTzAIY            { background-position: 0 92.857143%; }
.icon--materials--zAr2r4Zh            { background-position: 0 100%; }
.icon--materials--07EF31H1            { background-position: 7.142857% 0; }
.icon--materials--0LBVX2GX            { background-position: 7.142857% 7.142857%; }
.icon--materials--0waCSyRF            { background-position: 7.142857% 14.285714%; }
.icon--materials--4nkBKQzU            { background-position: 7.142857% 21.428571%; }
.icon--materials--7UV2gNGm            { background-position: 7.142857% 28.571429%; }
.icon--materials--aDOid9Tc            { background-position: 7.142857% 35.714286%; }
.icon--materials--c6UMbrmv            { background-position: 7.142857% 42.857143%; }
.icon--materials--DJHC1x5S            { background-position: 7.142857% 50%; }
.icon--materials--h5yVtPsV            { background-position: 7.142857% 57.142857%; }
.icon--materials--JiibtqKJ            { background-position: 7.142857% 64.285714%; }
.icon--materials--MeI7vMPh            { background-position: 7.142857% 71.428571%; }
.icon--materials--persian             { background-position: 7.142857% 78.571429%; }
.icon--materials--SlPzTqEv            { background-position: 7.142857% 85.714286%; }
.icon--materials--winter              { background-position: 7.142857% 92.857143%; }
.icon--materials--zfJBS7qg            { background-position: 7.142857% 100%; }
.icon--materials--0nZ0xWA0            { background-position: 14.285714% 0; }
.icon--materials--0OTAgXq1            { background-position: 14.285714% 7.142857%; }
.icon--materials--134boRXV            { background-position: 14.285714% 14.285714%; }
.icon--materials--4xkc17yR            { background-position: 14.285714% 21.428571%; }
.icon--materials--847kMziU            { background-position: 14.285714% 28.571429%; }
.icon--materials--aFJ8UKCB            { background-position: 14.285714% 35.714286%; }
.icon--materials--celtic              { background-position: 14.285714% 42.857143%; }
.icon--materials--dxoRd49f            { background-position: 14.285714% 50%; }
.icon--materials--H9WAyBCs            { background-position: 14.285714% 57.142857%; }
.icon--materials--jJ6HDtuO            { background-position: 14.285714% 64.285714%; }
.icon--materials--MG2PRWiU            { background-position: 14.285714% 71.428571%; }
.icon--materials--pptvipbj            { background-position: 14.285714% 78.571429%; }
.icon--materials--smYWOByV            { background-position: 14.285714% 85.714286%; }
.icon--materials--wmNwlLwG            { background-position: 14.285714% 92.857143%; }
.icon--materials--zo8QAgRD            { background-position: 14.285714% 100%; }
.icon--materials--1Hg71Oo9            { background-position: 21.428571% 0; }
.icon--materials--1hNvmDeI            { background-position: 21.428571% 7.142857%; }
.icon--materials--2y6WYdR1            { background-position: 21.428571% 14.285714%; }
.icon--materials--5FHXSfrG            { background-position: 21.428571% 21.428571%; }
.icon--materials--881ngySs            { background-position: 21.428571% 28.571429%; }
.icon--materials--B5j0DVSD            { background-position: 21.428571% 35.714286%; }
.icon--materials--cgGsg7yG            { background-position: 21.428571% 42.857143%; }
.icon--materials--E0FAEJGs            { background-position: 21.428571% 50%; }
.icon--materials--halloween           { background-position: 21.428571% 57.142857%; }
.icon--materials--jMYy4Cg8            { background-position: 21.428571% 64.285714%; }
.icon--materials--mhLv4Bb2            { background-position: 21.428571% 71.428571%; }
.icon--materials--pq54FD6j            { background-position: 21.428571% 78.571429%; }
.icon--materials--SovVBLsG            { background-position: 21.428571% 85.714286%; }
.icon--materials--WNG3lj46            { background-position: 21.428571% 92.857143%; }
.icon--materials--5GoYKGTU            { background-position: 28.571429% 0; }
.icon--materials--61CuF5kr            { background-position: 28.571429% 7.142857%; }
.icon--materials--6Q8xPXyc            { background-position: 28.571429% 14.285714%; }
.icon--materials--70cjry2Y            { background-position: 28.571429% 21.428571%; }
.icon--materials--8PIK9gGB            { background-position: 28.571429% 28.571429%; }
.icon--materials--babylonian          { background-position: 28.571429% 35.714286%; }
.icon--materials--Cikh67Yj            { background-position: 28.571429% 42.857143%; }
.icon--materials--egyptian            { background-position: 28.571429% 50%; }
.icon--materials--hETwQgXG            { background-position: 28.571429% 57.142857%; }
.icon--materials--JWtD9HNg            { background-position: 28.571429% 64.285714%; }
.icon--materials--mmBkNqb6            { background-position: 28.571429% 71.428571%; }
.icon--materials--PQnANV5M            { background-position: 28.571429% 78.571429%; }
.icon--materials--sparta              { background-position: 28.571429% 85.714286%; }
.icon--materials--wOJHsDif            { background-position: 28.571429% 92.857143%; }
.icon--materials--8t4gqN9T            { background-position: 35.714286% 0; }
.icon--materials--8xS2bfD3            { background-position: 35.714286% 7.142857%; }
.icon--materials--8zayPs1h            { background-position: 35.714286% 14.285714%; }
.icon--materials--9blhMDeV            { background-position: 35.714286% 21.428571%; }
.icon--materials--9h6wKfgJ            { background-position: 35.714286% 28.571429%; }
.icon--materials--bahrams_lottery     { background-position: 35.714286% 35.714286%; }
.icon--materials--ck59DFwF            { background-position: 35.714286% 42.857143%; }
.icon--materials--ELAFKNWj            { background-position: 35.714286% 50%; }
.icon--materials--HkvWSAqZ            { background-position: 35.714286% 57.142857%; }
.icon--materials--jYOs00TP            { background-position: 35.714286% 64.285714%; }
.icon--materials--mnTsYCSF            { background-position: 35.714286% 71.428571%; }
.icon--materials--Ptmjutd8            { background-position: 35.714286% 78.571429%; }
.icon--materials--summer              { background-position: 35.714286% 85.714286%; }
.icon--materials--workshop-alchemist  { background-position: 35.714286% 92.857143%; }
.icon--materials--bgKL0TWu            { background-position: 42.857143% 0; }
.icon--materials--Bj3IEnyT            { background-position: 42.857143% 7.142857%; }
.icon--materials--Bk8n6i8b            { background-position: 42.857143% 14.285714%; }
.icon--materials--BKYSw55y            { background-position: 42.857143% 21.428571%; }
.icon--materials--Bno6FcDj            { background-position: 42.857143% 28.571429%; }
.icon--materials--bqlyYIkN            { background-position: 42.857143% 35.714286%; }
.icon--materials--coin                { background-position: 42.857143% 42.857143%; }
.icon--materials--ELITBz7S            { background-position: 42.857143% 50%; }
.icon--materials--hrn71qGa            { background-position: 42.857143% 57.142857%; }
.icon--materials--jzhAXLzq            { background-position: 42.857143% 64.285714%; }
.icon--materials--moes_mystorium      { background-position: 42.857143% 71.428571%; }
.icon--materials--PvwC5HWw            { background-position: 42.857143% 78.571429%; }
.icon--materials--SznPOAWC            { background-position: 42.857143% 85.714286%; }
.icon--materials--workshop-farmer     { background-position: 42.857143% 92.857143%; }
.icon--materials--cr86JWNG            { background-position: 50% 0; }
.icon--materials--crete               { background-position: 50% 7.142857%; }
.icon--materials--cSBeeGm9            { background-position: 50% 14.285714%; }
.icon--materials--CSlcgqPb            { background-position: 50% 21.428571%; }
.icon--materials--cTpC2wtg            { background-position: 50% 28.571429%; }
.icon--materials--d2Ttn8eu            { background-position: 50% 35.714286%; }
.icon--materials--dHSHsIT6            { background-position: 50% 42.857143%; }
.icon--materials--empire              { background-position: 50% 50%; }
.icon--materials--HzzzEBij            { background-position: 50% 57.142857%; }
.icon--materials--jZjN3foj            { background-position: 50% 64.285714%; }
.icon--materials--MqUMCRBv            { background-position: 50% 71.428571%; }
.icon--materials--PXEcia23            { background-position: 50% 78.571429%; }
.icon--materials--TAoWxeib            { background-position: 50% 85.714286%; }
.icon--materials--workshop-gem-cutter { background-position: 50% 92.857143%; }
.icon--materials--eYcqkC1R            { background-position: 57.142857% 0; }
.icon--materials--F3jCF2e2            { background-position: 57.142857% 7.142857%; }
.icon--materials--f3qFMcxz            { background-position: 57.142857% 14.285714%; }
.icon--materials--GCKktE15            { background-position: 57.142857% 21.428571%; }
.icon--materials--gOhYjlu4            { background-position: 57.142857% 28.571429%; }
.icon--materials--greek               { background-position: 57.142857% 35.714286%; }
.icon--materials--gvVtUi8k            { background-position: 57.142857% 42.857143%; }
.icon--materials--Gx2g2tjN            { background-position: 57.142857% 50%; }
.icon--materials--I1g5ncIv            { background-position: 57.142857% 57.142857%; }
.icon--materials--k6YkTDxN            { background-position: 57.142857% 64.285714%; }
.icon--materials--MVhTrlNp            { background-position: 57.142857% 71.428571%; }
.icon--materials--Q188ZgUk            { background-position: 57.142857% 78.571429%; }
.icon--materials--TdtelzYM            { background-position: 57.142857% 85.714286%; }
.icon--materials--workshop-logger     { background-position: 57.142857% 92.857143%; }
.icon--materials--i8bVonZI            { background-position: 64.285714% 0; }
.icon--materials--IadyjdUO            { background-position: 64.285714% 7.142857%; }
.icon--materials--ICmQqXxh            { background-position: 64.285714% 14.285714%; }
.icon--materials--iM4H3dkL            { background-position: 64.285714% 21.428571%; }
.icon--materials--indian              { background-position: 64.285714% 28.571429%; }
.icon--materials--iRUJ16Zi            { background-position: 64.285714% 35.714286%; }
.icon--materials--ItrGNDRZ            { background-position: 64.285714% 42.857143%; }
.icon--materials--IuZWj97m            { background-position: 64.285714% 50%; }
.icon--materials--J7yBhHCF            { background-position: 64.285714% 57.142857%; }
.icon--materials--Kxu9OwTL            { background-position: 64.285714% 64.285714%; }
.icon--materials--mxRJxvmJ            { background-position: 64.285714% 71.428571%; }
.icon--materials--qFbarSLf            { background-position: 64.285714% 78.571429%; }
.icon--materials--tjKky06Z            { background-position: 64.285714% 85.714286%; }
.icon--materials--workshop-mason      { background-position: 64.285714% 92.857143%; }
.icon--materials--KYrH8DgR            { background-position: 71.428571% 0; }
.icon--materials--kZgtHg7J            { background-position: 71.428571% 7.142857%; }
.icon--materials--LaVyUvxI            { background-position: 71.428571% 14.285714%; }
.icon--materials--LAwvEiGQ            { background-position: 71.428571% 21.428571%; }
.icon--materials--Ld3Qn1Ce            { background-position: 71.428571% 28.571429%; }
.icon--materials--lHG8kq1d            { background-position: 71.428571% 35.714286%; }
.icon--materials--lknDsdKS            { background-position: 71.428571% 42.857143%; }
.icon--materials--lS1YpWtF            { background-position: 71.428571% 50%; }
.icon--materials--LZ415m08            { background-position: 71.428571% 57.142857%; }
.icon--materials--market              { background-position: 71.428571% 64.285714%; }
.icon--materials--n43wZe46            { background-position: 71.428571% 71.428571%; }
.icon--materials--qLdSDUMD            { background-position: 71.428571% 78.571429%; }
.icon--materials--tooQA8rX            { background-position: 71.428571% 85.714286%; }
.icon--materials--workshop-scrivener  { background-position: 71.428571% 92.857143%; }
.icon--materials--N4FFjtG6            { background-position: 78.571429% 0; }
.icon--materials--n4iKXhlG            { background-position: 78.571429% 7.142857%; }
.icon--materials--n8yJWVnA            { background-position: 78.571429% 14.285714%; }
.icon--materials--nIGzESkd            { background-position: 78.571429% 21.428571%; }
.icon--materials--norse               { background-position: 78.571429% 28.571429%; }
.icon--materials--OixZvAuX            { background-position: 78.571429% 35.714286%; }
.icon--materials--Omab2KL0            { background-position: 78.571429% 42.857143%; }
.icon--materials--OSc32t8T            { background-position: 78.571429% 50%; }
.icon--materials--oSw1qdXL            { background-position: 78.571429% 57.142857%; }
.icon--materials--oUanPK5A            { background-position: 78.571429% 64.285714%; }
.icon--materials--PBdlEUUJ            { background-position: 78.571429% 71.428571%; }
.icon--materials--qlSgsuFu            { background-position: 78.571429% 78.571429%; }
.icon--materials--u6GIpfwu            { background-position: 78.571429% 85.714286%; }
.icon--materials--workshop-skinner    { background-position: 78.571429% 92.857143%; }
.icon--materials--quest               { background-position: 85.714286% 0; }
.icon--materials--QUNkXnAN            { background-position: 85.714286% 7.142857%; }
.icon--materials--QvrqNRIX            { background-position: 85.714286% 14.285714%; }
.icon--materials--qW81Bzd7            { background-position: 85.714286% 21.428571%; }
.icon--materials--R9TCzDRb            { background-position: 85.714286% 28.571429%; }
.icon--materials--rFGSE2Nc            { background-position: 85.714286% 35.714286%; }
.icon--materials--RgofZ8xw            { background-position: 85.714286% 42.857143%; }
.icon--materials--riHxVIeE            { background-position: 85.714286% 50%; }
.icon--materials--roman               { background-position: 85.714286% 57.142857%; }
.icon--materials--RRlVwIy3            { background-position: 85.714286% 64.285714%; }
.icon--materials--RSZk8MBQ            { background-position: 85.714286% 71.428571%; }
.icon--materials--sgabRnWk            { background-position: 85.714286% 78.571429%; }
.icon--materials--UBduGsHw            { background-position: 85.714286% 85.714286%; }
.icon--materials--workshop-smelter    { background-position: 85.714286% 92.857143%; }
.icon--materials--UCg0FA07            { background-position: 92.857143% 0; }
.icon--materials--ueh07xgh            { background-position: 92.857143% 7.142857%; }
.icon--materials--uffqvTry            { background-position: 92.857143% 14.285714%; }
.icon--materials--uFYYJfVQ            { background-position: 92.857143% 21.428571%; }
.icon--materials--UjHDbC2z            { background-position: 92.857143% 28.571429%; }
.icon--materials--UntniuHM            { background-position: 92.857143% 35.714286%; }
.icon--materials--uzKDZ1T1            { background-position: 92.857143% 42.857143%; }
.icon--materials--v0YFjv6w            { background-position: 92.857143% 50%; }
.icon--materials--vQM18Yih            { background-position: 92.857143% 57.142857%; }
.icon--materials--w6XGfDoG            { background-position: 92.857143% 64.285714%; }
.icon--materials--Wc9UEyYo            { background-position: 92.857143% 71.428571%; }
.icon--materials--wEbtF7yO            { background-position: 92.857143% 78.571429%; }
.icon--materials--WfIOFHOm            { background-position: 92.857143% 85.714286%; }
.icon--materials--workshop-toolmaker  { background-position: 92.857143% 92.857143%; }
.icon--materials--workshop-weaver     { background-position: 100% 0; }
.icon--materials--WQNluUQh            { background-position: 100% 7.142857%; }
.icon--materials--WvXBApOq            { background-position: 100% 14.285714%; }
.icon--materials--XbEjwVzo            { background-position: 100% 21.428571%; }
.icon--materials--xDH8fO5l            { background-position: 100% 28.571429%; }
.icon--materials--XE3jMiDF            { background-position: 100% 35.714286%; }
.icon--materials--xgOPAWmV            { background-position: 100% 42.857143%; }
.icon--materials--XkQc6WsQ            { background-position: 100% 50%; }
.icon--materials--Yb4GsDnh            { background-position: 100% 57.142857%; }
.icon--materials--YbT8VbB3            { background-position: 100% 64.285714%; }
.icon--materials--ylBCjJyx            { background-position: 100% 71.428571%; }
.icon--materials--ypkuDEOo            { background-position: 100% 78.571429%; }
.icon--materials--YQRhIK3S            { background-position: 100% 85.714286%; }
.icon--materials--YxZRXz0b            { background-position: 100% 92.857143%; }
